.dxgvControl_Aqua,
.dxgvDisabled_Aqua
{
	border: 1px Solid #A3C0E8;
	font: 12px Tahoma, Geneva, sans-serif;
	background-color: #FFFFFF;
	color: #4F4F4F;
	cursor: default;
}
.dxgvDisabled_Aqua
{
	color: Gray;
}
.dxgvControl_Aqua a
{
	color: #3F66A0;
}
.dxgvControl_Aqua a:hover
{
	color: #F39128;
}
.dxgvDisabled_Aqua a
{
	color: Gray;
}

.dxgvEmptyDataRow_Aqua.dxgvLVR > td.dxgv,
.dxgvDataRow_Aqua.dxgvLVR > td.dxgv,
.dxgvGroupRow_Aqua.dxgvLVR > td.dxgv
{
    border-bottom-width: 0;
}

.dxgvRBB .dxgvEmptyDataRow_Aqua.dxgvLVR > td.dxgv,
.dxgvRBB .dxgvDataRow_Aqua.dxgvLVR > td.dxgv,
.dxgvRBB .dxgvGroupRow_Aqua.dxgvLVR > td.dxgv
{
    border-bottom-width: 1px !important;
}

.dxgvLoadingPanel_Aqua,
.dxgvLoadingPanelWithContent_Aqua 
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #2C4D79;
	background-color: White;
	border: 1px solid #67A2C6;
}
.dxgvLoadingPanel_Aqua  td.dx,
.dxgvLoadingPanelWithContent_Aqua td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 20px 8px;
}
.dxgvLoadingPanel_Aqua .dxlp-loadingImage,
.dxgvLoadingPanelWithContent_Aqua .dxlp-loadingImage,
.dxgvLoadingPanelStatusBar_Aqua .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height:18px;
	width:18px;
}
.dxgvLoadingPanelStatusBar_Aqua
{
	background-color: transparent;
}
.dxgvLoadingPanelStatusBar_Aqua td
{
	white-space: nowrap;
	text-align: center;
	padding: 0px 2px;
}

.dxgvFilterPopupWindow_Aqua
{
	color: Black;
	border: 1px solid #A3C0E8;
}
.dxgvFilterPopupItemsArea_Aqua
{
	color: Black;
	background-color: #FFFFFF;
}
.dxgvFilterPopupButtonPanel_Aqua
{
	background-color: #ECF4FE;
	border: 1px solid #AECAF0;
	color: #2C4D79;
}

.dxgvFilterPopupItem_Aqua td.dxgv,
.dxgvFilterPopupActiveItem_Aqua td.dxgv,
.dxgvFilterPopupSelectedItem_Aqua td.dxgv
{
	padding: 3px 2px 4px 4px;
	cursor: default;
	white-space: nowrap;
}
.dxgvFilterPopupActiveItem_Aqua
{
	background-color: #FFE7A2;
	color: Black;
}
.dxgvFilterPopupSelectedItem_Aqua
{
	color: Black;
	background-color: #FFBD69;
}

.dxgvTable_Aqua
{
	background-color: #FFFFFF;
	border-width: 0;
	border-collapse: separate!important;
	overflow: hidden;
}
.dxgvTable_Aqua .dxgvHEC
{
	background-color: #FFFFFF;
	border-width: 0;
	overflow: hidden;
}
.dxgvControl_Aqua .dxgvFSDC .dxgvFooter_Aqua td.dxgv
{
    border-bottom: 0;
}
.dxgvControl_Aqua .dxgvFGI
{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.dxgvControl_Aqua .dxgvFGI
{
    right: 5px;
    left: auto;
}
*[dir="rtl"].dxgvControl_Aqua .dxgvFGI
{
    right: auto;
    left: 5px;
}
.dxgvInlineEditRow_Aqua,
.dxgvDataRow_Aqua
{
}
.dxgvInlineEditRow_Aqua td.dxgv
{
	border-bottom: 1px Solid #A3C0E8;
	border-right: 1px Solid #A3C0E8;
}
.dxgvInlineEditRow_Aqua td.dxgvIndentCell
{
	background-color: #DBEBFF;
}
.dxgvDataRowAlt_Aqua
{
	background-color: #F7FAFF;
}
.dxgvFilterRow_Aqua
{
	background-color: #DBEBFF;
}
.dxgvEditForm_Aqua
{
	background-color: #F7FAFF;
}
.dxgvEditForm_Aqua td.dxgv
{
	border-bottom: 1px Solid #A3C0E8;
	padding: 15px;
}
.dxgvEditForm_Aqua td.dxgvIndentCell
{
	background: #dbebff none;
	border-right: 1px Solid #aecaf0;
	border-left: 1px Solid #aecaf0;
	border-top-width: 0px;
}
.dxgvSelectedRow_Aqua
{
	background-color: #FFBD69;
	color: #000000;
}
.dxgvFocusedRow_Aqua
{
	background-color: #FF9C3C;
	color: #000000;
}
.dxgvSelectedRow_Aqua td.dxgvCommandColumn_Aqua a, 
.dxgvSelectedRow_Aqua td.dxgvAIC a, 
.dxgvFocusedRow_Aqua td.dxgvCommandColumn_Aqua a,
.dxgvFocusedRow_Aqua td.dxgvAIC a
{
	color: #000000;
}
.dxgvPreviewRow_Aqua
{
	background-color: #F7FAFF;
	color: #000000;
}
.dxgvDetailRow_Aqua td.dxgv,
.dxgvPreviewRow_Aqua td.dxgv,
.dxgvEmptyDataRow_Aqua td.dxgv
{
	padding: 30px 2px 30px 4px;
	border-bottom: 1px Solid #BED6F6;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}
.dxgvPreviewRow_Aqua td.dxgv
{
	padding: 15px 15px 15px 20px;
}
.dxgvDetailRow_Aqua td.dxgvDetailCell_Aqua
{
	padding: 19px;
}
.dxgvDetailRow_Aqua td.dxgvIndentCell
{
	padding-left: 0px;
	padding-right: 0px;
	border-bottom: 1px Solid #BED6F6;
}
.dxgvDetailRow_Aqua.dxgvADR .dxgvADT > tbody > tr > td
{
    padding: 6px 6px 5px 0;
}
.dxgvDetailRow_Aqua.dxgvADR .dxgvADT > tbody > tr > td .dxeTextBoxSys,
.dxgvDetailRow_Aqua.dxgvADR .dxgvADT > tbody > tr > td .dxichCellSys
{
    margin: -4px 0 -3px 0;
}
.dxgvDetailRow_Aqua.dxgvADR .dxgvADCC
{
    color: #7F7F7F;
}
.dxgvDetailRow_Aqua.dxgvADR.dxgvFocusedRow_Aqua .dxgvADCC,
.dxgvDetailRow_Aqua.dxgvADR.dxgvSelectedRow_Aqua .dxgvADCC
{
    color: inherit;
}
.dxgvDetailRow_Aqua.dxgvADR.dxgvFocusedRow_Aqua .dxgvADCMDC a,
.dxgvDetailRow_Aqua.dxgvADR.dxgvSelectedRow_Aqua .dxgvADCMDC a
{
    color: black;
}

.dxgvEmptyDataRow_Aqua
{
	background-color: #EEF3FF;
	color: #4F4F4F;
}
.dxgvEmptyDataRow_Aqua td.dxgv
{
	text-align: center;
}

.dxgvEditFormDisplayRow_Aqua td.dxgv,
.dxgvDetailCell_Aqua td.dxgv,
.dxgvDataRow_Aqua td.dxgv,
.dxgvDetailRow_Aqua.dxgvADR td.dxgvAIC
{
	overflow: hidden;
	border-top-width: 0;
	border-left-width: 0;
	border-bottom: 1px Solid #BED6F6;
	border-right: 1px Solid #BED6F6;
	padding: 4px 5px 5px;
}
.dxgvDataRow_Aqua td.dxgvAIC,
.dxgvInlineEditRow_Aqua td.dxgvAIC
{
    padding: 0 4px;
}
.dxgvDetailRow_Aqua.dxgvADR td.dxgvAIC
{
    padding: 6px 4px;
}
.dxgvEditFormDisplayRow_Aqua td.dxgvCommandColumn_Aqua,
.dxgvDataRow_Aqua td.dxgvCommandColumn_Aqua
{
	padding: 4px 5px 5px;
}
.dxgvEditFormDisplayRow_Aqua
{
	background-color: #FFFFFF;
}
.dxgvEditFormDisplayRow_Aqua td.dxgv
{
}
.dxgvEditFormDisplayRow_Aqua td.dxgvIndentCell
{
	background: #dbebff none;
	border-right: 1px Solid #aecaf0;
	border-left: 1px Solid #aecaf0;
	border-top-width: 0px;
}
.dxgvEditingErrorRow_Aqua
{
	background-color: #F3D6D6;
	color: #BA1717;
}
.dxgvEditingErrorRow_Aqua td.dxgv
{
	white-space: pre-wrap;
	border-bottom: 1px Solid #A3C0E8;
	border-right-width: 0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 6px 12px;
}

.dxgvFilterRow_Aqua td.dxgv
{
	border-bottom: 1px Solid #AECAF0;
	border-right-width: 0px;
	border-top-width: 0;
	border-left-width: 0;
	padding: 2px 1px;
	overflow: hidden;
}
.dxgvGroupRow_Aqua
{
	background-color: #DBEBFF;
	color: #4D8AB5;
}
.dxgvFocusedGroupRow_Aqua
{
	background-color: #FFBD69;
	color: #010100!important;
}
.dxgvGroupRow_Aqua td.dxgv,
.dxgvFocusedGroupRow_Aqua td.dxgv
{
	border: 0px none;
	vertical-align: middle;
	white-space: nowrap;
	border-bottom: 1px Solid #AECAF0;
	padding: 4px 5px 5px;
    background-color: inherit;
}
.dxgvFocusedGroupRow_Aqua td.dxgvIndentCell,
.dxgvFocusedRow_Aqua td.dxgvIndentCell,
.dxgvSelectedRow_Aqua td.dxgvIndentCell
{
	background-color: #DBEBFF;
	border-right: 1px solid #A3C0E8;
	border-left: 1px solid #A3C0E8;
	border-top-width: 0px;
}

.dxgvFocusedGroupRow_Aqua td.dxgv
{
	border-bottom: 1px Solid #AECAF0;
}

.dxgvHeaderPanel_Aqua
{
	background-color: #E2F0FF;
	color: #283B56;
	padding: 8px 4px 8px 3px;
	border-bottom: 1px Solid #A3C0E8;
}

.dxIE .dxgvMSDraggable .dxgvHeader_Aqua,
.dxIE .dxgvMSDraggable.dxgvGroupPanel_Aqua
{
    -ms-touch-action: pinch-zoom;
}
.dxEdge .dxgvMSDraggable .dxgvHeader_Aqua,
.dxEdge .dxgvMSDraggable.dxgvGroupPanel_Aqua
{
    touch-action: pinch-zoom;
}
.dxgvHeader_Aqua
{
	cursor: pointer;
	white-space: nowrap;
	padding: 5px;
	border: 1px Solid #A3C0E8;
	background: #E2F0FF url('gvHeaderBackground.gif') repeat-x top;
	overflow: hidden;
	font-weight: normal;
	text-align: left;
}

.dxgvHeader_Aqua a,
.dxgvHeader_Aqua a:hover
{
	color: #3F66A0;
}

.dxgvHeader_Aqua,
.dxgvHeader_Aqua table
{
	color: #283B56;
}
.dxgvHeader_Aqua td
{
	white-space: nowrap;
}
.dxgvHeader_Aqua a.dxgvCommandColumnItem_Aqua
{
	margin: 0px 3px 0px 0px;
}
.dxgvHeader_Aqua a.dxgvCommandColumnItem_Aqua:hover
{
	color: #F39128;
}
.dxgvCustomization_Aqua, 
.dxgvPopupEditForm_Aqua
{
	padding: 0;
	margin: 0;
}
.dxgvAdaptiveGroupPanel_Aqua,
.dxgvGroupPanel_Aqua
{
	color: #94a6be;
	border-bottom: 1px Solid #A3C0E8;
	background: #ECF4FE url('gvGroupPanelBackground.gif') repeat-x bottom;
}
.dxgvGroupPanel_Aqua
{
	padding: 10px 4px 10px 6px;
    white-space: nowrap;
}
.dxgvAdaptiveGroupPanel_Aqua
{
    padding-left: 6px;
    padding-top: 10px;
}
.dxgvAdaptiveGroupPanel_Aqua div.dxgvADH
{
    margin-right: 4px;
    margin-bottom: 8px;
}
.dxgvAdaptiveGroupPanel_Aqua.dxgvEAHP
{
    padding-bottom: 10px;
}
.dxgvAdaptiveHeaderPanel_Aqua
{
    background: #ECF4FE url('gvGroupPanelBackground.gif') repeat-x bottom;
    border-bottom: 1px solid #bed6f6;
    color: #94a6be;
    padding-top: 10px;
}
.dxgvAdaptiveHeaderPanel_Aqua.dxgvEAHP
{
    padding: 10px 7px;
}
.dxgvAdaptiveFooterPanel_Aqua
{
    background-color: #EEF3FF;
    padding-top: 6px;
}
.dxgvAdaptiveHeaderPanel_Aqua,
.dxgvAdaptiveFooterPanel_Aqua
{
    padding-left: 24px;
}
.dxgvFooter_Aqua
{
	background-color: #EEF3FF;
	white-space: nowrap;
}
.dxgvFooter_Aqua td.dxgv
{
	padding: 6px 5px 7px;
	border-bottom: 1px Solid #A3C0E8;
	border-right-width: 0px;
}
.dxgvGroupFooter_Aqua
{
	background-color: #EEF3FF;
	white-space: nowrap;
}
.dxgvGroupFooter_Aqua td.dxgv
{
	padding: 6px 5px 7px;
	border-bottom: 1px Solid #A3C0E8;
	border-right-width: 0px;
}

.dxgvDataRow_Aqua td.dxgvIndentCell,
.dxgvDetailRow_Aqua td.dxgvIndentCell,
.dxgvPreviewRow_Aqua td.dxgvIndentCell,
.dxgvGroupRow_Aqua td.dxgvIndentCell,
.dxgvGroupFooter_Aqua td.dxgvIndentCell
{
	background-color: #DBEBFF;
	border-right: 1px solid #A3C0E8;
	border-left: 1px solid #A3C0E8;
	border-top-width: 0px;
}

.dxgvTitlePanel_Aqua,
.dxgvTable_Aqua caption
{
	font-weight: normal;
	padding: 5px 5px 6px;
	text-align: center;
	border-bottom: 1px Solid #A3C0E8;
	color: #283B56;
	background-color: #F7FAFF;
}
.dxgvStatusBar_Aqua
{
	border-top: 1px Solid #A3C0E8;
	background-color: #EEF3FF;
}
.dxgvStatusBar_Aqua tr.dxgv
{
	height: 20px;
}
.dxgvStatusBar_Aqua tr.dxgv > td
{
	padding: 4px;
}
.dxgvStatusBar_Aqua tr.dxgv span .dxbButtonSys:first-child
{
	margin-left: 2px;
}
.dxgvCommandColumn_Aqua
{
	padding: 2px 0px 2px 2px;
    white-space: nowrap;
}
.dxgvCommandColumn_Aqua a
{
	margin: 0px 3px 0px 0px;
}
.dxgvCommandColumnItem_Aqua
{
}
.dxbButton_Aqua[class~="dxgvCommandColumnItem_Aqua"],
.dxgvEditFormTable_Aqua div.dxbButton_Aqua
{
	margin: 0px 2px -1px;
}
.dxbButton_Aqua[class~="dxgvCommandColumnItem_Aqua"] .dxb
{
	padding-top: 0;
    padding-bottom: 0;
}
.dxgvFilterRow_Aqua a.dxgvCommandColumnItem_Aqua
{
    display: inline-block;
    margin-top: 1px;
}

.dxgvEditFormTable_Aqua
{
	margin: 10px 0px;
	padding: 0px;
	color: #000000;
}
.dxgvEditFormCaption_Aqua
{
	padding: 5px 4px 4px 8px;
	white-space: nowrap;
}

.dxgvInlineEditCell_Aqua
{
	padding: 1px;
}
.dxgvInlineEditCell_Aqua .dxeButtonEdit_Aqua td.dxgv,
.dxgvInlineEditCell_Aqua .dxeTextBox_Aqua td.dxgv
{
	padding-left: 1px;
}
.dxgvEditFormCell_Aqua
{
	padding: 4px;
	border-width: 0;
}

.dxgvFilterBar_Aqua
{
	border-top: 1px solid #A3C0E8;
	background: #B7D7FF none;
}
.dxgvFilterBar_Aqua a
{
	color: #283B56;
	text-decoration: underline;
}
.dxgvFilterBar_Aqua a:hover
{
	color: #F39128;
}
.dxgvFilterBarCheckBoxCell_Aqua
{
	padding: 0 7px 0 3px;
}
.dxgvFilterBarImageCell_Aqua
{
	padding: 0 1px 0 3px;
	cursor: pointer;
}
.dxgvFilterBarExpressionCell_Aqua
{
	padding: 5px 5px 8px 0;
	white-space: nowrap;
}
.dxgvFilterBarClearButtonCell_Aqua
{
	padding: 5px 6px 8px;
}
.dxgvFilterBuilderMainArea_Aqua
{
	background: white none;
	padding: 6px 2px;
} 
.dxgvFilterBuilderButtonArea_Aqua
{
	background-color: #EEF3FF;
	border-top: 1px solid #A3C0E8;
	padding: 6px;
	white-space: nowrap;
}

.dxgvPagerBottomPanel_Aqua, 
.dxgvPagerTopPanel_Aqua
{
	padding-top: 4px;
	padding-bottom: 4px;
	background: #C6DEFF url('gvPagerBottomPanelBackground.gif') repeat-x;
}

.dxgvDataRowHover_Aqua
{
	background: #FFE7A2 none;
	color: #4F4F4F;
}

.dxgvControl_Aqua .dxpLite_Aqua,
.dxgvDisabled_Aqua .dxpLite_Aqua
{
	padding: 6px 0;
}

.dxgvControl_Aqua .dxpSummary_Aqua,
.dxgvControl_Aqua .dxpPageSizeItem_Aqua
{
	color: #283B56;
}

.dxgvControl_Aqua .dxpLite_Aqua .dx-summary,
.dxgvControl_Aqua .dxpLite_Aqua .dxp-pageSizeItem
{
	color: #283B56;
}

.dxgvControl_Aqua .dxgvHFSAC
{
    padding: 10px 0 0 5px;
}
.dxgvControl_Aqua .dxgvHFC
{
    padding-left: 5px;
    padding-bottom: 3px;
}
.dxgvControl_Aqua .dxgvHFC .dxeCalendar_Aqua
{
    margin-left: 23px;
}
.dxgvControl_Aqua .dxgvHFSC
{
    padding: 10px 0 6px;
}
.dxgvControl_Aqua .dxgvHFSC div
{
    height: 1px;
    background: #8BB6EF;
}
.dxgvControl_Aqua div[id$='DXEPLPC']
{
    height: 60px;
}

.dxgvControl_Aqua .dxgvHFSD
{
    height: 1px;
    margin: 2px 0;
}
.dxgvControl_Aqua .dxgvHFDRC
{
    margin: 15px 15px 25px;
}
.dxgvControl_Aqua .dxgvHFDRP
{
    margin-left: 15px;
    margin-right: 15px;
    padding: 9px 0 6px;
}
.dxgvControl_Aqua .dxgvHFDRP[id*="HFFDE"]
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.dxgvControl_Aqua .dxgvHFDRP[id*="HFTDE"]
{
    margin-bottom: 25px;
}


/* Removes flicking in iOS Safari*/
.dxgvTable_Aqua
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.dxgvControl_Aqua td.dxgvBatchEditCell_Aqua
{
    padding: 0;
}
.dxgvControl_Aqua td.dxgvBatchEditModifiedCell_Aqua
{
    background: #d7f9c7;
}
.dxgvControl_Aqua .dxgvErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxgvControl_Aqua .dxgvErrorCell img
{
    margin: -3px 0;
}
.dxgvStatusBar_Aqua .dxgvCommandColumn_Aqua a
{
    margin-right: 10px;
}
.dxgvControl_Aqua td.dxgvBatchEditCell_Aqua .dxichCellSys
{
    padding-left: 0;
}

.dxgvSearchPanel_Aqua
{
    border-bottom: 1px solid #A3C0E8;
	background: #ECF4FE;
	padding: 10px 4px 10px 6px;
}
.dxgvSearchPanel_Aqua > table 
{
    width: 70%;
    max-width: 450px;
}
.dxgvControl_Aqua .dxgvSearchPanel_Aqua .dxbButton_Aqua
{
    margin-left: 7px;
    margin-right: 0;
}
*[dir="rtl"].dxgvControl_Aqua .dxgvSearchPanel_Aqua .dxbButton_Aqua {
    margin-left: 0;
    margin-right: 7px;
}
.dxgvControl_Aqua .dxgvHL
{
    background: #ffd83a;
	color: #333333;
	font-weight: bold;
	font-style: normal;
}

/* TODO remove (replace to command button style) */
.dxgvControl_Aqua .dxgvSearchPanel_Aqua .dxbButton_Aqua
{
    font-size: 0.9em;
    margin-top: -2px;
    margin-bottom: -2px;
}
.dxgvControl_Aqua .dxgvSearchPanel_Aqua .dxbButton_Aqua .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}

.dxgvEditForm_Aqua .dxflGroupBoxCaption_Aqua {
    background-color: #F7FAFF;
}
