.dxgvControl_DevEx,
.dxgvDisabled_DevEx
{
	border: 1px solid #9da0aa;
	font: 11px Verdana, Geneva, sans-serif;
	background-color: #f1f2f6;
	color: #201f35;
	cursor: default;
}
.dxgvDisabled_DevEx
{
	color: #b1b1b8;
}
.dxgvControl_DevEx a
{
	color: #1b3f91;
	text-decoration: none;
}
.dxgvControl_DevEx a:hover
{
	text-decoration: underline;
}
.dxgvDisabled_DevEx a
{
	color: #b1b1b8;
}
/*Loading Panel*/

.dxgvEmptyDataRow_DevEx.dxgvLVR > td.dxgv,
.dxgvDataRow_DevEx.dxgvLVR > td.dxgv,
.dxgvGroupRow_DevEx.dxgvLVR > td.dxgv
{
    border-bottom-width: 0;
}

.dxgvRBB .dxgvEmptyDataRow_DevEx.dxgvLVR > td.dxgv,
.dxgvRBB .dxgvDataRow_DevEx.dxgvLVR > td.dxgv,
.dxgvRBB .dxgvGroupRow_DevEx.dxgvLVR > td.dxgv
{
    border-bottom-width: 1px !important;
}

.dxgvLoadingPanel_DevEx
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #201f35;
	background-color: White;
	border: 1px solid #9da0aa;
}
.dxgvLoadingPanel_DevEx td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 7px 10px;
}
.dxgvLoadingPanel_DevEx .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 32px;
	width: 32px;
}
.dxgvLoadingPanelStatusBar_DevEx .dxlp-loadingImage 
{
	background-image: url('StatusBarLoading.gif');
	height: 15px;
	width: 15px;
}
.dxgvLoadingPanelStatusBar_DevEx
{
	background-color: Transparent;
}
.dxgvLoadingPanelStatusBar_DevEx td
{
	white-space: nowrap;
	text-align: center;
	padding: 0 2px;
}
.dxgvFilterPopupWindow_DevEx
{
	color: #201f35;
	border: 1px solid #9da0aa;
}
.dxgvFilterPopupItemsArea_DevEx
{
	color: #201f35;
	background-color: White;
}
.dxgvFilterPopupButtonPanel_DevEx
{
	background-color: #ebecef;
	border-top: 1px solid #9da0aa;
	color: #201f35;
}

.dxgvFilterPopupItem_DevEx td.dxgv,
.dxgvFilterPopupActiveItem_DevEx td.dxgv,
.dxgvFilterPopupSelectedItem_DevEx td.dxgv
{
	padding: 3px 2px 3px 3px;
	cursor: default;
	white-space: nowrap;
}
.dxgvFilterPopupActiveItem_DevEx
{
	background: #e2eafd none;
	color: #201f35;
}
.dxgvFilterPopupSelectedItem_DevEx
{
	background: #eff0f2 none;
	color: #201f35;
}

.dxgvTable_DevEx
{
	background-color: White;
	border-width: 0;
	border-collapse: separate!important;
	overflow: hidden;
}
.dxgvTable_DevEx .dxgvHEC
{
	background-color: White;
	border-width: 0;
	overflow: hidden;
}
.dxgvControl_DevEx .dxgvFSDC
{
    background-color: #f9f9fc;
}
.dxgvControl_DevEx .dxgvFSDC .dxgvFooter_DevEx td.dxgv
{
    border-bottom: 0;
}
.dxgvControl_DevEx .dxgvFGI
{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.dxgvControl_DevEx .dxgvFGI
{
    right: 5px;
    left: auto;
}
*[dir="rtl"].dxgvControl_DevEx .dxgvFGI
{
    right: auto;
    left: 5px;
}
.dxgvInlineEditRow_DevEx,
.dxgvDataRow_DevEx
{
}
.dxgvInlineEditRow_DevEx td.dxgv
{
	border-bottom: 1px solid #d9dae0;
	border-right: 1px solid #d9dae0;
}
.dxgvInlineEditRow_DevEx td.dxgvIndentCell
{
	background: #f9f9fc none;
}
.dxgvInlineEditRow_DevEx .dxgvCommandColumn_DevEx
{
	background: #f9f9fc none;
}
.dxgvDataRowAlt_DevEx
{
	background-color: #f7f4fd;
}
.dxgvFilterRow_DevEx
{
	background-color: #ebecef;
}
.dxgvEditForm_DevEx
{
	background-color: #f9f9fc;
}
.dxgvEditForm_DevEx td.dxgv
{
	border-bottom: 1px solid #d9dae0;
	padding: 8px 10px 10px;
}
.dxgvEditForm_DevEx td.dxgvIndentCell
{
	background: #f9f9fc none;
	border-right: 1px Solid #d9dae0;
	border-left: 1px Solid #d9dae0;
	border-top-width: 0px;
}
.dxgvSelectedRow_DevEx
{
	background-color: #eff0f2;
	color: #201f35;
}
.dxgvFocusedRow_DevEx
{
	background: #d9e4fd url('gvFocusedBack.png') repeat-x left top;
	color: #201f35;
}
.dxgvSelectedRow_DevEx .dxgvCommandColumn_DevEx a,
.dxgvSelectedRow_DevEx .dxgvAIC a,
.dxgvFocusedRow_DevEx .dxgvCommandColumn_DevEx a,
.dxgvFocusedRow_DevEx .dxgvAIC a
{
	color: #1b3f91;
	text-decoration: none;
}
.dxgvSelectedRow_DevEx .dxgvCommandColumn_DevEx a:hover,
.dxgvSelectedRow_DevEx .dxgvAIC a:hover,
.dxgvFocusedRow_DevEx .dxgvCommandColumn_DevEx a:hover,
.dxgvFocusedRow_DevEx .dxgvAIC a:hover
{
	text-decoration: underline;
}

.dxgvPreviewRow_DevEx
{
	background-color: #f7f7f8;
	color: #777777;
}
.dxgvDetailRow_DevEx td.dxgv,
.dxgvPreviewRow_DevEx td.dxgv,
.dxgvEmptyDataRow_DevEx td.dxgv
{
	padding: 20px 2px 20px 4px;
	border-bottom: 1px solid #d9dae0;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}
.dxgvDetailRow_DevEx td.dxgvDetailCell_DevEx
{
	border-bottom-color: #d9dae0;
	padding: 16px 18px;
}
.dxgvPreviewRow_DevEx td.dxgv
{
	padding: 10px 10px 10px 15px;
}
.dxgvDetailRow_DevEx td.dxgvIndentCell
{
	padding-right: 0px;
	border-bottom: 1px solid #d9dae0;
}
.dxgvDetailRow_DevEx.dxgvADR .dxgvADT > tbody > tr > td
{
    padding: 6px 6px 6px 0;
}
.dxgvDetailRow_DevEx.dxgvADR .dxgvADT > tbody > tr > td .dxeTextBoxSys,
.dxgvDetailRow_DevEx.dxgvADR .dxgvADT > tbody > tr > td .dxichCellSys
{
    margin: -4px 0 -4px 0;
}
.dxgvDetailRow_DevEx.dxgvADR .dxgvADCC
{
    color: #7F7F7F;
}
.dxgvEmptyDataRow_DevEx
{
	color: #777777;
}
.dxgvEmptyDataRow_DevEx td.dxgv
{
	border-bottom: 1px solid #d9dae0;
	text-align: center;
}

.dxgvEditFormDisplayRow_DevEx td.dxgv,
.dxgvDetailCell_DevEx td.dxgv,
.dxgvDataRow_DevEx td.dxgv,
.dxgvDetailRow_DevEx.dxgvADR td.dxgvAIC
{
	overflow: hidden;
	border-bottom: 1px solid #d9dae0;
	border-right: 1px solid #d9dae0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 4px 6px;
}
.dxgvDataRow_DevEx td.dxgvAIC,
.dxgvInlineEditRow_DevEx td.dxgvAIC
{
    padding: 0 4px;
}
.dxgvDetailRow_DevEx.dxgvADR td.dxgvAIC
{
    padding: 6px 4px;
}
.dxgvEditFormDisplayRow_DevEx
{
}
.dxgvEditFormDisplayRow_DevEx td.dxgv
{
}
.dxgvEditFormDisplayRow_DevEx td.dxgvIndentCell
{
	background: #f9f9fc none;
	border-right: 1px Solid #d9dae0;
	border-left: 1px Solid #d9dae0;
	border-top-width: 0px;
}

.dxgvEditingErrorRow_DevEx
{
	background-color: #ebecef;
	color: #ba1717;
}
.dxgvEditingErrorRow_DevEx td.dxgv
{
	white-space: pre-wrap;
	border-bottom: 1px solid #d9dae0;
	border-right-width: 0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 6px 10px;
}

.dxgvFilterRow_DevEx td.dxgv
{
	border-bottom: 1px solid #abacb9;
	border-right-width: 0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 2px 3px 2px 2px;
	overflow: hidden;
}
.dxgvGroupRow_DevEx
{
	background-color: #f9f9fc;
}
.dxgvFocusedGroupRow_DevEx
{
	background: #d9e4fd url('gvFocusedBack.png') repeat-x left top;
	color: #201f35;
}
.dxgvGroupRow_DevEx td.dxgv,
.dxgvFocusedGroupRow_DevEx td.dxgv
{
	border: 0 none;
	vertical-align: middle;
	white-space: nowrap;
	border-bottom: 1px solid #d9dae0;
	padding: 4px 6px;
    background-color: inherit;
}
.dxgvFocusedRow_DevEx td.dxgvIndentCell,
.dxgvFocusedGroupRow_DevEx td.dxgvIndentCell,
.dxgvSelectedRow_DevEx td.dxgvIndentCell
{
	background: #f9f9fc!important;
	border-right: 1px solid #d9dae0;
	border-left: 1px solid #d9dae0;
	border-top-width: 0px;
}
.dxgvHeaderPanel_DevEx
{
	background-color: #ebecef;
	color: #201f35;
	padding: 8px 6px;
	border-bottom: 1px solid #abacb9;
}

.dxIE .dxgvMSDraggable .dxgvHeader_DevEx,
.dxIE .dxgvMSDraggable.dxgvGroupPanel_DevEx
{
    -ms-touch-action: pinch-zoom;
}
.dxEdge .dxgvMSDraggable .dxgvHeader_DevEx,
.dxEdge .dxgvMSDraggable.dxgvGroupPanel_DevEx
{
    touch-action: pinch-zoom;
}
.dxgvHeader_DevEx
{
	cursor: pointer;
	white-space: nowrap;
	padding: 5px 6px;
	border: 1px solid #cacbd3;
	background: #f2f3f4 url('gvHeaderBack.png') repeat-x left top;
	overflow: hidden;
	font-weight: normal;
	text-align: left;
}
.dxgvHeader_DevEx,
.dxgvHeader_DevEx table
{
	color: #201f35;
}
.dxgvHeader_DevEx td
{
	white-space: nowrap;
}
.dxgvHeader_DevEx a
{
	color: #1b3f91;
	text-decoration: underline;
}
.dxgvHeader_DevEx a.dxgvCommandColumnItem_DevEx
{
	margin: 0px 3px 0px 0px;
	color: #1b3f91;
	text-decoration: none;
}
.dxgvHeader_DevEx a.dxgvCommandColumnItem_DevEx:hover
{
	text-decoration: underline;
}
.dxgvCustomization_DevEx,
.dxgvPopupEditForm_DevEx
{
	padding: 0;
	margin: 0;
}
.dxgvPopupEditForm_DevEx .dxgvEditingErrorRow_DevEx .dxgv
{
	border-bottom-width: 0;
}
.dxgvAdaptiveGroupPanel_DevEx,
.dxgvGroupPanel_DevEx
{
    color: #201f35;
    background: #ebecef url('gvGroupPanelBack.png') no-repeat right top;
    border-bottom: 1px solid #cacbd3;
}
.dxgvGroupPanel_DevEx
{
	padding: 7px 6px;
    white-space: nowrap;
}
.dxgvAdaptiveGroupPanel_DevEx
{
    padding-left: 6px;
    padding-top: 7px;
}
.dxgvAdaptiveGroupPanel_DevEx div.dxgvADH
{
    margin-right: 4px;
    margin-bottom: 5px;
}
.dxgvAdaptiveGroupPanel_DevEx.dxgvEAHP
{
    padding-bottom: 7px;
}
.dxgvAdaptiveHeaderPanel_DevEx
{
    color: #201f35;
    background: #ebecef;
	border-bottom: 1px solid #cacbd3;
    padding-top: 10px;
}
.dxgvAdaptiveHeaderPanel_DevEx.dxgvEAHP
{
    padding: 10px 7px;
}
.dxgvAdaptiveFooterPanel_DevEx
{
    background-color: #f9f9fc;
    padding-top: 6px;
}
.dxgvAdaptiveHeaderPanel_DevEx,
.dxgvAdaptiveFooterPanel_DevEx
{
    padding-left: 24px;
}
.dxgvFooter_DevEx
{
	background-color: #f9f9fc;
	white-space: nowrap;
}
.dxgvFooter_DevEx td.dxgv
{
	padding: 6px;
	border-bottom: 1px solid #d9dae0;
	border-right-width: 0;
}
.dxgvGroupFooter_DevEx
{
	background-color: #f9f9fc;
}
.dxgvGroupFooter_DevEx td.dxgv
{
	padding: 6px;
	border-bottom: 1px solid #d9dae0;
	border-right-width: 0;
	white-space: nowrap;
}
.dxgvDataRow_DevEx td.dxgvIndentCell,
.dxgvDetailRow_DevEx td.dxgvIndentCell,
.dxgvPreviewRow_DevEx td.dxgvIndentCell,
.dxgvGroupRow_DevEx td.dxgvIndentCell,
.dxgvGroupFooter_DevEx td.dxgvIndentCell
{
	background-color: #f9f9fc;
	border-right: 1px solid #d9dae0;
	border-left: 1px solid #d9dae0;
	border-top-width: 0px;
}

.dxgvTitlePanel_DevEx,
.dxgvTable_DevEx caption
{
	font-weight: normal;
	padding: 3px 3px 5px;
	text-align: center;
	background: #f2f3f4 url('gvTitleBack.png') repeat-x left top;
	color: #201f35;
	border-bottom: 1px solid #9da0aa;
}
.dxgvLoadingDiv_DevEx
{
	background-color: Gray;
	opacity: 0.01;
	filter: alpha(opacity=1);
}
.dxgvStatusBar_DevEx
{
	background: #f9f9fc none;
	border-top: 1px solid #cacbd3;
}
.dxgvStatusBar_DevEx tr.dxgv
{
	height: 20px;
}
.dxgvStatusBar_DevEx tr.dxgv > td
{
	padding: 4px;
}
.dxgvStatusBar_DevEx tr.dxgv span .dxbButtonSys:first-child
{
	margin-left: 2px;
}
.dxgvCommandColumn_DevEx
{
	padding: 2px;
    white-space: nowrap;
}
.dxgvCommandColumn_DevEx a
{
	margin: 0px 3px 0px 0px;
	color: #1b3f91;
	text-decoration: none;
}
.dxgvCommandColumn_DevEx a:hover
{
	text-decoration: underline;
}

.dxgvCommandColumnItem_DevEx
{
}
.dxbButton_DevEx[class~="dxgvCommandColumnItem_DevEx"]
{
	margin: -2px 2px;
}
.dxbButton_DevEx[class~="dxgvCommandColumnItem_DevEx"] .dxb
{
	margin: -2px 2px;
}
.dxgvEditFormTable_DevEx
{
	padding: 2px 6px 6px 4px;
	color: #201f35;
}
.dxgvEditFormTable_DevEx div.dxbButton_DevEx
{
    margin: 0px 2px;
}
.dxgvEditFormTable_DevEx a
{
	color: #1b3f91;
	text-decoration: none;
}
.dxgvEditFormTable_DevEx a:hover
{
	text-decoration: underline;
}

.dxgvEditFormCaption_DevEx
{
	padding: 4px 4px 4px 10px;
	white-space: nowrap;
}

.dxgvInlineEditCell_DevEx
{
	padding: 1px;
}

.dxgvEditFormCell_DevEx
{
	padding: 4px;
	border-width: 0;
}

.dxgvPagerTopPanel_DevEx,
.dxgvPagerBottomPanel_DevEx
{
	background: #f1f2f6 url('gvPagerPanelBack.png') repeat-x left top;
}
.dxgvDetailButton_DevEx
{
}

.dxgvFilterBar_DevEx
{
	border-top: 1px solid #cacbd3;
	background: #f9f9fc none;
}
.dxgvFilterBar_DevEx a
{
	color: #1b3f91;
	text-decoration: underline;
}
.dxgvFilterBarCheckBoxCell_DevEx
{
	padding: 0 7px 0 3px;
}
.dxgvFilterBarImageCell_DevEx
{
	padding: 0 1px 0 3px;
	cursor: pointer;
}
.dxgvFilterBarExpressionCell_DevEx
{
	padding: 5px 5px 8px 0;
	white-space: nowrap;
}
.dxgvFilterBarClearButtonCell_DevEx
{
	padding: 5px 6px 8px;
}
.dxgvFilterBuilderMainArea_DevEx
{
	background: white none;
	padding: 6px 2px;
} 
.dxgvFilterBuilderButtonArea_DevEx
{
	background: #ebecef none;
	border-top: 1px solid #abacb9;
	padding: 6px;
	white-space: nowrap;
}

.dxgvDataRowHover_DevEx
{
	background: #e2eafd none;
	color: #201f35;
}


.dxgvControl_DevEx .dxpLite_DevEx,
.dxgvDisabled_DevEx .dxpLite_DevEx
{
	padding-top: 4px;
}

.dxgvControl_DevEx .dxgvHFSAC
{
    padding: 6px 0 0 5px;
}
.dxgvControl_DevEx .dxgvHFC
{
    padding-left: 5px;
    padding-bottom: 3px;
}
.dxgvControl_DevEx .dxgvHFC .dxeCalendar_DevEx
{
    margin-left: 23px;
}
.dxgvControl_DevEx .dxgvHFSC
{
    padding: 6px 0 5px;
}
.dxgvControl_DevEx .dxgvHFSC div
{
    height: 1px;
    background: #9DA0AA;
}
.dxgvControl_DevEx div[id$='DXEPLPC']
{
    height: 47px;
}

.dxgvControl_DevEx .dxgvHFSD
{
    height: 1px;
    margin: 2px 0;
}
.dxgvControl_DevEx .dxgvHFDRC
{
    margin: 15px 15px 25px;
}
.dxgvControl_DevEx .dxgvHFDRP
{
    margin-left: 15px;
    margin-right: 15px;
    padding: 9px 0 6px;
}
.dxgvControl_DevEx .dxgvHFDRP[id*="HFFDE"]
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.dxgvControl_DevEx .dxgvHFDRP[id*="HFTDE"]
{
    margin-bottom: 25px;
}

/* Removes flicking in iOS Safari*/
.dxgvTable_DevEx
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.dxgvControl_DevEx td.dxgvBatchEditCell_DevEx
{
    padding: 0;
}
.dxgvControl_DevEx td.dxgvBatchEditModifiedCell_DevEx
{
    background: #d7f9c7;
}
.dxgvControl_DevEx .dxgvErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxgvControl_DevEx .dxgvErrorCell img
{
    margin: -2px 0;
}
.dxgvStatusBar_DevEx .dxgvCommandColumn_DevEx a
{
    margin-right: 10px;
}
.dxgvControl_DevEx td.dxgvBatchEditCell_DevEx .dxichCellSys
{
    padding-left: 0;
}

.dxgvSearchPanel_DevEx
{
    background: #ebecef;
    border-bottom: 1px solid #cacbd3;
    padding: 7px 6px;
}
.dxgvSearchPanel_DevEx > table 
{
    width: 70%;
    max-width: 450px;
}
.dxgvControl_DevEx .dxgvSearchPanel_DevEx .dxbButton_DevEx
{
    margin-left: 7px;
    margin-right: 0;
}
*[dir="rtl"].dxgvControl_DevEx .dxgvSearchPanel_DevEx .dxbButton_DevEx {
    margin-left: 0;
    margin-right: 7px;
}
.dxgvControl_DevEx .dxgvHL
{
    background: #ffd83a;
	color: #201f35;
	font-weight: bold;
	font-style: normal;
}

/* TODO remove (replace to command button style) */
.dxgvControl_DevEx .dxgvSearchPanel_DevEx .dxbButton_DevEx
{
    font-size: 0.9em;
    margin-top: -2px;
    margin-bottom: -2px;
}
.dxgvControl_DevEx .dxgvSearchPanel_DevEx .dxbButton_DevEx .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}

.dxgvEditForm_DevEx .dxflGroupBoxCaption_DevEx {
    background-color: #f9f9fc;
}
