/* -- ValidationSummary -- */
.dxvsValidationSummary_Office2010Blue
{
	font: 11px Verdana, Geneva, sans-serif;
	color: Red;
}
.dxvsValidationSummary_Office2010Blue td.dxvsRC_Office2010Blue
{
	vertical-align: top;
	padding: 2px 5px 4px 6px;
}
.dxvsValidationSummary_Office2010Blue .dxvsE_Office2010Blue
{
}
.dxvsValidationSummary_Office2010Blue table.dxvsHT_Office2010Blue
{
	width: 100%;
}
.dxvsValidationSummary_Office2010Blue td.dxvsH_Office2010Blue
{
	padding: 2px 0;
}
.dxvsValidationSummary_Office2010Blue a.dxvsHL_Office2010Blue,
.dxvsValidationSummary_Office2010Blue a.dxvsHL_Office2010Blue:visited
{
	color: red;
}
.dxvsValidationSummary_Office2010Blue a.dxvsHL_Office2010Blue
{
	text-decoration: none;
	border-bottom: 1px dashed #f70;
}
.dxvsValidationSummary_Office2010Blue a.dxvsHL_Office2010Blue:hover
{
	color: #f70;
}
.dxvsValidationSummary_Office2010Blue table.dxvsT_Office2010Blue
{
}
.dxvsValidationSummary_Office2010Blue tr.dxvsE_Office2010Blue
{
}
.dxvsValidationSummary_Office2010Blue td.dxvsETC_Office2010Blue
{
	padding: 2px 0;
}
.dxvsValidationSummary_Office2010Blue ul.dxvsL_Office2010Blue
{
}
.dxvsValidationSummary_Office2010Blue ol.dxvsL_Office2010Blue
{
}
.dxvsValidationSummary_Office2010Blue li.dxvsE_Office2010Blue
{
	padding: 2px 0;
}

/* TrackBar */
.dxeTrackBar_Office2010Blue
{
    font: 11px Verdana, Geneva, sans-serif;
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	visibility:hidden;
}

.dxeDisabled_Office2010Blue .dxeTBHSys a,
.dxeDisabled_Office2010Blue .dxeTBVSys a
{
    cursor: default;
}

.dxeTBBarHighlight_Office2010Blue
{
	font-size: 0;
}

.dxeTBScale_Office2010Blue,
.dxeTBTrack_Office2010Blue,
.dxeTBBarHighlight_Office2010Blue
{
	cursor: pointer;
}

.dxeTBScale_Office2010Blue
{
    font-size: 0.91em;
	z-index: 1;
}
.dxeTBSecondaryDH_Office2010Blue,
.dxeTBMainDH_Office2010Blue
{
	z-index: 4;
}

.dxeTrackBar_Office2010Blue.dxeTBHSys
{
	width: 170px;
	height: 49px;
}
.dxeTrackBar_Office2010Blue.dxeTBVSys
{
	height: 170px;
	width: 49px;
}
.dxeTrackBar_Office2010Blue.dxeTBBScaleSys.dxeTBVSys
{
	width: 76px;
}
.dxeTrackBar_Office2010Blue.dxeTBBScaleSys.dxeTBHSys
{	
	height: 76px;
}

.dxeTBTrack_Office2010Blue
{
	z-index: 2;
	position: absolute;
}

.dxeTBHSys .dxeTBTrack_Office2010Blue
{
	background-image:  url('edtTrackBarTrackH.gif');
}
.dxeTBVSys .dxeTBTrack_Office2010Blue
{
	background-image:  url('edtTrackBarTrackV.gif');
}

.dxeTBHSys .dxeTBTrack_Office2010Blue, 
.dxeTBHSys .dxeTBBarHighlight_Office2010Blue
{
	height: 9px;
}
.dxeTBVSys .dxeTBTrack_Office2010Blue, 
.dxeTBVSys .dxeTBBarHighlight_Office2010Blue
{
	width: 9px;
}

.dxeTBHSys .dxeTBMainDH_Office2010Blue,
.dxeTBHSys .dxeTBSecondaryDH_Office2010Blue
{	
	top: -4px;
	width:11px;
	height:17px;
}
.dxeTBVSys .dxeTBMainDH_Office2010Blue,
.dxeTBVSys .dxeTBSecondaryDH_Office2010Blue
{
	left: -4px;
	width:17px;
	height:11px;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBTrack_Office2010Blue,
.dxeTBVSys .dxeTBTrack_Office2010Blue
{
	left: 6px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBTrack_Office2010Blue
{
	right: 6px;
	left: auto;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBTrack_Office2010Blue
{
	bottom: 6px;
	top: auto;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBTrack_Office2010Blue,
.dxeTBHSys .dxeTBTrack_Office2010Blue
{
	top: 6px;
}

.dxeTBBarHighlight_Office2010Blue
{
	left: 0px;
	top: 0px;
	position:absolute;
	z-index: 3;
}

.dxeTBHSys .dxeTBBarHighlight_Office2010Blue
{
	background-image:  url('edtTrackBarBarHighlightH.gif');
}
.dxeTBVSys .dxeTBBarHighlight_Office2010Blue
{
	background-image:  url('edtTrackBarBarHighlightV.gif');
}

.dxeTBRBLabel_Office2010Blue,
.dxeTBLTLabel_Office2010Blue
{
	text-align: center;
	cursor: default;
}
.dxeTBSmallTickSys .dxeTBRBLabel_Office2010Blue,
.dxeTBSmallTickSys .dxeTBLTLabel_Office2010Blue,
.dxeTBLargeTickSys .dxeTBRBLabel_Office2010Blue,
.dxeTBLargeTickSys .dxeTBLTLabel_Office2010Blue
{	
	position: absolute;
}

.dxeTBHSys .dxeTBRBLabel_Office2010Blue,
.dxeTBHSys .dxeTBLTLabel_Office2010Blue
{
	width: 100%;
}

.dxeTBIncBtn_Office2010Blue,
.dxeTBDecBtn_Office2010Blue
{
}

.dxeTBVSys .dxeTBRBLabel_Office2010Blue,
.dxeTBVSys .dxeTBLTLabel_Office2010Blue
{
	padding-top: 2px;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_Office2010Blue
{
	margin-left: -4px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBRBLabel_Office2010Blue,
.dxeTBVSys .dxeTBBScaleSys .dxeTBLTLabel_Office2010Blue
{
	right: 0px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBLTLabel_Office2010Blue,
.dxeTBVSys .dxeTBBScaleSys .dxeTBRBLabel_Office2010Blue
{
	left: 0px;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBRBLabel_Office2010Blue,
.dxeTBHSys .dxeTBBScaleSys .dxeTBLTLabel_Office2010Blue
{
	bottom: 0px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBLTLabel_Office2010Blue,
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_Office2010Blue
{
	top: 0px;
}

.dxeTBHSys .dxeTBItem_Office2010Blue .dxeTBRBLabel_Office2010Blue,
.dxeTBHSys .dxeTBItem_Office2010Blue .dxeTBLTLabel_Office2010Blue
{
	display: inline-block;
	margin-left: 0px!important;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBItem_Office2010Blue .dxeTBRBLabel_Office2010Blue
{
	padding-top: 12px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBItem_Office2010Blue .dxeTBLTLabel_Office2010Blue
{
	margin-top: 8px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_Office2010Blue .dxeTBRBLabel_Office2010Blue 
{
	margin-left: 5px;
}

.dxeTBSelectedItem_Office2010Blue .dxeTBRBLabel_Office2010Blue,
.dxeTBSelectedItem_Office2010Blue .dxeTBLTLabel_Office2010Blue,
.dxeTBSelectedTick_Office2010Blue .dxeTBRBLabel_Office2010Blue,
.dxeTBSelectedTick_Office2010Blue .dxeTBLTLabel_Office2010Blue
{
	color: #566B84;
}

.dxeDisabled_Office2010Blue .dxeTBSelectedItem_Office2010Blue .dxeTBRBLabel_Office2010Blue,
.dxeDisabled_Office2010Blue .dxeTBSelectedItem_Office2010Blue .dxeTBLTLabel_Office2010Blue,
.dxeDisabled_Office2010Blue .dxeTBSelectedTick_Office2010Blue .dxeTBRBLabel_Office2010Blue,
.dxeDisabled_Office2010Blue .dxeTBSelectedTick_Office2010Blue .dxeTBLTLabel_Office2010Blue
{
	color: #C4CBD4;
}

.dxeTBRBLabel_Office2010Blue,
.dxeTBLTLabel_Office2010Blue,
.dxeTBItem_Office2010Blue
{
	color: #8E9CAD;
}

.dxeDisabled_Office2010Blue .dxeTBRBLabel_Office2010Blue,
.dxeDisabled_Office2010Blue .dxeTBLTLabel_Office2010Blue,
.dxeDisabled_Office2010Blue .dxeTBItem_Office2010Blue
{
	color: #D7DCE2;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBItem_Office2010Blue
{
	text-align: left;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_Office2010Blue
{
	text-align: right;
}

.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_Office2010Blue
{
	text-align: center;
}

.dxeTBHSys .dxeTBItem_Office2010Blue
{
	background-image:  url('edtTrackBarLargeTickH.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBItem_Office2010Blue
{
	background-image:  url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBItem_Office2010Blue 
{
	background-image:  url('edtTrackBarLargeTickV.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_Office2010Blue
{
	background-image:  url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBHSys .dxeTBLargeTick_Office2010Blue
{
	background-image:  url('edtTrackBarLargeTickH.gif');
}
.dxeTBVSys .dxeTBLargeTick_Office2010Blue
{
	background-image: url('edtTrackBarLargeTickV.gif');
}
.dxeTBHSys .dxeTBSmallTick_Office2010Blue
{
	background-image: url('edtTrackBarSmallTickH.gif');
}
.dxeTBVSys .dxeTBSmallTick_Office2010Blue
{
	background-image: url('edtTrackBarSmallTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBLargeTick_Office2010Blue
{
	background-image: url('edtTrackBarDoubleLargeTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBLargeTick_Office2010Blue
{
	background-image: url('edtTrackBarDoubleLargeTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBSmallTick_Office2010Blue
{
	background-image: url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBSmallTick_Office2010Blue
{
	background-image: url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBVSys .dxeTBIncBtn_Office2010Blue,
.dxeTBVSys .dxeReversedDirectionSys .dxeTBDecBtn_Office2010Blue
{
	bottom: 0px;
	top: auto;
}
.dxeTBVSys .dxeTBDecBtn_Office2010Blue,
.dxeTBVSys .dxeReversedDirectionSys .dxeTBIncBtn_Office2010Blue
{
	top: 0px;
	bottom: auto;
}
.dxeTBHSys .dxeTBDecBtn_Office2010Blue, 
.dxeTBHSys .dxeReversedDirectionSys .dxeTBIncBtn_Office2010Blue
{
	left: 0px;
	right: auto;
}
.dxeTBHSys .dxeTBIncBtn_Office2010Blue,
.dxeTBHSys .dxeReversedDirectionSys .dxeTBDecBtn_Office2010Blue
{
	right: 0px;
	left: auto;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBDecBtn_Office2010Blue,
.dxeTBVSys .dxeTBBScaleSys .dxeTBIncBtn_Office2010Blue
{
	margin-left: -9px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBDecBtn_Office2010Blue,
.dxeTBHSys .dxeTBBScaleSys .dxeTBIncBtn_Office2010Blue
{
	margin-top: -9px;
	top: 50%;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBTrack_Office2010Blue
{ 
	margin-left: -4px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBTrack_Office2010Blue
{ 
	margin-top: -4px;
	top: 50%;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBDecBtn_Office2010Blue,
.dxeTBVSys .dxeTBLTScaleSys .dxeTBIncBtn_Office2010Blue
{
	right: 1px;
	left: auto;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBDecBtn_Office2010Blue,
.dxeTBHSys .dxeTBLTScaleSys .dxeTBIncBtn_Office2010Blue
{
	bottom: 1px;
	top: auto;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBDecBtn_Office2010Blue,
.dxeTBVSys .dxeTBRBScaleSys .dxeTBIncBtn_Office2010Blue,
.dxeTBVSys .dxeTBDecBtn_Office2010Blue,
.dxeTBVSys .dxeTBIncBtn_Office2010Blue
{
	left: 1px;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBDecBtn_Office2010Blue,
.dxeTBHSys .dxeTBRBScaleSys .dxeTBIncBtn_Office2010Blue,
.dxeTBHSys .dxeTBDecBtn_Office2010Blue,
.dxeTBHSys .dxeTBIncBtn_Office2010Blue
{
	top: 1px;
}

.dxeHelpText_Office2010Blue,
.dxeTBValueToolTip_Office2010Blue
{
    font: 11px Verdana, Geneva, sans-serif;
}
div.dxeHelpText_Office2010Blue,
.dxeTBValueToolTip_Office2010Blue
{
	padding: 3px 8px 4px 8px;
    display: inline;
    position:absolute;
    border-radius: 3px;
    z-index: 41998;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #8BA0BC;
    background: #E1EDFA;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1EDFA', endColorstr='#D1E0EE');
	background: -webkit-gradient(linear, left top, left bottom, from(#E1EDFA), to(#D1E0EE));
	background: -moz-linear-gradient(top,  #E1EDFA,  #D1E0EE);
}
td.dxeHelpText_Office2010Blue {
    visibility: visible;
    color: #9F9F9F;
}
td.dxeHelpText_Office2010Blue span {
    font-size: 0.91em;
}
td.dxeHelpText_Office2010Blue.dxeHHelpTextSys {
    padding: 0 6px;
}
td.dxeHelpText_Office2010Blue.dxeVHelpTextSys {
    padding: 2px 0;
}

/* InternalCheckBox */
.dxeIRBFocused_Office2010Blue
{
    outline: 1px dotted #dac11e;
}
.dxeIRadioButton_Office2010Blue
{
}
.dxlpLoadingPanel_Office2010Blue,
.dxlpLoadingPanelWithContent_Office2010Blue
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #1e395b;
	background: White none;
	border: 1px solid #859ebf;
}
.dxlpLoadingPanel_Office2010Blue td.dx,
.dxlpLoadingPanelWithContent_Office2010Blue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}
.dxcaLoadingPanel_Office2010Blue .dxlp-loadingImage,
.dxlpLoadingPanel_Office2010Blue .dxlp-loadingImage,
.dxlpLoadingPanelWithContent_Office2010Blue .dxlp-loadingImage,
.dxeImage_Office2010Blue.dxe-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 16px;
	width: 16px;
}

.dxeButtonEditSys .dxic .dxeLoadingDiv_Office2010Blue
{
	opacity: 1!important;
	filter: alpha(opacity=100)!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_Office2010Blue
{
    background-color: transparent!important;
    font-size: 0!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_Office2010Blue td.dx
{
	padding: 0px!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_Office2010Blue td.dx > span
{
	display: none;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_Office2010Blue td.dx > img
{
	height: 15px;
    width: auto;
    vertical-align: middle;
}

.dxeReadOnly_Office2010Blue
{
}
.dxeBase_Office2010Blue
{
	font: 11px Verdana, Geneva, sans-serif;
}
/* -- ErrorFrame -- */
.dxeErrorCell_Office2010Blue
{
	font: 11px Verdana, Geneva, sans-serif;
	color: Red;
    border-color: black;
	padding-left: 4px;
	padding-right: 4px;
}
.dxeErrorFrameWithoutError_Office2010Blue
{
	border: 1px solid Red;
}
.dxeErrorFrameWithoutError_Office2010Blue .dxeControlsCell_Office2010Blue,
.dxeErrorFrameWithoutError_Office2010Blue.dxeControlsCell_Office2010Blue
{
	padding: 2px;
}

.dxeEditArea_Office2010Blue
{
	border: 1px solid #8ba0bc;
}
body input.dxeEditArea_Office2010Blue /*Bootstrap correction*/
{
    color: black;
}
input[type="text"].dxeEditArea_Office2010Blue, /*Bootstrap correction*/
input[type="password"].dxeEditArea_Office2010Blue /*Bootstrap correction*/
{
    margin-top: 0;
    margin-bottom: 1px;
}
.dxFirefox input[type="text"].dxeEditArea_Office2010Blue,
.dxFirefox input[type="password"].dxeEditArea_Office2010Blue
{
    margin-top: -1px;
    margin-bottom: 0;
}

/* -- Binary Image -- */
.dxeBinaryImageButtonPanel_Office2010Blue
{
    height: 36px;
}
.dxeBinaryImageButton_Office2010Blue
{
    margin: 0 6px;
}

/* -- Buttons -- */
.dxeButtonEditButton_Office2010Blue,
.dxeCalendarButton_Office2010Blue,
.dxeSpinIncButton_Office2010Blue,
.dxeSpinDecButton_Office2010Blue,
.dxeSpinLargeIncButton_Office2010Blue,
.dxeSpinLargeDecButton_Office2010Blue,
.dxeColorEditButton_Office2010Blue
{
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
}
.dxeCalendarButton_Office2010Blue,
.dxeButtonEditButton_Office2010Blue,
.dxeColorEditButton_Office2010Blue
{
	border-style: solid;
	border-color: #8ba0bc;
}
.dxeCalendarButton_Office2010Blue,
.dxeColorEditButton_Office2010Blue
{
	border-width: 1px;
}
.dxeButtonEditButton_Office2010Blue
{
	border-width: 0 0 0 1px;
}
.dxeSpinIncButton_Office2010Blue.dxeHasLarge,
.dxeSpinDecButton_Office2010Blue.dxeHasLarge,
.dxeSpinLargeIncButton_Office2010Blue
{
	border-width: 0;
}
.dxeButtonEditButton_Office2010Blue.dxeButtonLeft
{
	border-width: 0 1px 0 0;
}
.dxeSpinIncButton_Office2010Blue.dxeHasLarge.dxeButtonLeft,
.dxeSpinDecButton_Office2010Blue.dxeHasLarge.dxeButtonLeft,
.dxeSpinLargeDecButton_Office2010Blue.dxeButtonLeft
{
	border-width: 0;
}

.dxeButtonEditButton_Office2010Blue,
.dxeSpinLargeIncButton_Office2010Blue,
.dxeSpinLargeDecButton_Office2010Blue
{
	background: #c6d7e8 url('edtDropDownBtnBack.png') repeat-x left top;
}
.dxeSpinIncButton_Office2010Blue
{
	background: #d6e4f1 url('edtSpinIncBtnBack.png') repeat-x left top;
}
.dxeSpinDecButton_Office2010Blue
{
	background: #c5d6e7 url('edtSpinDecBtnBack.png') repeat-x left top;
}

.dxeButtonEditButton_Office2010Blue
{
	padding: 3px 2px 3px 3px;
}
.dxeSpinIncButton_Office2010Blue
{
	padding: 2px 4px 2px;
}
.dxeSpinDecButton_Office2010Blue
{
	padding: 3px 4px 2px;
}
.dxeSpinLargeIncButton_Office2010Blue,
.dxeSpinLargeDecButton_Office2010Blue
{
	padding: 6px 2px;
}
.dxeCalendarButton_Office2010Blue,
.dxeColorEditButton_Office2010Blue
{
	background: #d1dfee url('edtBtnBack.png') repeat-x left top;
	padding: 3px 11px 4px;
	min-width: 37px;
}


.dxeButtonEditButton_Office2010Blue.dxeButtonEditClearButton_Office2010Blue,
.dxeButtonEditButton_Office2010Blue.dxeButtonEditClearButton_Office2010Blue:hover
{
    background: none;
    border-width: 0;
    padding-bottom: 1px;
    padding-top: 2px;
}

.dxeButtonEditClearButton_Office2010Blue img
{
    vertical-align: baseline;
}

/* -- Pressed -- */
.dxeCalendarButtonPressed_Office2010Blue,
.dxeColorEditButton_Office2010Blue:active
{
	border-color: #c2762b;
}
.dxeCalendarButtonPressed_Office2010Blue,
.dxeColorEditButton_Office2010Blue:active
{
	background: #fee287 url('edtBtnPBack.png') repeat-x left top;
}
.dxeButtonEditButtonPressed_Office2010Blue,
.dxeSpinIncButtonPressed_Office2010Blue,
.dxeSpinDecButtonPressed_Office2010Blue,
.dxeSpinLargeIncButtonPressed_Office2010Blue, 
.dxeSpinLargeDecButtonPressed_Office2010Blue
{
	background: #f3d984 url('edtDropDownBtnPBack.png') repeat-x left top;
}
/* -- Hover -- */
.dxeCalendarButtonHover_Office2010Blue,
.dxeColorEditButton_Office2010Blue:hover
{
	border-color: #eecc53;
}
.dxeCalendarButtonHover_Office2010Blue,
.dxeColorEditButton_Office2010Blue:hover
{
	background: #fcf8e5 url('edtBtnHBack.png') repeat-x left top;
}
.dxeButtonEditButtonHover_Office2010Blue,
.dxeSpinLargeIncButtonHover_Office2010Blue,
.dxeSpinLargeDecButtonHover_Office2010Blue
{
	background: #f8e9ac url('edtDropDownBtnHBack.png') repeat-x left top;
}
.dxeSpinIncButtonHover_Office2010Blue,
.dxeSpinDecButtonHover_Office2010Blue
{
	background: #f8e18a url('edtSpinIncDecBtnHBack.png') repeat-x left top;
}

.dxeButtonEdit_Office2010Blue
{
	background-color: white;
	border: 1px solid #8ba0bc;
	font: 11px Verdana, Geneva, sans-serif;

    border-collapse: separate;
    border-spacing: 0;
}
.dxeButtonEdit_Office2010Blue .dxeEditArea_Office2010Blue
{
	background-color: white;
}
.dxeButtonEdit_Office2010Blue .dxeIIC,
.dxeButtonEdit_Office2010Blue .dxeIICR
{
	padding: 1px;
}
.dxeButtonEdit_Office2010Blue .dxeIIC img
{
	padding-left: 3px;
}
.dxeButtonEdit_Office2010Blue .dxeIICR img
{
	padding-right: 3px;
}
.dxFirefox .dxeButtonEdit_Office2010Blue td.dxic,
.dxeButtonEdit_Office2010Blue td.dxic
{
    padding: 3px 3px 2px 3px;
}

.dxeTextBox_Office2010Blue
{
	background-color: white;
	border: 1px solid #8ba0bc;
	font: 11px Verdana, Geneva, sans-serif;
}
.dxeTextBox_Office2010Blue .dxeEditArea_Office2010Blue
{
	background-color: white;
}
.dxeRadioButtonList_Office2010Blue,
.dxeCheckBoxList_Office2010Blue
{
	border: 1px solid #8ba0bc;
}

.dxeCheckBoxList_Office2010Blue .dxe > table,
.dxeRadioButtonList_Office2010Blue .dxe > table 
{
    width: 100%;
}

.dxeRadioButtonList_Office2010Blue,
.dxeCheckBoxList_Office2010Blue
{
	font: 11px Verdana, Geneva, sans-serif;
}
.dxeRadioButtonList_Office2010Blue td.dxe,
.dxeCheckBoxList_Office2010Blue td.dxe
{
	padding: 7px 5px 6px 11px;
}
.dxeRadioButtonList_Office2010Blue[dir='rtl'] td.dxe,
.dxeCheckBoxList_Office2010Blue[dir='rtl'] td.dxe
{
	padding: 7px 11px 6px 5px;
}

/* Disabled */
.dxeDisabled_Office2010Blue .dxeButtonEditButton_Office2010Blue,
.dxeDisabled_Office2010Blue .dxeSpinLargeIncButton_Office2010Blue,
.dxeDisabled_Office2010Blue .dxeSpinLargeDecButton_Office2010Blue
{
	background: #ecf2f7 url('edtDropDownBtnDisabledBack.png') repeat-x left top;
}
.dxeDisabled_Office2010Blue .dxeSpinIncButton_Office2010Blue
{
	background: #f2f7fb url('edtSpinIncBtnDisabledBack.png') repeat-x left top;
}
.dxeDisabled_Office2010Blue .dxeSpinDecButton_Office2010Blue
{
	background: #ecf2f7 url('edtSpinDecBtnDisabledBack.png') repeat-x left top;
}

/* -- Memo -- */
.dxeMemo_Office2010Blue
{
	background-color: white;
	border: 1px solid #8ba0bc;
	font: 11px Verdana, Geneva, sans-serif;
}
.dxeMemoEditArea_Office2010Blue
{
	background-color: white;
    outline: none;
}

/* -- Hyperlink -- */
.dxeHyperlink_Office2010Blue
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #1e395b;
	text-decoration: none;
}
a.dxeHyperlink_Office2010Blue:hover
{
	text-decoration: underline;
}
a.dxeHyperlink_Office2010Blue:visited
{
	color: #8467b2;
}

/* -- ListBox -- */
.dxeListBox_Office2010Blue
{
	color: Black;
	font: 11px Verdana, Geneva, sans-serif;
	background-color: white;
	border: 1px solid #8ba0bc;
	width: 70px;
	height: 109px;
}
.dxeListBox_Office2010Blue div.dxlbd
{
	padding-top: 1px;
	height: 108px;
}
.dxeListBoxItemRow_Office2010Blue
{
	cursor: default;
}
.dxeListBoxItem_Office2010Blue
{
	padding: 2px 5px;
	white-space: nowrap;
	text-align: left;
	border-top: 0 solid White;
	border-right: 1px solid White;
	border-bottom: 1px solid White;
	border-left: 1px solid White;
}
.dxeListBoxItem_Office2010Blue em
{
	background: #d5e8ff none repeat 0 0;
	color: Black;
	font-weight: bold;
	font-style: normal;
}

.dxeListBox_Office2010Blue td.dxeI,
.dxeListBox_Office2010Blue td.dxeIM,
.dxeListBox_Office2010Blue .dxeHIC, 
.dxeListBox_Office2010Blue td.dxeFTM,
.dxeListBox_Office2010Blue td.dxeTM,
.dxeListBox_Office2010Blue td.dxeC,
.dxeListBox_Office2010Blue td.dxeCM,
.dxeListBox_Office2010Blue td.dxeHCC,
.dxeListBox_Office2010Blue td.dxeMI,
.dxeListBox_Office2010Blue td.dxeMIM
{
	border-right-width: 0!important;
}

.dxeListBox_Office2010Blue td.dxeIR,
.dxeListBox_Office2010Blue td.dxeIMR,
.dxeListBox_Office2010Blue .dxeHICR, 
.dxeListBox_Office2010Blue td.dxeFTMR,
.dxeListBox_Office2010Blue td.dxeTMR,
.dxeListBox_Office2010Blue td.dxeCR,
.dxeListBox_Office2010Blue td.dxeCMR,
.dxeListBox_Office2010Blue td.dxeHCCR,
.dxeListBox_Office2010Blue td.dxeMIR,
.dxeListBox_Office2010Blue td.dxeMIMR
{
	border-left-width: 0!important;
}

.dxeListBox_Office2010Blue td.dxeCM,
.dxeListBox_Office2010Blue td.dxeHCC,
.dxeListBox_Office2010Blue td.dxeCMR,
.dxeListBox_Office2010Blue td.dxeHCCR
{
	width: 33px;
	*width: 22px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.dxeListBox_Office2010Blue td.dxeIM,
.dxeListBox_Office2010Blue td.dxeIMR
{
	width: 0;
}
.dxeListBox_Office2010Blue td.dxeC
{
	padding-right: 3px!important;
}
.dxeListBox_Office2010Blue td.dxeCR
{
	padding-left: 3px!important;
}
.dxeListBox_Office2010Blue td.dxeC > span,
.dxeListBox_Office2010Blue td.dxeCM > span
{
    margin: 2px 2px 2px 3px;
}
.dxeListBox_Office2010Blue td.dxeCR > span,
.dxeListBox_Office2010Blue td.dxeCMR > span
{
    margin: 2px 3px 2px 2px;
}
.dxeListBox_Office2010Blue td.dxeT
{
	width: 100%;
	padding-left: 0!important;
}

.dxeListBox_Office2010Blue td.dxeTR
{
	width: 100%;
	padding-right: 0!important;
}

.dxeListBox_Office2010Blue td.dxeT,
.dxeListBox_Office2010Blue td.dxeMI
{
	border-left-width: 0!important;
}

.dxeListBox_Office2010Blue td.dxeTR,
.dxeListBox_Office2010Blue td.dxeMIR
{
	border-right-width: 0!important;
}

.dxeListBox_Office2010Blue td.dxeFTM,
.dxeListBox_Office2010Blue td.dxeTM,
.dxeListBox_Office2010Blue td.dxeLTM,
.dxeListBox_Office2010Blue .dxeHFC,
.dxeListBox_Office2010Blue .dxeHC,
.dxeListBox_Office2010Blue .dxeHLC,
.dxeListBox_Office2010Blue td.dxeFTMR,
.dxeListBox_Office2010Blue td.dxeTMR,
.dxeListBox_Office2010Blue td.dxeLTMR,
.dxeListBox_Office2010Blue .dxeHFCR,
.dxeListBox_Office2010Blue .dxeHCR,
.dxeListBox_Office2010Blue .dxeHLCR
{
	overflow: hidden;
}

.dxeListBox_Office2010Blue td.dxeFTM,
.dxeListBox_Office2010Blue td.dxeTM,
.dxeListBox_Office2010Blue .dxeHFC,
.dxeListBox_Office2010Blue .dxeHC
{
	padding-right: 6px!important;
}

.dxeListBox_Office2010Blue td.dxeFTMR,
.dxeListBox_Office2010Blue td.dxeTMR,
.dxeListBox_Office2010Blue .dxeHFCR,
.dxeListBox_Office2010Blue .dxeHCR
{
	padding-left: 6px!important;
}

.dxeListBox_Office2010Blue td.dxeLTM,
.dxeListBox_Office2010Blue td.dxeTM,
.dxeListBox_Office2010Blue .dxeHC,
.dxeListBox_Office2010Blue .dxeHLC
{
	padding-left: 6px!important;
}

.dxeListBox_Office2010Blue td.dxeLTMR,
.dxeListBox_Office2010Blue td.dxeTMR,
.dxeListBox_Office2010Blue .dxeHCR,
.dxeListBox_Office2010Blue .dxeHLCR
{
	padding-right: 6px!important;
}

.dxeListBox_Office2010Blue .dxeFTM,
.dxeListBox_Office2010Blue .dxeTM,
.dxeListBox_Office2010Blue .dxeHFC,
.dxeListBox_Office2010Blue .dxeHC,
.dxeListBox_Office2010Blue .dxeLTM,
.dxeListBox_Office2010Blue .dxeTM,
.dxeListBox_Office2010Blue .dxeHC,
.dxeListBox_Office2010Blue .dxeHLC,
.dxeListBox_Office2010Blue td.dxeIM,
.dxeListBox_Office2010Blue td.dxeFTM,
.dxeListBox_Office2010Blue td.dxeTM,
.dxeListBox_Office2010Blue td.dxeCM,
.dxeListBox_Office2010Blue td.dxeMIM,
.dxeListBox_Office2010Blue .dxeFTMR,
.dxeListBox_Office2010Blue .dxeTMR,
.dxeListBox_Office2010Blue .dxeHFCR,
.dxeListBox_Office2010Blue .dxeHCR,
.dxeListBox_Office2010Blue .dxeLTMR,
.dxeListBox_Office2010Blue .dxeTMR,
.dxeListBox_Office2010Blue .dxeHCR,
.dxeListBox_Office2010Blue .dxeHLCR,
.dxeListBox_Office2010Blue td.dxeIMR,
.dxeListBox_Office2010Blue td.dxeFTMR,
.dxeListBox_Office2010Blue td.dxeTMR,
.dxeListBox_Office2010Blue td.dxeCMR,
.dxeListBox_Office2010Blue td.dxeMIMR
{
	border-top-width: 0;
	border-bottom-width: 0;
}

/*Grid lines*/

.dxeListBox_Office2010Blue td.dxeLTM,
.dxeListBox_Office2010Blue td.dxeTM,
.dxeListBox_Office2010Blue td.dxeMIM
{
	border-left: 1px solid #cfddee!important;
}

.dxeListBox_Office2010Blue td.dxeLTMR,
.dxeListBox_Office2010Blue td.dxeTMR,
.dxeListBox_Office2010Blue td.dxeMIMR
{
	border-right: 1px solid #cfddee!important;
}

.dxeListBox_Office2010Blue td.dxeIM,
.dxeListBox_Office2010Blue td.dxeFTM,
.dxeListBox_Office2010Blue td.dxeTM,
.dxeListBox_Office2010Blue td.dxeLTM,
.dxeListBox_Office2010Blue td.dxeCM,
.dxeListBox_Office2010Blue td.dxeMIM,
.dxeListBox_Office2010Blue td.dxeIMR,
.dxeListBox_Office2010Blue td.dxeFTMR,
.dxeListBox_Office2010Blue td.dxeTMR,
.dxeListBox_Office2010Blue td.dxeLTMR,
.dxeListBox_Office2010Blue td.dxeCMR,
.dxeListBox_Office2010Blue td.dxeMIMR
{
	border-bottom: 1px solid #cfddee;
}

.dxeListBoxItemSelected_Office2010Blue     
{
	color: Black;
	background: #e2ecf7 none;
}
.dxeListBoxItemHover_Office2010Blue        
{
	color: Black;
	background: #d5e8ff none;
}
.dxeListBoxItemHover_Office2010Blue em,
.dxeListBoxItemSelected_Office2010Blue em
{
	background-image: none;
}

/*Header*/

.dxeListBox_Office2010Blue .dxeHD
{
	background: #e4effb url('lbHeaderBack.png') repeat-x left top;
	border-bottom: 1px solid #8ba0bc;
}
.dxeHD .dxeListBoxItem_Office2010Blue
{
	color: #1e395b;
	border-top-width: 0;
	border-right-width: 1px;
	border-bottom-width: 0;
	border-left-width: 1px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.dxeListBox_Office2010Blue .dxeHC,
.dxeListBox_Office2010Blue .dxeHLC,
.dxeListBox_Office2010Blue td.dxeHMIC
{
	border-left: 1px solid #8ba0bc;
}

.dxeListBox_Office2010Blue .dxeHCR,
.dxeListBox_Office2010Blue .dxeHLCR,
.dxeListBox_Office2010Blue td.dxeHMICR
{
	border-right: 1px solid #8ba0bc;
	text-align: right;
}

.dxeListBox_Office2010Blue .dxeHIC,
.dxeListBox_Office2010Blue .dxeHFC,
.dxeListBox_Office2010Blue .dxeHCC
{
	border-left: 1px solid #e8f0fb;
}

.dxeListBox_Office2010Blue .dxeHICR,
.dxeListBox_Office2010Blue .dxeHFCR,
.dxeListBox_Office2010Blue .dxeHCCR
{
	border-right: 1px solid #e8f0fb;
	text-align: right;
}

.dxeListBox_Office2010Blue .dxeHFC,
.dxeListBox_Office2010Blue .dxeHC,
.dxeListBox_Office2010Blue .dxeHMIC
{
	border-right-width: 0;
}

.dxeListBox_Office2010Blue .dxeHFCR,
.dxeListBox_Office2010Blue .dxeHCR,
.dxeListBox_Office2010Blue .dxeHMICR
{
	border-left-width: 0;
	text-align: right;
}

.dxeListBox_Office2010Blue .dxeHLC
{
	border-right: 1px solid #cfddee;
}

.dxeListBox_Office2010Blue .dxeHLCR
{
	border-left: 1px solid #cfddee;
	text-align: right;
}

/* -- Calendar -- */
.dxeCalendar_Office2010Blue
{
    font: 11px Verdana, Geneva, sans-serif;
	font-weight: normal;
	color: #1e395b;
	border: 1px solid #8ba0bc;
	background-color: #cfddee;
	cursor: default;
}
.dxeCalendar_Office2010Blue td.dxMonthGrid
{
	padding: 1px 8px;
}
.dxeCalendar_Office2010Blue td.dxMonthGridWithWeekNumbers
{
	padding: 1px 20px 6px 8px;
}
.dxeCalendar_Office2010Blue td.dxMonthGridWithWeekNumbersRtl
{
	padding: 1px 8px 1px 20px;
}
.dxeCalendarDayHeader_Office2010Blue
{
	padding: 2px 4px 6px;
	border-bottom: 1px solid #b7c8dd;
}
.dxeCalendarWeekNumber_Office2010Blue
{
	font-size: 0.82em;
	text-align: right;
	padding: 3px 8px 2px 4px;
	color: #abb7c6;
}
.dxeCalendarDay_Office2010Blue
{
	padding: 2px 5px 3px;
	text-align: center;
}
.dxeCalendarWeekend_Office2010Blue        
{
	color: #C00000;
}
.dxeCalendarOtherMonth_Office2010Blue     
{
	color: #b6c3d2;
}
.dxeCalendarOutOfRange_Office2010Blue     
{
	color: #b6c3d2;
}
.dxeCalendarDayDisabled_Office2010Blue {
	background-color: #cad9ec;
	color: #bac9dc!important;
}
.dxeCalendarToday_Office2010Blue         
{
	padding: 1px 4px 2px;
	border: 1px solid #c95c05;
}
.dxeCalendarSelected_Office2010Blue       
{
	color: #1e395b;
	background-color: #a9c1de;
	border-width: 0;
	padding: 2px 5px 3px;
}
.dxeDayInRange.dxeCalendarSelected_Office2010Blue
{
    background-color: #bed0e6;
}
.dxeCalendarHeader_Office2010Blue
{
	border-style: none;
	padding: 4px;
}
.dxeCalendarHeader_Office2010Blue td.dxe
{
	text-align: center;
	cursor: pointer;
}
.dxeCalendarHeader_Office2010Blue .dxeCHS
{
    min-width: 1px;
}
.dxeCalendarFooter_Office2010Blue
{
	background-color: #cfddee;
	padding: 10px 0;
	border-top: 1px solid #b7c8dd;
}
.dxeCalendarFooter_Office2010Blue .dxeCFS
{
    min-width: 12px;
}
.dxeCalendarFastNav_Office2010Blue
{
	color: #1e395b;
	background: #cfddee none;
	border-top: 1px solid #8ba0bc;
	border-right: 1px solid #8ba0bc;
	border-bottom: 0 solid #8ba0bc;
	border-left: 1px solid #8ba0bc;
	padding: 5px 8px;
	cursor: default;
}
.dxeCalendarFastNavMonthArea_Office2010Blue
{
	padding: 0px 9px;
}
.dxeCalendarFastNavYearArea_Office2010Blue
{
    padding-top: 8px;
}
.dxeCalendarFastNavFooter_Office2010Blue
{
	color: #1e395b;
	background: #cfddee none;
	padding: 8px 0 17px;
	border-top: 0 solid #8ba0bc;
	border-right: 1px solid #8ba0bc;
	border-bottom: 1px solid #8ba0bc;
	border-left: 1px solid #8ba0bc;
}
.dxeCalendarFastNavFooter_Office2010Blue .dxeCFNFS
{
    min-width: 11px;
}
.dxeCalendarFastNavMonth_Office2010Blue,
.dxeCalendarFastNavYear_Office2010Blue
{
	color: #1e395b;
	padding: 3px 5px;
	text-align: center;
	cursor: pointer;
}
.dxeCalendarFastNavYear_Office2010Blue
{
	padding: 3px 5px;
}
.dxeCalendarFastNavMonth_Office2010Blue
{
	padding: 6px;
}

.dxeCalendarFastNavMonthHover_Office2010Blue,
.dxeCalendarFastNavYearHover_Office2010Blue
{
	color: #1e395b;
	padding: 2px 4px;
	border: 1px solid #c95c05;
}
.dxeCalendarFastNavMonthHover_Office2010Blue
{
	padding: 5px;
}

.dxeCalendarFastNavMonthSelected_Office2010Blue,
.dxeCalendarFastNavYearSelected_Office2010Blue
{
	color: #1e395b;
	background-color: #a9c1de;
	border-width: 0;
}
.dxeCalendarFastNavYearSelected_Office2010Blue
{
	padding: 3px 5px;
}
.dxeCalendarFastNavMonthSelected_Office2010Blue
{
	padding: 6px;
}
.dxeDateEditTimeEditCell_Office2010Blue
{
    padding: 6px 25px 15px;
    width: 100px;
}
.dxeDateEditClockCell_Office2010Blue
{
    padding: 13px 13px 0;
}
.dxeCalendarFooter_Office2010Blue.dxeDETSF
{
    padding-left: 10px;
    padding-right: 10px;
}
.dxeCalendarHeader_Office2010Blue.dxeDETSH
{
    display: none;
}
/* Disabled */
.dxeDisabled_Office2010Blue,
.dxeDisabled_Office2010Blue td.dxe
{
	color: #b2b7bd;
	cursor: default;
}
.dxeEditArea_Office2010Blue.dxeDisabled_Office2010Blue /*Bootstrap correction*/
{
    color: #b2b7bd;
}
a.dxeDisabled_Office2010Blue:hover
{
	color: #b2b7bd;
}
.dxeButtonDisabled_Office2010Blue
{
	border-color: #bdcbdf;
	color: #b2b7bd;
	cursor: default;
}
/* -- Button -- */
.dxbButton_Office2010Blue
{
	color: #1e395b;
	font: 11px Verdana, Geneva, sans-serif;
	border: 1px solid #abbad0;
	background: #d1dfef url('edtBtnBack.png') repeat-x left top;
	padding: 1px;
}
.dxbButtonHover_Office2010Blue
{
	color: #1e395b;
	background: #fcf8e5 url('edtBtnHBack.png') repeat-x left top;
	border: 1px solid #eecc53;
}
.dxbButtonChecked_Office2010Blue
{
	color: #1e395b;
	background: #fee287 url('edtBtnPBack.png') repeat-x left top;
	border: 1px solid #c2762b;
}
.dxbButtonPressed_Office2010Blue
{
	color: #1e395b;
	background: #fee287 url('edtBtnPBack.png') repeat-x left top;
	border: 1px solid #c2762b;
}
.dxbButton_Office2010Blue div.dxb
{
	padding: 2px 14px;
	border: 1px dotted transparent;
}
.dxbButton_Office2010Blue div.dxbf
{
	border: 1px dotted black;
}
/* Button Link */
a.dxbButton_Office2010Blue
{
	color: #1e395b;
	text-decoration: none;
}
a.dxbButton_Office2010Blue:hover
{
	text-decoration: underline;
}
a.dxbButton_Office2010Blue:visited
{
	color: #8467b2;
}
/* Disabled */
.dxbDisabled_Office2010Blue
{
	border-color: #bdcbdf;
	background: #dae0e6 none;
}
.dxbDisabled_Office2010Blue,
a.dxbButton_Office2010Blue.dxbDisabled_Office2010Blue
{
	color: #87929f;
	cursor: default;
    text-decoration: none;
}
/* -- FilterControl -- */
.dxfcControl_Office2010Blue
{
	font: 11px Verdana, Geneva, sans-serif;
	color: Black;
	padding: 0 1em;
}
.dxfcTable_Office2010Blue
{
	border-collapse: separate!important;
}
.dxfcTable_Office2010Blue td.dxfc
{
	padding: 0px 0px 0px 3px;
}
a.dxfcPropertyName_Office2010Blue
{
	white-space: nowrap!important;
	color: Blue!important;
}
a.dxfcGroupType_Office2010Blue
{
	white-space: nowrap!important;
	padding: 0px 3px!important;
	color: Red!important;
}
a.dxfcOperation_Office2010Blue
{
	white-space: nowrap!important;
	color: Green!important;
}
a.dxfcValue_Office2010Blue
{
	white-space: nowrap!important;
	color: Gray!important;
}

.dxeMaskHint_Office2010Blue
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #1e395b;
	background: #ffffe1 none;
	border: 1px solid Black;
	padding: 2px 5px 3px;
}

.dxfcControl_Office2010Blue ul.dxfc-tree,
.dxfcControl_Office2010Blue .dxfc-tree ul
{
    list-style-type: none;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
}

.dxfcControl_Office2010Blue .dxfc-tree
{
    width: 100%;
}

.dxfcControl_Office2010Blue .dxfc-subnd
{
    margin-left: 22px;
}

.dxfcControl_Office2010Blue .dxfc > li > table
{
    border-spacing: 0;
    border-collapse: collapse;
}

.dxfcControl_Office2010Blue .dxfc-elb
{
    float: left;
    height: 21px;
    vertical-align: top;
    width: 26px;
}

.dxfcControl_Office2010Blue .dxfc-clr
{
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
    width: 0;
}

.dxfcControl_Office2010Blue .dxfc-nd
{
    cursor: pointer;
    display: block;
    float: left;
    height: 24px;
    outline: 0 none;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}

.dxfcControl_Office2010Blue .dxfc-nd > tbody > tr > td > a,
.dxfcControl_Office2010Blue .dxfc-nd > tbody > tr > td > span,
.dxfcControl_Office2010Blue .dxfc-nd > tbody > tr > td > img,
.dxfcControl_Office2010Blue .dxfc-editor
{
    vertical-align: middle;
}

.dxfcControl_Office2010Blue .dxfc-nd > tbody > tr > td > a,
.dxfcControl_Office2010Blue .dxfc-nd > tbody > tr > td > td,
.dxfcControl_Office2010Blue .dxfc-nd > tbody > tr > td > span
{
    padding: 0 0.1ex;
}

.dxfcControl_Office2010Blue .dxfc-nd > tbody > tr > td > a
{
    line-height: 24px;
}

.dxfcControl_Office2010Blue .dxfc-ln
{
    vertical-align: top;
}

.dxfcControl_Office2010Blue .dxfc-memo textarea 
{
	height: 80px;
	overflow: auto;
}

.dxfcControl_Office2010Blue .dxfc-validationSummary
{
	padding: 2px 5px 4px 6px !important;
	list-style-type: none;
	margin: 0;
}

.dxfcControl_Office2010Blue .dxfc-validationSummary li
{
	padding: 2px 0;
}

.dxfcControl_Office2010Blue .dxfc-validationSummary li a
{
	color: red;
	text-decoration: none;
	border-bottom: 1px dashed #f70;
}

.dxfcControl_Office2010Blue .dxfc-validationSummary li a:hover
{
	color: #f70;
}
/* -- ProgressBar -- */
.dxeProgressBar_Office2010Blue
{
	background: #f9f9fa url('edtProgressBack.png') repeat-x left top;
	border: 1px solid #a5acb5;
	font: 11px Verdana, Geneva, sans-serif;
	color: #1e395b;
    height: 21px;
}
.dxeProgressBar_Office2010Blue .dxePBMainCell,
.dxeProgressBar_Office2010Blue td.dxe
{
	padding: 0;
}
.dxeProgressBarIndicator_Office2010Blue
{
	background: #dfe6ed url('edtProgressIndicatorBack.png') repeat-x left top;
}

/* -- DropDownWindow -- */
.dxpcDropDown_Office2010Blue,
.dxeDropDownWindow_Office2010Blue
{
    font: 11px Verdana, Geneva, sans-serif;
}
.dxeDropDownWindow_Office2010Blue
{
	background-color: white;
	border: 1px solid #8ba0bc;
}

/*----------------- ColorTable -----------------*/
.dxeColorIndicator_Office2010Blue
{
	border: 1px solid #8ba0bc;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.dxeItemPicker_Office2010Blue
{
	background-color: White;
	border: 1px solid #a7abb0;
}
.dxeColorTable_Office2010Blue td.dx,
.dxeItemPicker_Office2010Blue td.dx
{
	padding: 4px;
}
.dxeColorTableCell_Office2010Blue,
.dxeItemPickerCell_Office2010Blue,
.dxeACICell_Office2010Blue
{
	padding: 3px;
	cursor: pointer;
}
.dxeColorTableCellDiv_Office2010Blue,
.dxeACICellDiv_Office2010Blue
{
	border: 1px solid #808080;
	width: 12px;
	height: 12px;
	font-size: 0;
}
.dxeColorTableCellSelected_Office2010Blue,
.dxeACICellSelected_Office2010Blue
{
	padding: 2px!important;
	background: #fddc7f url('../Web/mItemSBack.png') repeat-x left top;
	border: 1px solid #c2762b;
}
.dxeColorTableCellHover_Office2010Blue,
.dxeItemPickerCellHover_Office2010Blue,
.dxeAutomaticColorItemCellHover_Office2010Blue,
.dxeAutomaticColorItem_Office2010Blue:hover > div
{
	padding: 2px!important;
	background: #fcf9df url('../Web/mSubItemHBack.png') repeat-x left top;
	border: 1px solid #f2ca58;
}

/* -- Invalid Style -- */
.dxeInvalid_Office2010Blue
{
}
.dxeInvalid_Office2010Blue .dxeEditArea_Office2010Blue,
.dxeInvalid_Office2010Blue .dxeMemoEditArea_Office2010Blue
{
}

/* -- Focused Style -- */
.dxeFocused_Office2010Blue
{
	border: 1px solid #6c86ad;
}

.dxeFocused_Office2010Blue.dxeTrackBar_Office2010Blue
{	
	border: 0px;
}

/* -- Null Text Style -- */
.dxeNullText_Office2010Blue .dxeEditArea_Office2010Blue,
.dxeNullText_Office2010Blue .dxeMemoEditArea_Office2010Blue
{
	color: #b2b7bd;
}

/* -- Captcha -- */
.dxcaControl_Office2010Blue
{
    font: 11px Verdana, Geneva, sans-serif;
}

.dxcaRefreshButton_Office2010Blue
{
	text-decoration: none;
	color: #1e395b;
}

.dxcaDisabledRefreshButton_Office2010Blue
{
	color: #b2b7bd;
}

.dxcaRefreshButtonCell_Office2010Blue
{
	padding-left: 4px;
}

.dxcaRefreshButtonText_Office2010Blue
{
}

.dxcaDisabledRefreshButtonText_Office2010Blue
{
}

.dxcaTextBoxCell_Office2010Blue,
.dxcaTextBoxCellNoIndent_Office2010Blue
{
}

.dxcaTextBoxCell_Office2010Blue .dxeErrorCell_Office2010Blue
{
}

.dxcaTextBoxCellNoIndent_Office2010Blue .dxeErrorCell_Office2010Blue
{
	padding-left: 0px;
	padding-top: 4px;
	color: Red;
}

.dxcaTextBoxLabel_Office2010Blue
{
	padding-bottom: 4px;
	display: block;
}
.dxcaLoadingPanel_Office2010Blue .dxlp-loadingImage
{
	margin:0px;
}
.dxcaLoadingPanel_Office2010Blue
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #1e395b;
	background: White none;
	border: 1px solid #859ebf;
}

.dxcaLoadingPanel_Office2010Blue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}

.dxpcLite_Office2010Blue .dxHFBPS
{
    width: 6px;
}

.dxeTextBox_Office2010Blue,
.dxeButtonEdit_Office2010Blue,
.dxeIRadioButton_Office2010Blue,
.dxeRadioButtonList_Office2010Blue,
.dxeCheckBoxList_Office2010Blue
{
    cursor: default;
}

/* Removes flicking in iOS Safari*/
.dxeTrackBar_Office2010Blue, 
.dxeIRadioButton_Office2010Blue, 
.dxeButtonEdit_Office2010Blue, 
.dxeTextBox_Office2010Blue, 
.dxeRadioButtonList_Office2010Blue, 
.dxeCheckBoxList_Office2010Blue, 
.dxeMemo_Office2010Blue, 
.dxeListBox_Office2010Blue, 
.dxeCalendar_Office2010Blue, 
.dxeColorTable_Office2010Blue
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*B232817*/
.dxIE.dxBrowserVersion-9 .dxeEditArea_Office2010Blue,
.dxIE.dxBrowserVersion-10 .dxeEditArea_Office2010Blue
{
	padding-bottom: 1px;
    margin-bottom: 0px;
}
.dxMacOSMobilePlatform .dxeEditArea_Office2010Blue
{
    padding-bottom: 2px!important;
    margin-bottom: -1px!important;
}

/* ASPxCololrEdit */
.dxcpParametersCellSys .dxcpWebColorInput_Office2010Blue
{
	float: right;
	margin-top: 40px;
	*margin-top: 35px;
}
.dxcpColorParameterMainDiv_Office2010Blue
{
	padding: 0px 0 4px 9px;
	width: 90px;
	text-align: right;
}
.dxeCustomColorButton_Office2010Blue
{
    padding-top: 3px;
    padding-bottom: 3px;
	margin: 3px 7px;
	cursor: pointer;
}
.dxeAutomaticColorItem_Office2010Blue
{
	padding: 4px 4px 0px 4px;
}
.dxeAutomaticColorItem_Office2010Blue > span
{
    margin: 0px 5px;
    line-height: 20px;
}
.dxcpCurrentColor_Office2010Blue,
.dxcpSavedColor_Office2010Blue
{
	height: 35px;
}
.dxcpCurrentAndSaved_Office2010Blue
{
	width: 65px;
	margin: 34px 0px 0px auto;
	cursor: pointer;
}
.dxeColorTablesMainDiv_Office2010Blue,
.dxeColorSelectorMainDiv_Office2010Blue
{
	background-color: #FFFFFF;
}
.dxeColorSelectorMainDiv_Office2010Blue
{
	padding: 7px;
}
.dxcpColorArea_Office2010Blue,
.dxcpHueAreaImage_Office2010Blue,
.dxcpCurrentAndSaved_Office2010Blue,
.dxeColorTablesMainDiv_Office2010Blue,
.dxeColorSelectorMainDiv_Office2010Blue,
.dxcpParametersCell_Office2010Blue input 
{
	border: 1px solid #8ba0bc;
}
.dxeButtonsPanelDiv_Office2010Blue
{
	margin-top: 15px;
	text-align: right;
}
.dxeButtonsPanelDiv_Office2010Blue input
{
	min-width: 60px;
	margin-left: 10px;
}

/* -- ASPxTokenBox -- */
input.dxeTokenBoxInput_Office2010Blue[type="text"] {
	display: inline-block;
	float: left;
	outline: none;
	width: 30px;
	padding: 2px 0px 2px 0px;
	margin: 0px 1px 1px 2px;
}
.dxeToken_Office2010Blue {
    display: inline-block;
	float: left;
	min-width: 30px;
	margin: 0px 1px 1px 0px;
}
.dxeTokenText_Office2010Blue, .dxeTokenRemoveButton_Office2010Blue {
	display: block;
	float: left;
}
.dxeTokenText_Office2010Blue {
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0px 2px 0px 4px;
	padding: 2px 0px 2px 0px;
}
.dxeTokenRemoveButton_Office2010Blue {
	cursor: pointer;
	margin-top: 1px;
}
.dxeToken_Office2010Blue {
	background: #e6e9ec url('edtTokenBoxTokenBackground.png') repeat-x top;
}
.dxFirefox .dxeButtonEdit_Office2010Blue td.dxictb,
.dxeButtonEdit_Office2010Blue td.dxictb {
    padding: 0;
}
.dxFirefox input.dxeTokenBoxInput_Office2010Blue[type="text"]{
	padding: 1px 0px 1px 0px;
	margin: 0px 1px 1px 1px;
}
.dxFirefox .dxeTokenText_Office2010Blue {
	padding: 1px 0px 1px 0px;
}

/* ASPxPictureEdit */
.dxpePreviewContainer_Office2010Blue
{
    position: relative;
}
.dxpeCommandPanel_Office2010Blue
{
    background-color: #333333;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    height: 32px;
    position: absolute;
}
.dxpeBottomCommandPanel_Office2010Blue
{
    width: 100%;
    bottom: 0;
}

.dxpeTopCommandPanel_Office2010Blue
{
    width: 100%;      
    top: 0;    
}
.dxpeCommandPanelDeleteButton_Office2010Blue, 
.dxpeCommandPanelOpenDialogButton_Office2010Blue
{    
    cursor: pointer;
    display: inline-block;
}
.dxpeCommandPanelButtonsWrapper_Office2010Blue
{
    position: absolute;
}
.dxpeCommandPanelButtonsWrapperLeft_Office2010Blue
{
    left: 0;
}
.dxpeCommandPanelButtonsWrapperCenter_Office2010Blue
{
    left: 50%;
    margin-left: -32px;
}
.dxpeCommandPanelButtonsWrapperRight_Office2010Blue
{
    right: 0;
}
.dxpeCommandPanelDeleteButtonHover_Office2010Blue,
.dxpeCommandPanelDeleteButtonPressed_Office2010Blue,
.dxpeCommandPanelOpenDialogButtonHover_Office2010Blue,
.dxpeCommandPanelOpenDialogButtonPressed_Office2010Blue
{
}
.dxpeCommandPanelDeleteButtonDisabled_Office2010Blue,
.dxpeCommandPanelOpenDialogButtonDisabled_Office2010Blue
{
}
.dxpeDropZone_Office2010Blue
{
    background-color: gray;
}
.dxpePlaceHolder_Office2010Blue
{
    background-color: lightgray;
    z-index: -1;
}
.dxpeTextPanelContainer_Office2010Blue
{
    height: 100%;
    font-size: 200%;
    text-align: center;
    width: 100%;
}
.dxpeTextPanel_Office2010Blue
{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Editor caption */
.dxeCaptionCell_Office2010Blue
{
    font: 11px Verdana, Geneva, sans-serif;
	color: #3c3c3c;
    white-space: nowrap;
    line-height: 16px;
    height: 100%;
}
.dxeRoot_Office2010Blue
{
}
.dxeCaption_Office2010Blue
{
}
.dxeCaptionCell_Office2010Blue.dxeCaptionVATSys.dxeTextEditCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_Office2010Blue.dxeCaptionVATSys.dxeCheckBoxCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_Office2010Blue.dxeCaptionVATSys.dxeRadioButtonCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_Office2010Blue.dxeCaptionVATSys.dxeCheckBoxListCTypeSys
{
    padding-top: 11px;
}
.dxeCaptionCell_Office2010Blue.dxeCaptionVATSys.dxeRadioButtonListCTypeSys
{
    padding-top: 11px;
}
.dxeCaptionCell_Office2010Blue.dxeCaptionVATSys.dxeListBoxCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_Office2010Blue.dxeCaptionVATSys.dxeTrackBarCTypeSys
{
    padding-top: 2px;
}
.dxeCaptionCell_Office2010Blue.dxeCaptionVATSys.dxeProgressBarCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_Office2010Blue.dxeCaptionVATSys.dxeMemoCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_Office2010Blue.dxeCaptionVATSys.dxeCustomCTypeSys
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.dxFirefox .dxeTextEditCTypeSys.dxeCaptionVATSys.dxeCaptionCell_Office2010Blue,
.dxFirefox .dxeMemoCTypeSys.dxeCaptionVATSys.dxeCaptionCell_Office2010Blue,
.dxFirefox .dxeProgressBarCTypeSys.dxeCaptionVATSys.dxeCaptionCell_Office2010Blue
{
    padding-top: 2px;
}

.dxeRequiredMark_Office2010Blue {
    color: green;
    font-style: normal;
}

.dxeOptionalMark_Office2010Blue {
    color: gray;
    font-style: normal;
}

/* Out of range warning*/
.dxeOutOfRWarn_Office2010Blue {
    font: 11px Verdana, Geneva, sans-serif;
    padding: 3px 8px 4px 8px;
    display: none;
    position: absolute;
    background-color: white;
    color: red;
    border-radius: 3px;
    z-index: 41998;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #A8A8A8;
}
.dxeOutOfRWarnRight_Office2010Blue {
    margin-left: 10px;
}
.dxeOutOfRWarnBottom_Office2010Blue {
    margin-top: 10px;
}
