.dxgvControl_RedWine,
.dxgvDisabled_RedWine
{
	border: 1px Solid #8A0A37;
	font: 12px Tahoma, Geneva, sans-serif;
	background-color: #EFEFEF;
	color: #000000;
	cursor: default;
}
.dxgvDisabled_RedWine
{
	color: Gray;
}
.dxgvControl_RedWine a
{
	color: #8A0A37;
}
.dxgvControl_RedWine a:hover
{
	color: #BE458B;
}
.dxgvDisabled_RedWine a
{
	color: Gray;
}

.dxgvEmptyDataRow_RedWine.dxgvLVR > td.dxgv,
.dxgvDataRow_RedWine.dxgvLVR > td.dxgv,
.dxgvGroupRow_RedWine.dxgvLVR > td.dxgv
{
    border-bottom-width: 0;
}

.dxgvRBB .dxgvEmptyDataRow_RedWine.dxgvLVR > td.dxgv,
.dxgvRBB .dxgvDataRow_RedWine.dxgvLVR > td.dxgv,
.dxgvRBB .dxgvGroupRow_RedWine.dxgvLVR > td.dxgv
{
    border-bottom-width: 1px !important;
}

.dxgvLoadingPanel_RedWine
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #767676;
	background-color: #f6f6f6;
	border: 1px solid #898989;
}
.dxgvLoadingPanel_RedWine td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 20px 6px;
}
.dxgvLoadingPanel_RedWine .dxlp-loadingImage,
.dxgvLoadingPanelStatusBar_RedWine .dxlp-loadingImage 
{
	background-image: url('../Web/Loading.gif');
	height: 18px;
	width: 18px;
}
.dxgvLoadingPanelStatusBar_RedWine
{
	background-color: transparent;
}
.dxgvLoadingPanelStatusBar_RedWine td
{
	white-space: nowrap;
	text-align: center;
	padding: 0px 2px;
}

.dxgvFilterPopupWindow_RedWine
{
	color: Black;
	border: 1px solid #8a0a37;
}
.dxgvFilterPopupItemsArea_RedWine
{
	color: Black;
	background-color: #f5ecf1;
}
.dxgvFilterPopupButtonPanel_RedWine
{
	background-color: #eed8e3;
	border: 1px solid #dcdcdc;
	border-left: 0px solid #dcdcdc;
	color: Black;
}

.dxgvFilterPopupItem_RedWine td.dxgv,
.dxgvFilterPopupActiveItem_RedWine td.dxgv,
.dxgvFilterPopupSelectedItem_RedWine td.dxgv
{
	padding: 3px 2px 4px 4px;
	border-left: 1px solid #f5ecf1;
	border-top: 1px solid #f5ecf1;
	border-right: 1px solid #f5ecf1;
	cursor: default;
	white-space: nowrap;
}
.dxgvFilterPopupActiveItem_RedWine
{
	background: #dbbbda none;
	color: Black;
}
.dxgvFilterPopupSelectedItem_RedWine
{
	color: White;
	background: #8A0A37 none;
}

.dxgvTable_RedWine
{
	background-color: #FFFFFF;
	border-width: 0;
	border-collapse: separate!important;
	overflow: hidden;
}
.dxgvTable_RedWine .dxgvHEC
{
	background-color: #FFFFFF;
	border-width: 0;
	overflow: hidden;
}
.dxgvControl_RedWine .dxgvFSDC .dxgvFooter_RedWine td.dxgv
{
    border-bottom: 0;
}
.dxgvControl_RedWine .dxgvFGI
{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.dxgvControl_RedWine .dxgvFGI
{
    right: 5px;
    left: auto;
}
*[dir="rtl"].dxgvControl_RedWine .dxgvFGI
{
    right: auto;
    left: 5px;
}
.dxgvInlineEditRow_RedWine,
.dxgvDataRow_RedWine
{
}
.dxgvInlineEditRow_RedWine td.dxgv
{
	border-bottom: 1px Solid #D5D5D5;
	border-right: 1px Solid #D5D5D5;
}
.dxgvInlineEditRow_RedWine td.dxgvIndentCell
{
	background-color: #EBEBEB;
}
.dxgvDataRowAlt_RedWine
{
	background-color: #F8EDEF;
}
.dxgvFilterRow_RedWine
{
	background-color: #E2A4BA;
}
.dxgvEditForm_RedWine
{
	background-color: #F6EBF6;
}
.dxgvEditForm_RedWine td.dxgv
{
	border-bottom: 1px Solid #D5D5D5;
	padding: 15px;
}
.dxgvEditForm_RedWine td.dxgvIndentCell
{
	background: #ebebeb none;
	border-right: 1px Solid #d5d5d5;
	border-left: 1px Solid #d5d5d5;
	border-top-width: 0px;
}
.dxgvSelectedRow_RedWine
{
	background-color: #AD275C;
	color: #FFFFFF;
}
.dxgvFocusedRow_RedWine
{
	background-color: #8A0A37;
	color: #FFFFFF;
}
.dxgvSelectedRow_RedWine td.dxgvCommandColumn_RedWine a, 
.dxgvSelectedRow_RedWine td.dxgvAIC a, 
.dxgvFocusedRow_RedWine td.dxgvCommandColumn_RedWine a,
.dxgvFocusedRow_RedWine td.dxgvAIC a,
.dxgvFocusedRow_RedWine a.dxeHyperlink_RedWine
{
	color: #FFFFFF;
}
.dxgvPreviewRow_RedWine
{
	background-color: #F6EBF6;
	color: #AD82A4;
}
.dxgvDetailRow_RedWine td.dxgv,
.dxgvPreviewRow_RedWine td.dxgv,
.dxgvEmptyDataRow_RedWine td.dxgv
{
	padding: 30px 2px 30px 4px;
	border-bottom: 1px Solid #D5D5D5;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}
.dxgvPreviewRow_RedWine td.dxgv
{
	padding: 15px 15px 15px 20px;
}
.dxgvDetailRow_RedWine td.dxgvDetailCell_RedWine
{
	padding: 19px;
}
.dxgvDetailRow_RedWine td.dxgvIndentCell
{
	padding-left: 0px;
	padding-right: 0px;
	border-bottom: 1px Solid #D5D5D5;
}
.dxgvDetailRow_RedWine.dxgvADR .dxgvADT > tbody > tr > td
{
    padding: 6px 6px 5px 0;
}
.dxgvDetailRow_RedWine.dxgvADR .dxgvADT > tbody > tr > td .dxeTextBoxSys,
.dxgvDetailRow_RedWine.dxgvADR .dxgvADT > tbody > tr > td .dxichCellSys
{
    margin: -4px 0 -3px 0;
}
.dxgvDetailRow_RedWine.dxgvADR .dxgvADCC
{
    color: #7F7F7F;
}
.dxgvDetailRow_RedWine.dxgvADR.dxgvFocusedRow_RedWine .dxgvADCC,
.dxgvDetailRow_RedWine.dxgvADR.dxgvFocusedRow_RedWine .dxgvADDC,
.dxgvDetailRow_RedWine.dxgvADR.dxgvSelectedRow_RedWine .dxgvADCC,
.dxgvDetailRow_RedWine.dxgvADR.dxgvSelectedRow_RedWine .dxgvADDC,
.dxgvDetailRow_RedWine.dxgvADR.dxgvFocusedRow_RedWine .dxgvADCMDC a,
.dxgvDetailRow_RedWine.dxgvADR.dxgvSelectedRow_RedWine .dxgvADCMDC a
{
    color: white;
}
.dxgvEmptyDataRow_RedWine
{
	background-color: #F6EBF6;
	color: #E1ABBE;
}
.dxgvEmptyDataRow_RedWine td.dxgv
{
	text-align: center;
}

.dxgvEditFormDisplayRow_RedWine td.dxgv,
.dxgvDetailCell_RedWine td.dxgv,
.dxgvDataRow_RedWine td.dxgv,
.dxgvDetailRow_RedWine.dxgvADR td.dxgvAIC
{
	overflow: hidden;
	border-bottom: 1px Solid #D5D5D5;
	border-right: 1px Solid #D5D5D5;
	border-top-width: 0;
	border-left-width: 0;
	padding: 4px 5px 5px;
}
.dxgvDataRow_RedWine td.dxgvAIC,
.dxgvInlineEditRow_RedWine td.dxgvAIC
{
    padding: 0 4px;
}
.dxgvDetailRow_RedWine.dxgvADR td.dxgvAIC
{
    padding: 6px 4px;
}
.dxgvEditFormDisplayRow_RedWine td.dxgvCommandColumn_RedWine,
.dxgvDataRow_RedWine td.dxgvCommandColumn_RedWine
{
	padding: 4px 5px 5px;
}
.dxgvEditFormDisplayRow_RedWine
{
	background-color: #F1E3F1;
}
.dxgvEditFormDisplayRow_RedWine td.dxgv
{
}
.dxgvEditFormDisplayRow_RedWine td.dxgvIndentCell
{
	background: #ebebeb none;
	border-right: 1px Solid #d5d5d5;
	border-left: 1px Solid #d5d5d5;
	border-top-width: 0px;
}
.dxgvEditingErrorRow_RedWine
{
	background-color: #F3D6D6;
	color: #BA1717;
}
.dxgvEditingErrorRow_RedWine td.dxgv
{
	white-space: pre-wrap;
	border-bottom: 1px Solid #D5D5D5;
	border-right-width: 0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 6px 12px;
}

.dxgvFilterRow_RedWine td.dxgv
{
	border-bottom: 1px Solid #BC758E;
	border-right-width: 0px;
	border-top-width: 0;
	border-left-width: 0;
	padding: 2px 1px;
	overflow: hidden;
}
.dxgvGroupRow_RedWine
{
	background-color: #EBEBEB;
	color: #B5486D;
}
.dxgvFocusedGroupRow_RedWine
{
	background-color: #8A0A37;
	color: #FFFFFF;
}
.dxgvGroupRow_RedWine td.dxgv,
.dxgvFocusedGroupRow_RedWine td.dxgv
{
	border-top: 0px none;
	border: 0 none;
	vertical-align: middle;
	white-space: nowrap;
	border-bottom: 1px Solid #D5D5D5;
	padding: 4px 5px;
    background-color: inherit;
}
.dxgvFocusedRow_RedWine td.dxgvIndentCell,
.dxgvFocusedGroupRow_RedWine td.dxgvIndentCell,
.dxgvSelectedRow_RedWine td.dxgvIndentCell
{
	background-color: #EBEBEB!important;
	border-right: 1px solid #D5D5D5;
	border-left: 1px solid #D5D5D5;
	border-top-width: 0px;
}
.dxgvHeaderPanel_RedWine
{
	background-color: #F27AA4;
	color: #FFFFFF;
	padding: 8px 4px 8px 3px;
	border-bottom: 1px Solid #8A0A37;
}

.dxIE .dxgvMSDraggable .dxgvHeader_RedWine,
.dxIE .dxgvMSDraggable.dxgvGroupPanel_RedWine
{
    -ms-touch-action: pinch-zoom;
}
.dxEdge .dxgvMSDraggable .dxgvHeader_RedWine,
.dxEdge .dxgvMSDraggable.dxgvGroupPanel_RedWine
{
    touch-action: pinch-zoom;
}
.dxgvHeader_RedWine
{
	cursor: pointer;
	white-space: nowrap;
	padding: 5px;
	border: 1px Solid #8A0A37;
	background: #F27AA4 url('gvHeaderBackground.gif') repeat-x top;
	overflow: hidden;
	font-weight: normal;
	text-align: left;
}

.dxgvHeader_RedWine a,
.dxgvHeader_RedWine a:hover
{
	color: White;
}

.dxgvHeader_RedWine,
.dxgvHeader_RedWine table
{
	color: #FFFFFF;
}
.dxgvHeader_RedWine td
{
	white-space: nowrap;
}
.dxgvHeader_RedWine a.dxgvCommandColumnItem_RedWine
{
	margin: 0px 3px 0px 0px;
	color: White;
}
.dxgvHeader_RedWine a.dxgvCommandColumnItem_RedWine:hover
{
	color: White;
}
.dxgvCustomization_RedWine, 
.dxgvPopupEditForm_RedWine
{
	padding: 0;
	margin: 0;
}
.dxgvAdaptiveGroupPanel_RedWine,
.dxgvGroupPanel_RedWine
{
	font-size: 0.83em;
	background-color: #AA1248;
	color: #E3ACBF;
	border-bottom: 1px Solid #8A0A37;
}
.dxgvGroupPanel_RedWine
{
	padding: 7px 4px 8px 6px;
    white-space: nowrap;
}
.dxgvAdaptiveGroupPanel_RedWine
{
    padding-left: 6px;
    padding-top: 7px;
}
.dxgvAdaptiveGroupPanel_RedWine div.dxgvADH
{
    margin-right: 4px;
    margin-bottom: 6px;
}
.dxgvAdaptiveGroupPanel_RedWine.dxgvEAHP
{
    padding-bottom: 8px;
}
.dxgvAdaptiveHeaderPanel_RedWine
{
	background-color: #AA1248;
	border-bottom: 1px Solid #8A0A37;
    padding-top: 10px;
}
.dxgvAdaptiveHeaderPanel_RedWine.dxgvEAHP
{
    padding: 10px 7px;
}
.dxgvAdaptiveFooterPanel_RedWine
{
    background-color: #EED8E3;
    padding-top: 6px;
}
.dxgvAdaptiveHeaderPanel_RedWine,
.dxgvAdaptiveFooterPanel_RedWine
{
    padding-left: 24px;
}
.dxgvFooter_RedWine
{
	background-color: #EED8E3;
	white-space: nowrap;
}
.dxgvFooter_RedWine td.dxgv
{
	padding: 6px 5px 7px;
	border-bottom: 1px Solid #CB9FB4;
	border-right-width: 0px;
}
.dxgvGroupFooter_RedWine
{
	background-color: #F3E9EF;
	white-space: nowrap;
}
.dxgvGroupFooter_RedWine td.dxgv
{
	padding: 6px 5px 7px;
	border-bottom: 1px Solid #D5D5D5;
	border-right-width: 0px;
}

.dxgvDataRow_RedWine td.dxgvIndentCell,
.dxgvDetailRow_RedWine td.dxgvIndentCell,
.dxgvPreviewRow_RedWine td.dxgvIndentCell,
.dxgvGroupRow_RedWine td.dxgvIndentCell,
.dxgvGroupFooter_RedWine td.dxgvIndentCell
{
	background-color: #EBEBEB;
	border-right: 1px solid #D5D5D5;
	border-left: 1px solid #D5D5D5;
	border-top-width: 0px;
}

.dxgvTitlePanel_RedWine,
.dxgvTable_RedWine caption
{
	font-weight: normal;
	padding: 5px 5px 6px;
	text-align: center;
	border-bottom: 1px Solid #8A0A37;
	color: #8A0A37;
	background-color: #EED8E3;
}
.dxgvStatusBar_RedWine
{
	border-top: 1px Solid #D5D5D5;
}
.dxgvStatusBar_RedWine tr.dxgv
{
	height: 20px;
}
.dxgvStatusBar_RedWine tr.dxgv > td
{
	padding: 4px;
}
.dxgvStatusBar_RedWine tr.dxgv span .dxbButtonSys:first-child
{
	margin-left: 2px;
}
.dxgvCommandColumn_RedWine
{
	padding: 2px 0px 2px 2px;
    white-space: nowrap;
}
.dxgvCommandColumn_RedWine a
{
	margin: 0px 3px 0px 0px;
}
.dxgvCommandColumnItem_RedWine
{
}
.dxbButton_RedWine[class~="dxgvCommandColumnItem_RedWine"],
.dxgvEditFormTable_RedWine div.dxbButton_RedWine
{
	margin: 0px 2px 0px 2px;
}
.dxbButton_RedWine[class~="dxgvCommandColumnItem_RedWine"] .dxb
{
	padding-top: 0;
    padding-bottom: 0;
}
.dxgvFilterRow_RedWine a.dxgvCommandColumnItem_RedWine
{
    display: inline-block;
    margin-top: 1px;
}
.dxgvEditFormTable_RedWine
{
	margin: 10px 0px;
	padding: 0px;
	color: #000000;
}
.dxgvEditFormCaption_RedWine
{
	padding: 5px 4px 4px 8px;
	white-space: nowrap;
}

.dxgvInlineEditCell_RedWine
{
	padding: 1px;
}
.dxgvInlineEditCell_RedWine .dxeButtonEdit_RedWine td.dxgv,
.dxgvInlineEditCell_RedWine .dxeTextBox_RedWine td.dxgv
{
	padding-left: 1px;
}

.dxgvEditFormCell_RedWine
{
	padding: 4px;
	border-width: 0;
}

.dxgvPagerTopPanel_RedWine,
.dxgvPagerBottomPanel_RedWine
{
	padding: 4px 0;
}

.dxgvFilterBar_RedWine
{
	border-top: 1px solid #e2ccd4;
	background: #efe2e8 none;
}
.dxgvFilterBar_RedWine a
{
	color: #8A0A37;
	text-decoration: underline;
}
.dxgvFilterBar_RedWine a:hover
{
	color: #BE458B;
}
.dxgvFilterBarCheckBoxCell_RedWine
{
	padding: 0 7px 0 3px;
}
.dxgvFilterBarImageCell_RedWine
{
	padding: 0 1px 0 3px;
	cursor: pointer;
}
.dxgvFilterBarExpressionCell_RedWine
{
	padding: 5px 5px 8px 0;
	white-space: nowrap;
}
.dxgvFilterBarClearButtonCell_RedWine
{
	padding: 5px 6px 8px;
}
.dxgvFilterBuilderMainArea_RedWine
{
	background: white none;
	padding: 6px 2px;
} 
.dxgvFilterBuilderButtonArea_RedWine
{
	background-color: #EED8E3;
	border-top: 1px solid #CB9FB4;
	padding: 6px;
	white-space: nowrap;
}

.dxgvDataRowHover_RedWine
{
	background: #DBBBDA none;
	color: Black;
}

.dxgvControl_RedWine .dxpSummary_RedWine,
.dxgvControl_RedWine .dxpPageSizeItem_RedWine,
.dxgvControl_RedWine .dxpLite_RedWine .dx-summary,
.dxgvControl_RedWine .dxpLite_RedWine .dxp-pageSizeItem
{
	color: #727272;
}
.dxgvControl_RedWine .dxgvHFSAC
{
    padding: 9px 0 0 5px;
}
.dxgvControl_RedWine .dxgvHFC
{
    padding-left: 5px;
    padding-bottom: 3px;
}
.dxgvControl_RedWine .dxgvHFC .dxeCalendar_RedWine
{
    margin-top: 3px;
    margin-left: 23px;
}
.dxgvControl_RedWine .dxgvHFSC
{
    padding: 9px 0 6px;
}
.dxgvControl_RedWine .dxgvHFSC div
{
    height: 1px;
    background: #8A0A37;
}
.dxgvControl_RedWine .dxgvHFSAC,
.dxgvControl_RedWine .dxgvHFC,
.dxgvControl_RedWine .dxgvHFSC,
.dxgvControl_RedWine .dxgvHFLC
{
    background: White;
}
.dxgvControl_RedWine div[id$='DXEPLPC']
{
    height: 59px;
}

.dxgvControl_RedWine .dxgvHFSD
{
    height: 1px;
    margin: 2px 0;
}
.dxgvControl_RedWine .dxgvHFDRC
{
    margin: 15px 15px 25px;
}
.dxgvControl_RedWine .dxgvHFDRP
{
    margin-left: 15px;
    margin-right: 15px;
    padding: 9px 0 6px;
}
.dxgvControl_RedWine .dxgvHFDRP[id*="HFFDE"]
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.dxgvControl_RedWine .dxgvHFDRP[id*="HFTDE"]
{
    margin-bottom: 25px;
}

/* Removes flicking in iOS Safari*/
.dxgvTable_RedWine
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.dxgvControl_RedWine td.dxgvBatchEditCell_RedWine
{
    padding: 0;
}
.dxgvControl_RedWine td.dxgvBatchEditModifiedCell_RedWine
{
    background: #d7f9c7;
}
.dxgvControl_RedWine .dxgvErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxgvControl_RedWine .dxgvErrorCell img
{
    margin: -3px 0;
}
.dxgvStatusBar_RedWine .dxgvCommandColumn_RedWine a
{
    margin-right: 10px;
}
.dxgvControl_RedWine td.dxgvBatchEditCell_RedWine .dxichCellSys
{
    padding-left: 0;
}

.dxgvSearchPanel_RedWine
{
    background: #E2A4BA;
    padding: 7px 4px 7px 6px;
    border-bottom: 1px solid #8A0A37;
}
.dxgvSearchPanel_RedWine > table 
{
    width: 70%;
    max-width: 450px;
}
.dxgvControl_RedWine .dxgvSearchPanel_RedWine .dxbButton_RedWine
{
    margin-left: 7px;
    margin-right: 0;
}
*[dir="rtl"].dxgvControl_RedWine .dxgvSearchPanel_RedWine .dxbButton_RedWine {
    margin-left: 0;
    margin-right: 7px;
}
.dxgvControl_RedWine .dxgvHL
{
    background: #ffd83a;
	color: #333333;
	font-weight: bold;
	font-style: normal;
}

/* TODO remove (replace to command button style) */
.dxgvControl_RedWine .dxgvSearchPanel_RedWine .dxbButton_RedWine
{
    font-size: 0.9em;
    margin-top: -2px;
    margin-bottom: -2px;
}
.dxgvControl_RedWine .dxgvSearchPanel_RedWine .dxbButton_RedWine .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}

.dxgvEditFormTable_RedWine .dxflGroupBoxCaption_RedWine {
    background-color: #F6EBF6;
}
