/* -- ValidationSummary -- */
.dxvsValidationSummary_Office2010Silver
{
	font: 11px Verdana, Geneva, sans-serif;
	color: Red;
}
.dxvsValidationSummary_Office2010Silver td.dxvsRC_Office2010Silver
{
	vertical-align: top;
	padding: 2px 5px 4px 6px;
}
.dxvsValidationSummary_Office2010Silver .dxvsE_Office2010Silver
{
}
.dxvsValidationSummary_Office2010Silver table.dxvsHT_Office2010Silver
{
	width: 100%;
}
.dxvsValidationSummary_Office2010Silver td.dxvsH_Office2010Silver
{
	padding: 2px 0;
}
.dxvsValidationSummary_Office2010Silver a.dxvsHL_Office2010Silver,
.dxvsValidationSummary_Office2010Silver a.dxvsHL_Office2010Silver:visited
{
	color: red;
}
.dxvsValidationSummary_Office2010Silver a.dxvsHL_Office2010Silver
{
	text-decoration: none;
	border-bottom: 1px dashed #f70;
}
.dxvsValidationSummary_Office2010Silver a.dxvsHL_Office2010Silver:hover
{
	color: #f70;
}
.dxvsValidationSummary_Office2010Silver table.dxvsT_Office2010Silver
{
}
.dxvsValidationSummary_Office2010Silver tr.dxvsE_Office2010Silver
{
}
.dxvsValidationSummary_Office2010Silver td.dxvsETC_Office2010Silver
{
	padding: 2px 0;
}
.dxvsValidationSummary_Office2010Silver ul.dxvsL_Office2010Silver
{
}
.dxvsValidationSummary_Office2010Silver ol.dxvsL_Office2010Silver
{
}
.dxvsValidationSummary_Office2010Silver li.dxvsE_Office2010Silver
{
	padding: 2px 0;
}

/* TrackBar */
.dxeTrackBar_Office2010Silver
{
    font: 11px Verdana, Geneva, sans-serif;
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	visibility:hidden;
}

.dxeDisabled_Office2010Silver .dxeTBHSys a,
.dxeDisabled_Office2010Silver .dxeTBVSys a
{
    cursor: default;
}

.dxeTBBarHighlight_Office2010Silver
{
	font-size: 0;
}

.dxeTBScale_Office2010Silver,
.dxeTBTrack_Office2010Silver,
.dxeTBBarHighlight_Office2010Silver
{
	cursor: pointer;
}

.dxeTBScale_Office2010Silver
{
    font-size: 0.91em;
	z-index: 1;
}
.dxeTBSecondaryDH_Office2010Silver,
.dxeTBMainDH_Office2010Silver
{
	z-index: 4;
}

.dxeTrackBar_Office2010Silver.dxeTBHSys
{
	width: 170px;
	height: 49px;
}
.dxeTrackBar_Office2010Silver.dxeTBVSys
{
	height: 170px;
	width: 49px;
}
.dxeTrackBar_Office2010Silver.dxeTBBScaleSys.dxeTBVSys
{
	width: 76px;
}
.dxeTrackBar_Office2010Silver.dxeTBBScaleSys.dxeTBHSys
{	
	height: 76px;
}

.dxeTBTrack_Office2010Silver
{
	z-index: 2;
	position: absolute;
}

.dxeTBHSys .dxeTBTrack_Office2010Silver
{
	background-image:  url('edtTrackBarTrackH.gif');
}
.dxeTBVSys .dxeTBTrack_Office2010Silver
{
	background-image:  url('edtTrackBarTrackV.gif');
}

.dxeTBHSys .dxeTBTrack_Office2010Silver, 
.dxeTBHSys .dxeTBBarHighlight_Office2010Silver
{
	height: 9px;
}
.dxeTBVSys .dxeTBTrack_Office2010Silver, 
.dxeTBVSys .dxeTBBarHighlight_Office2010Silver
{
	width: 9px;
}

.dxeTBHSys .dxeTBMainDH_Office2010Silver,
.dxeTBHSys .dxeTBSecondaryDH_Office2010Silver
{	
	top: -4px;
	width:11px;
	height:17px;
}
.dxeTBVSys .dxeTBMainDH_Office2010Silver,
.dxeTBVSys .dxeTBSecondaryDH_Office2010Silver
{
	left: -4px;
	width:17px;
	height:11px;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBTrack_Office2010Silver,
.dxeTBVSys .dxeTBTrack_Office2010Silver
{
	left: 6px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBTrack_Office2010Silver
{
	right: 6px;
	left: auto;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBTrack_Office2010Silver
{
	bottom: 6px;
	top: auto;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBTrack_Office2010Silver,
.dxeTBHSys .dxeTBTrack_Office2010Silver
{
	top: 6px;
}

.dxeTBBarHighlight_Office2010Silver
{
	left: 0px;
	top: 0px;
	position:absolute;
	z-index: 3;
}

.dxeTBHSys .dxeTBBarHighlight_Office2010Silver
{
	background-image:  url('edtTrackBarBarHighlightH.gif');
}
.dxeTBVSys .dxeTBBarHighlight_Office2010Silver
{
	background-image:  url('edtTrackBarBarHighlightV.gif');
}

.dxeTBRBLabel_Office2010Silver,
.dxeTBLTLabel_Office2010Silver
{
	text-align: center;
	cursor: default;
}
.dxeTBSmallTickSys .dxeTBRBLabel_Office2010Silver,
.dxeTBSmallTickSys .dxeTBLTLabel_Office2010Silver,
.dxeTBLargeTickSys .dxeTBRBLabel_Office2010Silver,
.dxeTBLargeTickSys .dxeTBLTLabel_Office2010Silver
{	
	position: absolute;
}

.dxeTBHSys .dxeTBRBLabel_Office2010Silver,
.dxeTBHSys .dxeTBLTLabel_Office2010Silver
{
	width: 100%;
}

.dxeTBIncBtn_Office2010Silver,
.dxeTBDecBtn_Office2010Silver
{
}

.dxeTBVSys .dxeTBRBLabel_Office2010Silver,
.dxeTBVSys .dxeTBLTLabel_Office2010Silver
{
	padding-top: 2px;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_Office2010Silver
{
	margin-left: -4px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBRBLabel_Office2010Silver,
.dxeTBVSys .dxeTBBScaleSys .dxeTBLTLabel_Office2010Silver
{
	right: 0px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBLTLabel_Office2010Silver,
.dxeTBVSys .dxeTBBScaleSys .dxeTBRBLabel_Office2010Silver
{
	left: 0px;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBRBLabel_Office2010Silver,
.dxeTBHSys .dxeTBBScaleSys .dxeTBLTLabel_Office2010Silver
{
	bottom: 0px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBLTLabel_Office2010Silver,
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_Office2010Silver
{
	top: 0px;
}

.dxeTBHSys .dxeTBItem_Office2010Silver .dxeTBRBLabel_Office2010Silver,
.dxeTBHSys .dxeTBItem_Office2010Silver .dxeTBLTLabel_Office2010Silver
{
	display: inline-block;
	margin-left: 0px!important;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBItem_Office2010Silver .dxeTBRBLabel_Office2010Silver
{
	padding-top: 12px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBItem_Office2010Silver .dxeTBLTLabel_Office2010Silver
{
	margin-top: 8px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_Office2010Silver .dxeTBRBLabel_Office2010Silver 
{
	margin-left: 5px;
}

.dxeTBSelectedItem_Office2010Silver .dxeTBRBLabel_Office2010Silver,
.dxeTBSelectedItem_Office2010Silver .dxeTBLTLabel_Office2010Silver,
.dxeTBSelectedTick_Office2010Silver .dxeTBRBLabel_Office2010Silver,
.dxeTBSelectedTick_Office2010Silver .dxeTBLTLabel_Office2010Silver
{
	color: #6C6C6C;
}

.dxeDisabled_Office2010Silver .dxeTBSelectedItem_Office2010Silver .dxeTBRBLabel_Office2010Silver,
.dxeDisabled_Office2010Silver .dxeTBSelectedItem_Office2010Silver .dxeTBLTLabel_Office2010Silver,
.dxeDisabled_Office2010Silver .dxeTBSelectedTick_Office2010Silver .dxeTBRBLabel_Office2010Silver,
.dxeDisabled_Office2010Silver .dxeTBSelectedTick_Office2010Silver .dxeTBLTLabel_Office2010Silver
{
	color: #C4CBD4;
}

.dxeTBRBLabel_Office2010Silver,
.dxeTBLTLabel_Office2010Silver,
.dxeTBItem_Office2010Silver
{
	color: #9D9D9D;
}

.dxeDisabled_Office2010Silver .dxeTBRBLabel_Office2010Silver,
.dxeDisabled_Office2010Silver .dxeTBLTLabel_Office2010Silver,
.dxeDisabled_Office2010Silver .dxeTBItem_Office2010Silver
{
	color: #D7DCE2;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBItem_Office2010Silver
{
	text-align: left;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_Office2010Silver
{
	text-align: right;
}

.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_Office2010Silver
{
	text-align: center;
}

.dxeTBHSys .dxeTBItem_Office2010Silver
{
	background-image:  url('edtTrackBarLargeTickH.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBItem_Office2010Silver
{
	background-image:  url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBItem_Office2010Silver 
{
	background-image:  url('edtTrackBarLargeTickV.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_Office2010Silver
{
	background-image:  url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBHSys .dxeTBLargeTick_Office2010Silver
{
	background-image:  url('edtTrackBarLargeTickH.gif');
}
.dxeTBVSys .dxeTBLargeTick_Office2010Silver
{
	background-image: url('edtTrackBarLargeTickV.gif');
}
.dxeTBHSys .dxeTBSmallTick_Office2010Silver
{
	background-image: url('edtTrackBarSmallTickH.gif');
}
.dxeTBVSys .dxeTBSmallTick_Office2010Silver
{
	background-image: url('edtTrackBarSmallTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBLargeTick_Office2010Silver
{
	background-image: url('edtTrackBarDoubleLargeTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBLargeTick_Office2010Silver
{
	background-image: url('edtTrackBarDoubleLargeTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBSmallTick_Office2010Silver
{
	background-image: url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBSmallTick_Office2010Silver
{
	background-image: url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBVSys .dxeTBIncBtn_Office2010Silver,
.dxeTBVSys .dxeReversedDirectionSys .dxeTBDecBtn_Office2010Silver
{
	bottom: 0px;
	top: auto;
}
.dxeTBVSys .dxeTBDecBtn_Office2010Silver,
.dxeTBVSys .dxeReversedDirectionSys .dxeTBIncBtn_Office2010Silver
{
	top: 0px;
	bottom: auto;
}
.dxeTBHSys .dxeTBDecBtn_Office2010Silver, 
.dxeTBHSys .dxeReversedDirectionSys .dxeTBIncBtn_Office2010Silver
{
	left: 0px;
	right: auto;
}
.dxeTBHSys .dxeTBIncBtn_Office2010Silver,
.dxeTBHSys .dxeReversedDirectionSys .dxeTBDecBtn_Office2010Silver
{
	right: 0px;
	left: auto;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBDecBtn_Office2010Silver,
.dxeTBVSys .dxeTBBScaleSys .dxeTBIncBtn_Office2010Silver
{
	margin-left: -9px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBDecBtn_Office2010Silver,
.dxeTBHSys .dxeTBBScaleSys .dxeTBIncBtn_Office2010Silver
{
	margin-top: -9px;
	top: 50%;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBTrack_Office2010Silver
{ 
	margin-left: -4px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBTrack_Office2010Silver
{ 
	margin-top: -4px;
	top: 50%;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBDecBtn_Office2010Silver,
.dxeTBVSys .dxeTBLTScaleSys .dxeTBIncBtn_Office2010Silver
{
	right: 1px;
	left: auto;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBDecBtn_Office2010Silver,
.dxeTBHSys .dxeTBLTScaleSys .dxeTBIncBtn_Office2010Silver
{
	bottom: 1px;
	top: auto;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBDecBtn_Office2010Silver,
.dxeTBVSys .dxeTBRBScaleSys .dxeTBIncBtn_Office2010Silver,
.dxeTBVSys .dxeTBDecBtn_Office2010Silver,
.dxeTBVSys .dxeTBIncBtn_Office2010Silver
{
	left: 1px;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBDecBtn_Office2010Silver,
.dxeTBHSys .dxeTBRBScaleSys .dxeTBIncBtn_Office2010Silver,
.dxeTBHSys .dxeTBDecBtn_Office2010Silver,
.dxeTBHSys .dxeTBIncBtn_Office2010Silver
{
	top: 1px;
}

.dxeHelpText_Office2010Silver,
.dxeTBValueToolTip_Office2010Silver
{
    font: 11px Verdana, Geneva, sans-serif;
}
div.dxeHelpText_Office2010Silver,
.dxeTBValueToolTip_Office2010Silver
{
	padding: 3px 8px 4px 8px;
    display: inline;
    position:absolute;
    border-radius: 3px;
    z-index: 41998;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #BBBFC4;
    background: #F7FAFC;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7FAFC', endColorstr='#E7EAEE');
	background: -webkit-gradient(linear, left top, left bottom, from(#F7FAFC), to(#E7EAEE));
	background: -moz-linear-gradient(top,  #F7FAFC,  #E7EAEE);
}
td.dxeHelpText_Office2010Silver {
    visibility: visible;
    color: #9F9F9F;
}
td.dxeHelpText_Office2010Silver span {
    font-size: 0.91em;
}
td.dxeHelpText_Office2010Silver.dxeHHelpTextSys {
    padding: 0 6px;
}
td.dxeHelpText_Office2010Silver.dxeVHelpTextSys {
    padding: 2px 0;
}

/* InternalCheckBox */
.dxeIRBFocused_Office2010Silver
{
    outline: 1px dotted #dac11e;
}
.dxeIRadioButton_Office2010Silver
{
}
.dxlpLoadingPanel_Office2010Silver,
.dxlpLoadingPanelWithContent_Office2010Silver
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #585e68;
	background: White none;
	border: 1px solid #80858d;
}
.dxlpLoadingPanel_Office2010Silver td.dx,
.dxlpLoadingPanelWithContent_Office2010Silver td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}
.dxcaLoadingPanel_Office2010Silver .dxlp-loadingImage,
.dxlpLoadingPanel_Office2010Silver .dxlp-loadingImage,
.dxlpLoadingPanelWithContent_Office2010Silver .dxlp-loadingImage,
.dxeImage_Office2010Silver.dxe-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 16px;
	width: 16px;
}

.dxeButtonEditSys .dxic .dxeLoadingDiv_Office2010Silver
{
	opacity: 1!important;
	filter: alpha(opacity=100)!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_Office2010Silver
{
    background-color: transparent!important;
    font-size: 0!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_Office2010Silver td.dx
{
	padding: 0px!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_Office2010Silver td.dx > span
{
	display: none;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_Office2010Silver td.dx > img
{
	height: 15px;
    width: auto;
    vertical-align: middle;
}

.dxeReadOnly_Office2010Silver
{
}
.dxeBase_Office2010Silver
{
	font: 11px Verdana, Geneva, sans-serif;
}
/* -- ErrorFrame -- */
.dxeErrorCell_Office2010Silver
{
	font: 11px Verdana, Geneva, sans-serif;
	color: Red;
    border-color: black;
	padding-left: 4px;
	padding-right: 4px;
}
.dxeErrorFrameWithoutError_Office2010Silver
{
	border: 1px solid Red;
}
.dxeErrorFrameWithoutError_Office2010Silver .dxeControlsCell_Office2010Silver,
.dxeErrorFrameWithoutError_Office2010Silver.dxeControlsCell_Office2010Silver
{
	padding: 2px;
}

.dxeEditArea_Office2010Silver
{
	border: 1px solid #a5acb5;
}
body input.dxeEditArea_Office2010Silver /*Bootstrap correction*/
{
    color: black;
}
input[type="text"].dxeEditArea_Office2010Silver, /*Bootstrap correction*/
input[type="password"].dxeEditArea_Office2010Silver /*Bootstrap correction*/
{
    margin-top: 0;
    margin-bottom: 1px;
}
.dxFirefox input[type="text"].dxeEditArea_Office2010Silver,
.dxFirefox input[type="password"].dxeEditArea_Office2010Silver
{
    margin-top: -1px;
    margin-bottom: 0;
}

/* -- Binary Image -- */
.dxeBinaryImageButtonPanel_Office2010Silver
{
    height: 36px;
}
.dxeBinaryImageButton_Office2010Silver
{
    margin: 0 6px;
}

/* -- Buttons -- */
.dxeButtonEditButton_Office2010Silver,
.dxeCalendarButton_Office2010Silver,
.dxeSpinIncButton_Office2010Silver,
.dxeSpinDecButton_Office2010Silver,
.dxeSpinLargeIncButton_Office2010Silver,
.dxeSpinLargeDecButton_Office2010Silver,
.dxeColorEditButton_Office2010Silver
{
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
}
.dxeCalendarButton_Office2010Silver,
.dxeButtonEditButton_Office2010Silver,
.dxeColorEditButton_Office2010Silver
{
	border-style: solid;
	border-color: #a5acb5;
}
.dxeCalendarButton_Office2010Silver,
.dxeColorEditButton_Office2010Silver
{
	border-width: 1px;
}
.dxeButtonEditButton_Office2010Silver
{
	border-width: 0 0 0 1px;
}
.dxeSpinIncButton_Office2010Silver.dxeHasLarge,
.dxeSpinDecButton_Office2010Silver.dxeHasLarge,
.dxeSpinLargeIncButton_Office2010Silver
{
	border-width: 0;
}
.dxeButtonEditButton_Office2010Silver.dxeButtonLeft
{
	border-width: 0 1px 0 0;
}
.dxeSpinIncButton_Office2010Silver.dxeHasLarge.dxeButtonLeft,
.dxeSpinDecButton_Office2010Silver.dxeHasLarge.dxeButtonLeft,
.dxeSpinLargeDecButton_Office2010Silver.dxeButtonLeft
{
	border-width: 0;
}

.dxeButtonEditButton_Office2010Silver,
.dxeSpinLargeIncButton_Office2010Silver,
.dxeSpinLargeDecButton_Office2010Silver
{
	background: #e8ecee url('edtDropDownBtnBack.png') repeat-x left top;
}
.dxeSpinIncButton_Office2010Silver
{
	background: #f0f3f6 url('edtSpinIncBtnBack.png') repeat-x left top;
}
.dxeSpinDecButton_Office2010Silver
{
	background: #e8ebee url('edtSpinDecBtnBack.png') repeat-x left top;
}

.dxeButtonEditButton_Office2010Silver
{
	padding: 3px 2px 3px 3px;
}
.dxeSpinIncButton_Office2010Silver
{
	padding: 2px 4px 2px;
}
.dxeSpinDecButton_Office2010Silver
{
	padding: 3px 4px 2px;
}
.dxeSpinLargeIncButton_Office2010Silver,
.dxeSpinLargeDecButton_Office2010Silver
{
	padding: 6px 2px;
}
.dxeCalendarButton_Office2010Silver,
.dxeColorEditButton_Office2010Silver
{
	background: #e7eaee url('edtBtnBack.png') repeat-x left top;
	padding: 3px 11px 4px;
	min-width: 37px;
}


.dxeButtonEditButton_Office2010Silver.dxeButtonEditClearButton_Office2010Silver,
.dxeButtonEditButton_Office2010Silver.dxeButtonEditClearButton_Office2010Silver:hover
{
    background: none;
    border-width: 0;
    padding-bottom: 1px;
    padding-top: 2px;
}

.dxeButtonEditClearButton_Office2010Silver img
{
    vertical-align: baseline;
}

/* -- Pressed -- */
.dxeCalendarButtonPressed_Office2010Silver,
.dxeColorEditButton_Office2010Silver:active
{
	border-color: #c2762b;
}
.dxeCalendarButtonPressed_Office2010Silver,
.dxeColorEditButton_Office2010Silver:active
{
	background: #fee287 url('edtBtnPBack.png') repeat-x left top;
}
.dxeButtonEditButtonPressed_Office2010Silver,
.dxeSpinIncButtonPressed_Office2010Silver,
.dxeSpinDecButtonPressed_Office2010Silver,
.dxeSpinLargeIncButtonPressed_Office2010Silver, 
.dxeSpinLargeDecButtonPressed_Office2010Silver
{
	background: #fee287 url('edtDropDownBtnPBack.png') repeat-x left top;
}
/* -- Hover -- */
.dxeCalendarButtonHover_Office2010Silver,
.dxeColorEditButton_Office2010Silver:hover
{
	border-color: #eecc53;
}
.dxeCalendarButtonHover_Office2010Silver,
.dxeColorEditButton_Office2010Silver:hover
{
	background: #fcf8e5 url('edtBtnHBack.png') repeat-x left top;
}
.dxeButtonEditButtonHover_Office2010Silver,
.dxeSpinLargeIncButtonHover_Office2010Silver,
.dxeSpinLargeDecButtonHover_Office2010Silver
{
	background: #f8e9ac url('edtDropDownBtnHBack.png') repeat-x left top;
}
.dxeSpinIncButtonHover_Office2010Silver,
.dxeSpinDecButtonHover_Office2010Silver
{
	background: #f8e18a url('edtSpinIncDecBtnHBack.png') repeat-x left top;
}

.dxeButtonEdit_Office2010Silver
{
	background-color: white;
	border: 1px solid #a5acb5;
	font: 11px Verdana, Geneva, sans-serif;

    border-collapse: separate;
    border-spacing: 0;
}
.dxeButtonEdit_Office2010Silver .dxeEditArea_Office2010Silver
{
	background-color: white;
}
.dxeButtonEdit_Office2010Silver .dxeIIC,
.dxeButtonEdit_Office2010Silver .dxeIICR
{
	padding: 1px;
}
.dxeButtonEdit_Office2010Silver .dxeIIC img
{
	padding-left: 3px;
}
.dxeButtonEdit_Office2010Silver .dxeIICR img
{
	padding-right: 3px;
}

.dxFirefox .dxeButtonEdit_Office2010Silver td.dxic,
.dxeButtonEdit_Office2010Silver td.dxic
{
    padding: 3px 3px 2px 3px;
}

.dxeTextBox_Office2010Silver
{
	background-color: white;
	border: 1px solid #a5acb5;
	font: 11px Verdana, Geneva, sans-serif;
}
.dxeTextBox_Office2010Silver .dxeEditArea_Office2010Silver
{
	background-color: white;
}
.dxeRadioButtonList_Office2010Silver,
.dxeCheckBoxList_Office2010Silver
{
	border: 1px solid #a5acb5;
}

.dxeCheckBoxList_Office2010Silver .dxe > table,
.dxeRadioButtonList_Office2010Silver .dxe > table 
{
    width: 100%;
}

.dxeRadioButtonList_Office2010Silver,
.dxeCheckBoxList_Office2010Silver
{
	font: 11px Verdana, Geneva, sans-serif;
}
.dxeRadioButtonList_Office2010Silver td.dxe,
.dxeCheckBoxList_Office2010Silver td.dxe
{
	padding: 7px 5px 6px 11px;
}
.dxeRadioButtonList_Office2010Silver[dir='rtl'] td.dxe,
.dxeCheckBoxList_Office2010Silver[dir='rtl'] td.dxe
{
	padding: 7px 11px 6px 5px;
}

/* Disabled */
.dxeDisabled_Office2010Silver .dxeButtonEditButton_Office2010Silver,
.dxeDisabled_Office2010Silver .dxeSpinLargeIncButton_Office2010Silver,
.dxeDisabled_Office2010Silver .dxeSpinLargeDecButton_Office2010Silver
{
	background: #f7f8fa url('edtDropDownBtnDisabledBack.png') repeat-x left top;
}
.dxeDisabled_Office2010Silver .dxeSpinIncButton_Office2010Silver
{
	background: #f9fbfc url('edtSpinIncBtnDisabledBack.png') repeat-x left top;
}
.dxeDisabled_Office2010Silver .dxeSpinDecButton_Office2010Silver
{
	background: #f7f8fa url('edtSpinDecBtnDisabledBack.png') repeat-x left top;
}

/* -- Memo -- */
.dxeMemo_Office2010Silver
{
	background-color: white;
	border: 1px solid #a5acb5;
	font: 11px Verdana, Geneva, sans-serif;
}
.dxeMemoEditArea_Office2010Silver
{
	background-color: white;
	outline: none;
}

/* -- Hyperlink -- */
.dxeHyperlink_Office2010Silver
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #5a9ddb;
	text-decoration: none;
}
a.dxeHyperlink_Office2010Silver:hover
{
	text-decoration: underline;
}
a.dxeHyperlink_Office2010Silver:visited
{
	color: #c983e4;
}

/* -- ListBox -- */
.dxeListBox_Office2010Silver
{
	color: Black;
	font: 11px Verdana, Geneva, sans-serif;
	background-color: white;
	border: 1px solid #a5acb5;
	width: 70px;
	height: 109px;
}
.dxeListBox_Office2010Silver div.dxlbd
{
	padding-top: 1px;
	height: 108px;
}
.dxeListBoxItemRow_Office2010Silver
{
	cursor: default;
}
.dxeListBoxItem_Office2010Silver
{
	padding: 2px 5px;
	white-space: nowrap;
	text-align: left;
	border-top: 0 solid White;
	border-right: 1px solid White;
	border-bottom: 1px solid White;
	border-left: 1px solid White;
}
.dxeListBoxItem_Office2010Silver em
{
	background: #e2ecf7 none repeat 0 0;
	color: Black;
	font-weight: bold;
	font-style: normal;
}

.dxeListBox_Office2010Silver td.dxeI,
.dxeListBox_Office2010Silver td.dxeIM,
.dxeListBox_Office2010Silver .dxeHIC, 
.dxeListBox_Office2010Silver td.dxeFTM,
.dxeListBox_Office2010Silver td.dxeTM,
.dxeListBox_Office2010Silver td.dxeC,
.dxeListBox_Office2010Silver td.dxeCM,
.dxeListBox_Office2010Silver td.dxeHCC,
.dxeListBox_Office2010Silver td.dxeMI,
.dxeListBox_Office2010Silver td.dxeMIM
{
	border-right-width: 0!important;
}

.dxeListBox_Office2010Silver td.dxeIR,
.dxeListBox_Office2010Silver td.dxeIMR,
.dxeListBox_Office2010Silver .dxeHICR, 
.dxeListBox_Office2010Silver td.dxeFTMR,
.dxeListBox_Office2010Silver td.dxeTMR,
.dxeListBox_Office2010Silver td.dxeCR,
.dxeListBox_Office2010Silver td.dxeCMR,
.dxeListBox_Office2010Silver td.dxeHCCR,
.dxeListBox_Office2010Silver td.dxeMIR,
.dxeListBox_Office2010Silver td.dxeMIMR
{
	border-left-width: 0!important;
}

.dxeListBox_Office2010Silver td.dxeCM,
.dxeListBox_Office2010Silver td.dxeHCC,
.dxeListBox_Office2010Silver td.dxeCMR,
.dxeListBox_Office2010Silver td.dxeHCCR
{
	width: 33px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.dxeListBox_Office2010Silver td.dxeIM,
.dxeListBox_Office2010Silver td.dxeIMR
{
	width: 0;
}
.dxeListBox_Office2010Silver td.dxeC
{
	padding-right: 3px!important;
}
.dxeListBox_Office2010Silver td.dxeCR
{
	padding-left: 3px!important;
}
.dxeListBox_Office2010Silver td.dxeC > span,
.dxeListBox_Office2010Silver td.dxeCM > span
{
    margin: 2px 2px 2px 3px;
}
.dxeListBox_Office2010Silver td.dxeCR > span,
.dxeListBox_Office2010Silver td.dxeCMR > span
{
    margin: 2px 3px 2px 2px;
}
.dxeListBox_Office2010Silver td.dxeT
{
	width: 100%;
	padding-left: 0!important;
}

.dxeListBox_Office2010Silver td.dxeTR
{
	width: 100%;
	padding-right: 0!important;
}

.dxeListBox_Office2010Silver td.dxeT,
.dxeListBox_Office2010Silver td.dxeMI
{
	border-left-width: 0!important;
}

.dxeListBox_Office2010Silver td.dxeTR,
.dxeListBox_Office2010Silver td.dxeMIR
{
	border-right-width: 0!important;
}

.dxeListBox_Office2010Silver td.dxeFTM,
.dxeListBox_Office2010Silver td.dxeTM,
.dxeListBox_Office2010Silver td.dxeLTM,
.dxeListBox_Office2010Silver .dxeHFC,
.dxeListBox_Office2010Silver .dxeHC,
.dxeListBox_Office2010Silver .dxeHLC,
.dxeListBox_Office2010Silver td.dxeFTMR,
.dxeListBox_Office2010Silver td.dxeTMR,
.dxeListBox_Office2010Silver td.dxeLTMR,
.dxeListBox_Office2010Silver .dxeHFCR,
.dxeListBox_Office2010Silver .dxeHCR,
.dxeListBox_Office2010Silver .dxeHLCR
{
	overflow: hidden;
}

.dxeListBox_Office2010Silver td.dxeFTM,
.dxeListBox_Office2010Silver td.dxeTM,
.dxeListBox_Office2010Silver .dxeHFC,
.dxeListBox_Office2010Silver .dxeHC
{
	padding-right: 6px!important;
}

.dxeListBox_Office2010Silver td.dxeFTMR,
.dxeListBox_Office2010Silver td.dxeTMR,
.dxeListBox_Office2010Silver .dxeHFCR,
.dxeListBox_Office2010Silver .dxeHCR
{
	padding-left: 6px!important;
}

.dxeListBox_Office2010Silver td.dxeLTM,
.dxeListBox_Office2010Silver td.dxeTM,
.dxeListBox_Office2010Silver .dxeHC,
.dxeListBox_Office2010Silver .dxeHLC
{
	padding-left: 6px!important;
}

.dxeListBox_Office2010Silver td.dxeLTMR,
.dxeListBox_Office2010Silver td.dxeTMR,
.dxeListBox_Office2010Silver .dxeHCR,
.dxeListBox_Office2010Silver .dxeHLCR
{
	padding-right: 6px!important;
}

.dxeListBox_Office2010Silver .dxeFTM,
.dxeListBox_Office2010Silver .dxeTM,
.dxeListBox_Office2010Silver .dxeHFC,
.dxeListBox_Office2010Silver .dxeHC,
.dxeListBox_Office2010Silver .dxeLTM,
.dxeListBox_Office2010Silver .dxeTM,
.dxeListBox_Office2010Silver .dxeHC,
.dxeListBox_Office2010Silver .dxeHLC,
.dxeListBox_Office2010Silver td.dxeIM,
.dxeListBox_Office2010Silver td.dxeFTM,
.dxeListBox_Office2010Silver td.dxeTM,
.dxeListBox_Office2010Silver td.dxeCM,
.dxeListBox_Office2010Silver td.dxeMIM,
.dxeListBox_Office2010Silver .dxeFTMR,
.dxeListBox_Office2010Silver .dxeTMR,
.dxeListBox_Office2010Silver .dxeHFCR,
.dxeListBox_Office2010Silver .dxeHCR,
.dxeListBox_Office2010Silver .dxeLTMR,
.dxeListBox_Office2010Silver .dxeTMR,
.dxeListBox_Office2010Silver .dxeHCR,
.dxeListBox_Office2010Silver .dxeHLCR,
.dxeListBox_Office2010Silver td.dxeIMR,
.dxeListBox_Office2010Silver td.dxeFTMR,
.dxeListBox_Office2010Silver td.dxeTMR,
.dxeListBox_Office2010Silver td.dxeCMR,
.dxeListBox_Office2010Silver td.dxeMIMR
{
	border-top-width: 0;
	border-bottom-width: 0;
}

/*Grid lines*/

.dxeListBox_Office2010Silver td.dxeLTM,
.dxeListBox_Office2010Silver td.dxeTM,
.dxeListBox_Office2010Silver td.dxeMIM
{
	border-left: 1px solid #dbdee1!important;
}

.dxeListBox_Office2010Silver td.dxeLTMR,
.dxeListBox_Office2010Silver td.dxeTMR,
.dxeListBox_Office2010Silver td.dxeMIMR
{
	border-right: 1px solid #dbdee1!important;
}

.dxeListBox_Office2010Silver td.dxeIM,
.dxeListBox_Office2010Silver td.dxeFTM,
.dxeListBox_Office2010Silver td.dxeTM,
.dxeListBox_Office2010Silver td.dxeLTM,
.dxeListBox_Office2010Silver td.dxeCM,
.dxeListBox_Office2010Silver td.dxeMIM,
.dxeListBox_Office2010Silver td.dxeIMR,
.dxeListBox_Office2010Silver td.dxeFTMR,
.dxeListBox_Office2010Silver td.dxeTMR,
.dxeListBox_Office2010Silver td.dxeLTMR,
.dxeListBox_Office2010Silver td.dxeCMR,
.dxeListBox_Office2010Silver td.dxeMIMR
{
	border-bottom: 1px solid #dbdee1;
}

.dxeListBoxItemSelected_Office2010Silver     
{
	color: Black;
	background: #ecedef none;
}
.dxeListBoxItemHover_Office2010Silver        
{
	color: Black;
	background: #e2ecf7 none;
}
.dxeListBoxItemHover_Office2010Silver em,
.dxeListBoxItemSelected_Office2010Silver em
{
	background-image: none;
}

/*Header*/

.dxeListBox_Office2010Silver .dxeHD
{
	background: #e7ebef url('lbHeaderBack.png') repeat-x left top;
	border-bottom: 1px solid #a5acb5;
}
.dxeHD .dxeListBoxItem_Office2010Silver
{
	color: #3b3b3b;
	border-top-width: 0;
	border-right-width: 1px;
	border-bottom-width: 0;
	border-left-width: 1px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.dxeListBox_Office2010Silver .dxeHC,
.dxeListBox_Office2010Silver .dxeHLC,
.dxeListBox_Office2010Silver td.dxeHMIC
{
	border-left: 1px solid #a5acb5;
}

.dxeListBox_Office2010Silver .dxeHCR,
.dxeListBox_Office2010Silver .dxeHLCR,
.dxeListBox_Office2010Silver td.dxeHMICR
{
	border-right: 1px solid #a5acb5;
	text-align: right;
}

.dxeListBox_Office2010Silver .dxeHIC,
.dxeListBox_Office2010Silver .dxeHFC,
.dxeListBox_Office2010Silver .dxeHCC
{
	border-left: 1px solid #ebeef2;
}

.dxeListBox_Office2010Silver .dxeHICR,
.dxeListBox_Office2010Silver .dxeHFCR,
.dxeListBox_Office2010Silver .dxeHCCR
{
	border-right: 1px solid #ebeef2;
	text-align: right;
}

.dxeListBox_Office2010Silver .dxeHFC,
.dxeListBox_Office2010Silver .dxeHC,
.dxeListBox_Office2010Silver .dxeHMIC
{
	border-right-width: 0;
}

.dxeListBox_Office2010Silver .dxeHFCR,
.dxeListBox_Office2010Silver .dxeHCR,
.dxeListBox_Office2010Silver .dxeHMICR
{
	border-left-width: 0;
	text-align: right;
}

.dxeListBox_Office2010Silver .dxeHLC
{
	border-right: 1px solid #a5acb5;
}

.dxeListBox_Office2010Silver .dxeHLCR
{
	border-left: 1px solid #a5acb5;
	text-align: right;
}

/* -- Calendar -- */
.dxeCalendar_Office2010Silver
{
    font: 11px Verdana, Geneva, sans-serif;
	font-weight: normal;
	color: #303030;
	border: 1px solid #868b91;
	background-color: #f6f7f9;
	cursor: default;
}
.dxeCalendar_Office2010Silver td.dxMonthGrid
{
	padding: 1px 8px;
}
.dxeCalendar_Office2010Silver td.dxMonthGridWithWeekNumbers
{
	padding: 1px 20px 6px 8px;
}
.dxeCalendar_Office2010Silver td.dxMonthGridWithWeekNumbersRtl
{
	padding: 1px 8px 1px 20px;
}
.dxeCalendarDayHeader_Office2010Silver
{
	padding: 2px 4px 6px;
	border-bottom: 1px solid #d1d2d4;
}
.dxeCalendarWeekNumber_Office2010Silver
{
	font-size: 0.82em;
	text-align: right;
	padding: 3px 8px 2px 4px;
	color: #939394;
}
.dxeCalendarDay_Office2010Silver
{
	padding: 2px 5px 3px;
	text-align: center;
}
.dxeCalendarWeekend_Office2010Silver        
{
	color: #C00000;
}
.dxeCalendarOtherMonth_Office2010Silver     
{
	color: #939394;
}
.dxeCalendarOutOfRange_Office2010Silver     
{
	color: #939394;
}
.dxeCalendarDayDisabled_Office2010Silver {
	background-color: #f1f2f5;
	color: #e1e2e5!important;
}
.dxeCalendarToday_Office2010Silver         
{
	padding: 1px 4px 2px;
	border: 1px solid #c95c05;
}
.dxeCalendarSelected_Office2010Silver       
{
	color: #303030;
	background-color: #e2ecf7;
	border: 1px solid #c7d0da;
	padding: 1px 4px 2px;
}
.dxeDayInRange.dxeCalendarSelected_Office2010Silver
{
    border-color: transparent;
}
.dxeCalendarHeader_Office2010Silver
{
	border-style: none;
	padding: 4px;
}
.dxeCalendarHeader_Office2010Silver td.dxe
{
	text-align: center;
	cursor: pointer;
}
.dxeCalendarHeader_Office2010Silver .dxeCHS
{
    min-width: 1px;
}
.dxeCalendarFooter_Office2010Silver
{
	background-color: #f6f7f9;
	padding: 10px 0;
	border-top: 1px solid #d1d2d4;
}
.dxeCalendarFooter_Office2010Silver .dxeCFS
{
    min-width: 12px;
}
.dxeCalendarFastNav_Office2010Silver
{
	color: #303030;
	background: #f6f7f9 none;
	border-top: 1px solid #868b91;
	border-right: 1px solid #868b91;
	border-bottom: 0 solid #868b91;
	border-left: 1px solid #868b91;
	padding: 5px 8px;
	cursor: default;
}
.dxeCalendarFastNavMonthArea_Office2010Silver
{
	padding: 0px 9px;
}
.dxeCalendarFastNavYearArea_Office2010Silver
{
    padding-top: 8px;
}
.dxeCalendarFastNavFooter_Office2010Silver
{
	color: #303030;
	background: #f6f7f9 none;
	padding: 8px 0 17px;
	border-top: 0 solid #868b91;
	border-right: 1px solid #868b91;
	border-bottom: 1px solid #868b91;
	border-left: 1px solid #868b91;
}
.dxeCalendarFastNavFooter_Office2010Silver .dxeCFNFS
{
    min-width: 11px;
}
.dxeCalendarFastNavMonth_Office2010Silver,
.dxeCalendarFastNavYear_Office2010Silver
{
	color: #303030;
	padding: 3px 5px;
	text-align: center;
	cursor: pointer;
}
.dxeCalendarFastNavYear_Office2010Silver
{
	padding: 3px 5px;
}
.dxeCalendarFastNavMonth_Office2010Silver
{
	padding: 6px;
}

.dxeCalendarFastNavMonthHover_Office2010Silver,
.dxeCalendarFastNavYearHover_Office2010Silver
{
	color: #303030;
	padding: 3px 5px;
	background: #e1e2e4 none;
	border-width: 0;
}
.dxeCalendarFastNavMonthHover_Office2010Silver
{
	padding: 6px;
}

.dxeCalendarFastNavMonthSelected_Office2010Silver,
.dxeCalendarFastNavYearSelected_Office2010Silver
{
	color: #303030;
	background-color: #e2ecf7;
	border: 1px solid #c7d0da;
}
.dxeCalendarFastNavYearSelected_Office2010Silver
{
	padding: 2px 4px;
}
.dxeCalendarFastNavMonthSelected_Office2010Silver
{
	padding: 5px;
}
.dxeDateEditTimeEditCell_Office2010Silver
{
    padding: 6px 25px 15px;
    width: 100px;
}
.dxeDateEditClockCell_Office2010Silver
{
    padding: 13px 13px 0;
}
.dxeCalendarFooter_Office2010Silver.dxeDETSF
{
    padding-left: 10px;
    padding-right: 10px;
}
.dxeCalendarHeader_Office2010Silver.dxeDETSH
{
    display: none;
}
/* Disabled */
.dxeDisabled_Office2010Silver,
.dxeDisabled_Office2010Silver td.dxe
{
	color: #989898;
	cursor: default;
}
.dxeEditArea_Office2010Silver.dxeDisabled_Office2010Silver /*Bootstrap correction*/
{
    color: #989898;
}
a.dxeDisabled_Office2010Silver:hover
{
	color: #989898;
}
.dxeButtonDisabled_Office2010Silver
{
	color: #989898;
	cursor: default;
}
/* -- Button -- */
.dxbButton_Office2010Silver
{
	color: #3c3c3c;
	font: 11px Verdana, Geneva, sans-serif;
	border: 1px solid #bbbfc4;
	background: #e7eaee url('edtBtnBack.png') repeat-x left top;
	padding: 1px;
}
.dxbButtonHover_Office2010Silver
{
	color: #3c3c3c;
	background: #fcf8e5 url('edtBtnHBack.png') repeat-x left top;
	border: 1px solid #eecc53;
}
.dxbButtonChecked_Office2010Silver
{
	color: #3c3c3c;
	background: #fee287 url('edtBtnPBack.png') repeat-x left top;
	border: 1px solid #c2762b;
}
.dxbButtonPressed_Office2010Silver
{
	color: #3c3c3c;
	background: #fee287 url('edtBtnPBack.png') repeat-x left top;
	border: 1px solid #c2762b;
}
.dxbButton_Office2010Silver div.dxb
{
	padding: 2px 14px;
	border: 1px dotted transparent;
}
.dxbButton_Office2010Silver div.dxbf
{
	border: 1px dotted black;
}
/* Button Link */
a.dxbButton_Office2010Silver
{
	color: #5a9ddb;
	text-decoration: none;
}
a.dxbButton_Office2010Silver:hover
{
	text-decoration: underline;
}
a.dxbButton_Office2010Silver:visited
{
	color: #c983e4;
}
/* Disabled */
.dxbDisabled_Office2010Silver
{
	border-color: #d0d4d8;
	background: #eef1f4 none;
}
.dxbDisabled_Office2010Silver,
a.dxbButton_Office2010Silver.dxbDisabled_Office2010Silver
{
	color: #989898;
	cursor: default;
    text-decoration: none;
}
/* -- FilterControl -- */
.dxfcControl_Office2010Silver
{
	font: 11px Verdana, Geneva, sans-serif;
	color: Black;
	padding: 0 1em;
}
.dxfcTable_Office2010Silver
{
	border-collapse: separate!important;
}
.dxfcTable_Office2010Silver td.dxfc
{
	padding: 0px 0px 0px 3px;
}
a.dxfcPropertyName_Office2010Silver
{
	white-space: nowrap!important;
	color: Blue!important;
}
a.dxfcGroupType_Office2010Silver
{
	white-space: nowrap!important;
	padding: 0px 3px!important;
	color: Red!important;
}
a.dxfcOperation_Office2010Silver
{
	white-space: nowrap!important;
	color: Green!important;
}
a.dxfcValue_Office2010Silver
{
	white-space: nowrap!important;
	color: Gray!important;
}

.dxeMaskHint_Office2010Silver
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #3c3c3c;
	background: #ffffe1 none;
	border: 1px solid Black;
	padding: 2px 5px 3px;
}

.dxfcControl_Office2010Silver ul.dxfc-tree,
.dxfcControl_Office2010Silver .dxfc-tree ul
{
    list-style-type: none;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
}

.dxfcControl_Office2010Silver .dxfc-tree
{
    width: 100%;
}

.dxfcControl_Office2010Silver .dxfc-subnd
{
    margin-left: 22px;
}

.dxfcControl_Office2010Silver .dxfc > li > table
{
    border-spacing: 0;
    border-collapse: collapse;
}

.dxfcControl_Office2010Silver .dxfc-elb
{
    float: left;
    height: 21px;
    vertical-align: top;
    width: 26px;
}

.dxfcControl_Office2010Silver .dxfc-clr
{
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
    width: 0;
}

.dxfcControl_Office2010Silver .dxfc-nd
{
    cursor: pointer;
    display: block;
    float: left;
    height: 24px;
    outline: 0 none;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}

.dxfcControl_Office2010Silver .dxfc-nd > tbody > tr > td > a,
.dxfcControl_Office2010Silver .dxfc-nd > tbody > tr > td > span,
.dxfcControl_Office2010Silver .dxfc-nd > tbody > tr > td > img,
.dxfcControl_Office2010Silver .dxfc-editor
{
    vertical-align: middle;
}

.dxfcControl_Office2010Silver .dxfc-nd > tbody > tr > td > a,
.dxfcControl_Office2010Silver .dxfc-nd > tbody > tr > td > td,
.dxfcControl_Office2010Silver .dxfc-nd > tbody > tr > td > span
{
    padding: 0 0.1ex;
}

.dxfcControl_Office2010Silver .dxfc-nd > tbody > tr > td > a
{
    line-height: 24px;
}

.dxfcControl_Office2010Silver .dxfc-ln
{
    vertical-align: top;
}

.dxfcControl_Office2010Silver .dxfc-memo textarea 
{
	height: 80px;
	overflow: auto;
}

.dxfcControl_Office2010Silver .dxfc-validationSummary
{
	padding: 2px 5px 4px 6px !important;
	list-style-type: none;
	margin: 0;
}

.dxfcControl_Office2010Silver .dxfc-validationSummary li
{
	padding: 2px 0;
}

.dxfcControl_Office2010Silver .dxfc-validationSummary li a
{
	color: red;
	text-decoration: none;
	border-bottom: 1px dashed #f70;
}

.dxfcControl_Office2010Silver .dxfc-validationSummary li a:hover
{
	color: #f70;
}
/* -- ProgressBar -- */
.dxeProgressBar_Office2010Silver
{
	background: #f6f7f8 url('edtProgressBack.png') repeat-x left top;
	border: 1px solid #a5acb5;
	font: 11px Verdana, Geneva, sans-serif;
	color: #3c3c3c;
    height: 21px;
}
.dxeProgressBar_Office2010Silver .dxePBMainCell,
.dxeProgressBar_Office2010Silver td.dxe
{
	padding: 0;
}
.dxeProgressBarIndicator_Office2010Silver
{
	background: #dfe6ed url('edtProgressIndicatorBack.png') repeat-x left top;
}

/* -- DropDownWindow -- */
.dxpcDropDown_Office2010Silver,
.dxeDropDownWindow_Office2010Silver
{
    font: 11px Verdana, Geneva, sans-serif;
}
.dxeDropDownWindow_Office2010Silver
{
	background-color: white;
	border: 1px solid #a5acb5;
}

/*----------------- ColorTable -----------------*/
.dxeColorIndicator_Office2010Silver
{
	border: 1px solid #a5acb5;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.dxeItemPicker_Office2010Silver
{
	background-color: White;
	border: 1px solid #a7abb0;
}
.dxeColorTable_Office2010Silver td.dx,
.dxeItemPicker_Office2010Silver td.dx
{
	padding: 4px;
}
.dxeColorTableCell_Office2010Silver,
.dxeItemPickerCell_Office2010Silver,
.dxeACICell_Office2010Silver
{
	padding: 3px;
	cursor: pointer;
}
.dxeColorTableCellDiv_Office2010Silver,
.dxeACICellDiv_Office2010Silver
{
	border: 1px solid #808080;
	width: 12px;
	height: 12px;
	font-size: 0;
}
.dxeColorTableCellSelected_Office2010Silver,
.dxeACICellSelected_Office2010Silver
{
	padding: 2px!important;
	background: #fddc7f url('../Web/mItemSBack.png') repeat-x left top;
	border: 1px solid #c2762b;
}
.dxeColorTableCellHover_Office2010Silver,
.dxeItemPickerCellHover_Office2010Silver,
.dxeAutomaticColorItemCellHover_Office2010Silver,
.dxeAutomaticColorItem_Office2010Silver:hover > div
{
	padding: 2px!important;
	background: #fcf9df url('../Web/mSubItemHBack.png') repeat-x left top;
	border: 1px solid #f2ca58;
}

/* -- Invalid Style -- */
.dxeInvalid_Office2010Silver
{
}
.dxeInvalid_Office2010Silver .dxeEditArea_Office2010Silver,
.dxeInvalid_Office2010Silver .dxeMemoEditArea_Office2010Silver
{
}

/* -- Focused Style -- */
.dxeFocused_Office2010Silver
{
	border: 1px solid #808891;
}

.dxeFocused_Office2010Silver.dxeTrackBar_Office2010Silver
{	
	border: 0px;
}

/* -- Null Text Style -- */
.dxeNullText_Office2010Silver .dxeEditArea_Office2010Silver,
.dxeNullText_Office2010Silver .dxeMemoEditArea_Office2010Silver
{
	color: #989898;
}

/* -- Captcha -- */
.dxcaControl_Office2010Silver
{
    font: 11px Verdana, Geneva, sans-serif;
}

.dxcaRefreshButton_Office2010Silver
{
	text-decoration: none;
	color: #5a9ddb;
}

.dxcaDisabledRefreshButton_Office2010Silver
{
	color: #989898;
}

.dxcaRefreshButtonCell_Office2010Silver
{
	padding-left: 4px;
}

.dxcaRefreshButtonText_Office2010Silver
{
}

.dxcaDisabledRefreshButtonText_Office2010Silver
{
}

.dxcaTextBoxCell_Office2010Silver,
.dxcaTextBoxCellNoIndent_Office2010Silver
{
}

.dxcaTextBoxCell_Office2010Silver .dxeErrorCell_Office2010Silver
{
}

.dxcaTextBoxCellNoIndent_Office2010Silver .dxeErrorCell_Office2010Silver
{
	padding-left: 0px;
	padding-top: 4px;
	color: Red;
}

.dxcaTextBoxLabel_Office2010Silver
{
	padding-bottom: 4px;
	display: block;
}
.dxcaLoadingPanel_Office2010Silver .dxlp-loadingImage
{
	margin:0;
}
.dxcaLoadingPanel_Office2010Silver
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #585e68;
	background: White none;
	border: 1px solid #80858d;
}

.dxcaLoadingPanel_Office2010Silver td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}

.dxpcLite_Office2010Silver .dxHFBPS
{
    width: 6px;
}

.dxeTextBox_Office2010Silver,
.dxeButtonEdit_Office2010Silver,
.dxeIRadioButton_Office2010Silver,
.dxeRadioButtonList_Office2010Silver,
.dxeCheckBoxList_Office2010Silver
{
    cursor: default;
}

/* Removes flicking in iOS Safari*/
.dxeTrackBar_Office2010Silver, 
.dxeIRadioButton_Office2010Silver, 
.dxeButtonEdit_Office2010Silver, 
.dxeTextBox_Office2010Silver, 
.dxeRadioButtonList_Office2010Silver, 
.dxeCheckBoxList_Office2010Silver, 
.dxeMemo_Office2010Silver, 
.dxeListBox_Office2010Silver, 
.dxeCalendar_Office2010Silver, 
.dxeColorTable_Office2010Silver
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*B232817*/
.dxIE.dxBrowserVersion-9 .dxeEditArea_Office2010Silver,
.dxIE.dxBrowserVersion-10 .dxeEditArea_Office2010Silver
{
	padding-bottom: 1px;
    margin-bottom: 0px;
}
.dxMacOSMobilePlatform .dxeEditArea_Office2010Silver
{
    padding-bottom: 2px!important;
    margin-bottom: -1px!important;
}
/* ASPxCololrEdit */
.dxcpParametersCellSys .dxcpWebColorInput_Office2010Silver 
{
	float: right;
	margin-top: 40px;
}
.dxcpColorParameterMainDiv_Office2010Silver 
{
	padding: 0px 0 4px 9px;
	width: 90px;
	text-align: right;
}
.dxeCustomColorButton_Office2010Silver 
{
    padding-top: 3px;
    padding-bottom: 3px;
	margin: 3px 7px;
	cursor: pointer;
}
.dxeAutomaticColorItem_Office2010Silver
{
	padding: 4px 4px 0px 4px;
}
.dxeAutomaticColorItem_Office2010Silver > span
{
    margin: 0px 5px;
    line-height: 20px;
}
.dxcpCurrentColor_Office2010Silver, 
.dxcpSavedColor_Office2010Silver 
{
	height: 35px;
}
.dxcpCurrentAndSaved_Office2010Silver 
{
	width: 65px;
	margin: 34px 0px 0px auto;
	cursor: pointer;
}
.dxeColorTablesMainDiv_Office2010Silver,
.dxeColorSelectorMainDiv_Office2010Silver 
{
	background-color: #FFFFFF;
}
.dxeColorSelectorMainDiv_Office2010Silver 
{
	padding: 7px;
}
.dxcpColorArea_Office2010Silver,
.dxcpHueAreaImage_Office2010Silver,
.dxcpCurrentAndSaved_Office2010Silver,
.dxeColorTablesMainDiv_Office2010Silver,
.dxeColorSelectorMainDiv_Office2010Silver,
.dxcpParametersCell_Office2010Silver input 
{
	border: 1px solid #a5acb5;
}
.dxeButtonsPanelDiv_Office2010Silver 
{
	margin-top: 15px;
	text-align: right;
}
.dxeButtonsPanelDiv_Office2010Silver input 
{
	min-width: 60px;
	margin-left: 10px;
}

/* -- ASPxTokenBox -- */
input.dxeTokenBoxInput_Office2010Silver[type="text"] {
	display: inline-block;
	float: left;
	outline: none;
	width: 30px;
	padding: 2px 0px 2px 0px;
	margin: 0px 1px 1px 2px;
}
.dxeToken_Office2010Silver {
    display: inline-block;
	float: left;
	min-width: 30px;
	margin: 0px 1px 1px 0px;
}
.dxeTokenText_Office2010Silver, .dxeTokenRemoveButton_Office2010Silver {
	display: block;
	float: left;
}
.dxeTokenText_Office2010Silver {
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0px 2px 0px 4px;
	padding: 2px 0px 2px 0px;
}
.dxeTokenRemoveButton_Office2010Silver {
	cursor: pointer;
	margin-top: 1px;
}
.dxeToken_Office2010Silver {
	background: #f1f1f1 url('edtTokenBoxTokenBackground.png') repeat-x top;
}
.dxFirefox .dxeButtonEdit_Office2010Silver td.dxictb,
.dxeButtonEdit_Office2010Silver td.dxictb {
    padding: 0;
}
.dxFirefox input.dxeTokenBoxInput_Office2010Silver[type="text"]{
	padding: 1px 0px 1px 0px;
	margin: 0px 1px 1px 1px;
}
.dxFirefox .dxeTokenText_Office2010Silver {
	padding: 1px 0px 1px 0px;
}

/* ASPxPictureEdit */
.dxpePreviewContainer_Office2010Silver
{
    position: relative;
}
.dxpeCommandPanel_Office2010Silver
{
    background-color: #333333;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    height: 32px;
    position: absolute;
}
.dxpeBottomCommandPanel_Office2010Silver
{
    width: 100%;
    bottom: 0;
}

.dxpeTopCommandPanel_Office2010Silver
{
    width: 100%;      
    top: 0;    
}
.dxpeCommandPanelDeleteButton_Office2010Silver, 
.dxpeCommandPanelOpenDialogButton_Office2010Silver
{    
    cursor: pointer;
    display: inline-block;
}
.dxpeCommandPanelButtonsWrapper_Office2010Silver
{
    position: absolute;
}
.dxpeCommandPanelButtonsWrapperLeft_Office2010Silver
{
    left: 0;
}
.dxpeCommandPanelButtonsWrapperCenter_Office2010Silver
{
    left: 50%;
    margin-left: -32px;
}
.dxpeCommandPanelButtonsWrapperRight_Office2010Silver
{
    right: 0;
}
.dxpeCommandPanelDeleteButtonHover_Office2010Silver,
.dxpeCommandPanelDeleteButtonPressed_Office2010Silver,
.dxpeCommandPanelOpenDialogButtonHover_Office2010Silver,
.dxpeCommandPanelOpenDialogButtonPressed_Office2010Silver
{
}
.dxpeCommandPanelDeleteButtonDisabled_Office2010Silver,
.dxpeCommandPanelOpenDialogButtonDisabled_Office2010Silver
{
}
.dxpeDropZone_Office2010Silver
{
    background-color: gray;
}
.dxpePlaceHolder_Office2010Silver
{
    background-color: lightgray;
    z-index: -1;
}
.dxpeTextPanelContainer_Office2010Silver
{
    height: 100%;
    font-size: 200%;
    text-align: center;
    width: 100%;
}
.dxpeTextPanel_Office2010Silver
{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Editor caption */
.dxeCaptionCell_Office2010Silver
{
    font: 11px Verdana, Geneva, sans-serif;
	color: #3c3c3c;
    white-space: nowrap;
    line-height: 16px;
    height: 100%;
}
.dxeRoot_Office2010Silver
{
}
.dxeCaption_Office2010Silver
{
}
.dxeCaptionCell_Office2010Silver.dxeCaptionVATSys.dxeTextEditCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_Office2010Silver.dxeCaptionVATSys.dxeCheckBoxCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_Office2010Silver.dxeCaptionVATSys.dxeRadioButtonCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_Office2010Silver.dxeCaptionVATSys.dxeCheckBoxListCTypeSys
{
    padding-top: 11px;
}
.dxeCaptionCell_Office2010Silver.dxeCaptionVATSys.dxeRadioButtonListCTypeSys
{
    padding-top: 11px;
}
.dxeCaptionCell_Office2010Silver.dxeCaptionVATSys.dxeListBoxCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_Office2010Silver.dxeCaptionVATSys.dxeTrackBarCTypeSys
{
    padding-top: 2px;
}
.dxeCaptionCell_Office2010Silver.dxeCaptionVATSys.dxeProgressBarCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_Office2010Silver.dxeCaptionVATSys.dxeMemoCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_Office2010Silver.dxeCaptionVATSys.dxeCustomCTypeSys
{
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Firefox */
.dxFirefox .dxeTextEditCTypeSys.dxeCaptionVATSys.dxeCaptionCell_Office2010Silver,
.dxFirefox .dxeMemoCTypeSys.dxeCaptionVATSys.dxeCaptionCell_Office2010Silver,
.dxFirefox .dxeProgressBarCTypeSys.dxeCaptionVATSys.dxeCaptionCell_Office2010Silver
{
    padding-top: 2px;
}

.dxeRequiredMark_Office2010Silver {
    color: green;
    font-style: normal;
}

.dxeOptionalMark_Office2010Silver {
    color: gray;
    font-style: normal;
}

/* Out of range warning*/
.dxeOutOfRWarn_Office2010Silver {
    font: 11px Verdana, Geneva, sans-serif;
    padding: 3px 8px 4px 8px;
    display: none;
    position: absolute;
    background-color: white;
    color: red;
    border-radius: 3px;
    z-index: 41998;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #A8A8A8;
}
.dxeOutOfRWarnRight_Office2010Silver {
    margin-left: 10px;
}
.dxeOutOfRWarnBottom_Office2010Silver {
    margin-top: 10px;
}
