/* -- ValidationSummary -- */
.dxvsValidationSummary_BlackGlass
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: Red;
}
.dxvsValidationSummary_BlackGlass td.dxvsRC_BlackGlass
{
	vertical-align: top;
	padding: 2px 5px 4px 6px;
}
.dxvsValidationSummary_BlackGlass .dxvsE_BlackGlass
{
}
.dxvsValidationSummary_BlackGlass table.dxvsHT_BlackGlass
{
	width: 100%;
}
.dxvsValidationSummary_BlackGlass td.dxvsH_BlackGlass
{
	padding: 2px 0;
}
.dxvsValidationSummary_BlackGlass a.dxvsHL_BlackGlass,
.dxvsValidationSummary_BlackGlass a.dxvsHL_BlackGlass:visited
{
	color: red;
}
.dxvsValidationSummary_BlackGlass a.dxvsHL_BlackGlass
{
	text-decoration: none;
	border-bottom: 1px dashed #f70;
}
.dxvsValidationSummary_BlackGlass a.dxvsHL_BlackGlass:hover
{
	color: #f70;
}
.dxvsValidationSummary_BlackGlass table.dxvsT_BlackGlass
{
}
.dxvsValidationSummary_BlackGlass tr.dxvsE_BlackGlass
{
}
.dxvsValidationSummary_BlackGlass td.dxvsETC_BlackGlass
{
	padding: 2px 0;
}
.dxvsValidationSummary_BlackGlass ul.dxvsL_BlackGlass
{
}
.dxvsValidationSummary_BlackGlass ol.dxvsL_BlackGlass
{
}
.dxvsValidationSummary_BlackGlass li.dxvsE_BlackGlass
{
	padding: 2px 0;
}

/* TrackBar */
.dxeTrackBar_BlackGlass
{
    font: 12px Tahoma, Geneva, sans-serif;
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	visibility: hidden;
}

.dxeDisabled_BlackGlass .dxeTBHSys a,
.dxeDisabled_BlackGlass .dxeTBVSys a
{
    cursor: default;
}

.dxeTBBarHighlight_BlackGlass
{
	font-size: 0;
}

.dxeTBScale_BlackGlass,
.dxeTBTrack_BlackGlass,
.dxeTBBarHighlight_BlackGlass
{
	cursor: pointer;
}

.dxeTBScale_BlackGlass
{
	z-index: 1;
}
.dxeTBSecondaryDH_BlackGlass,
.dxeTBMainDH_BlackGlass
{
	z-index: 4;
}

.dxeTrackBar_BlackGlass.dxeTBHSys
{
	width: 170px;
	height: 49px;
}
.dxeTrackBar_BlackGlass.dxeTBVSys
{
	height: 170px;
	width: 49px;
}
.dxeTrackBar_BlackGlass.dxeTBBScaleSys.dxeTBVSys
{
	width: 70px;
}
.dxeTrackBar_BlackGlass.dxeTBBScaleSys.dxeTBHSys
{	
	height: 70px;
}

.dxeTBTrack_BlackGlass
{
	z-index: 2;
	position: absolute;
}

.dxeTBTrack_BlackGlass, .dxeTBBarHighlight_BlackGlass 
{
	border-style: solid;
	border-color: #A3C0E8;
}

.dxeTBHSys .dxeTBTrack_BlackGlass, .dxeTBHSys .dxeTBBarHighlight_BlackGlass 
{
	border-width: 0px 1px 0px 1px;
}
.dxeTBVSys .dxeTBTrack_BlackGlass, .dxeTBVSys .dxeTBBarHighlight_BlackGlass 
{
	border-width: 1px 0px 1px 0px;
}

.dxeTBHSys .dxeTBTrack_BlackGlass
{
	background-image:  url('edtTrackBarTrackH.gif');
}
.dxeTBVSys .dxeTBTrack_BlackGlass
{
	background-image:  url('edtTrackBarTrackV.gif');
}

.dxeTBHSys .dxeTBTrack_BlackGlass, 
.dxeTBHSys .dxeTBBarHighlight_BlackGlass
{
	height: 4px;
}
.dxeTBVSys .dxeTBTrack_BlackGlass, 
.dxeTBVSys .dxeTBBarHighlight_BlackGlass
{
	width: 4px;
}

.dxeTBHSys .dxeTBMainDH_BlackGlass,
.dxeTBHSys .dxeTBSecondaryDH_BlackGlass
{	
	top: -11px;
	width: 13px;
	height: 26px;
}
.dxeTBVSys .dxeTBMainDH_BlackGlass,
.dxeTBVSys .dxeTBSecondaryDH_BlackGlass
{
	left: -11px;
	width: 26px;
	height: 13px;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBTrack_BlackGlass,
.dxeTBVSys .dxeTBTrack_BlackGlass
{
	left: 13px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBTrack_BlackGlass
{
	right: 13px;
	left: auto;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBTrack_BlackGlass
{
	bottom: 13px;
	top: auto;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBTrack_BlackGlass,
.dxeTBHSys .dxeTBTrack_BlackGlass
{
	top: 13px;
}

.dxeTBBarHighlight_BlackGlass
{
	left: 0px;
	top: 0px;
	position:absolute;
	z-index: 3;
}

.dxeTBHSys .dxeTBBarHighlight_BlackGlass
{
	background-image:  url('edtTrackBarBarHighlightH.gif');
}
.dxeTBVSys .dxeTBBarHighlight_BlackGlass
{
	background-image:  url('edtTrackBarBarHighlightV.gif');
}

.dxeTBRBLabel_BlackGlass,
.dxeTBLTLabel_BlackGlass
{
	font-size: 0.83em;
	text-align: center;
	cursor: default;
}
.dxeTBSmallTickSys .dxeTBRBLabel_BlackGlass,
.dxeTBSmallTickSys .dxeTBLTLabel_BlackGlass,
.dxeTBLargeTickSys .dxeTBRBLabel_BlackGlass,
.dxeTBLargeTickSys .dxeTBLTLabel_BlackGlass
{	
	position: absolute;
}

.dxeTBHSys .dxeTBRBLabel_BlackGlass,
.dxeTBHSys .dxeTBLTLabel_BlackGlass
{
	width: 100%;
}

.dxeTBIncBtn_BlackGlass,
.dxeTBDecBtn_BlackGlass
{
}

.dxeTBVSys .dxeTBRBLabel_BlackGlass,
.dxeTBVSys .dxeTBLTLabel_BlackGlass
{
	padding-top: 2px;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_BlackGlass
{
	margin-left: -4px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBRBLabel_BlackGlass,
.dxeTBVSys .dxeTBBScaleSys .dxeTBLTLabel_BlackGlass
{
	right: 0px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBLTLabel_BlackGlass,
.dxeTBVSys .dxeTBBScaleSys .dxeTBRBLabel_BlackGlass
{
	left: 0px;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBRBLabel_BlackGlass,
.dxeTBHSys .dxeTBBScaleSys .dxeTBLTLabel_BlackGlass
{
	bottom: 0px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBLTLabel_BlackGlass,
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_BlackGlass
{
	top: 0px;
}

.dxeTBHSys .dxeTBItem_BlackGlass .dxeTBRBLabel_BlackGlass,
.dxeTBHSys .dxeTBItem_BlackGlass .dxeTBLTLabel_BlackGlass
{
	display: inline-block;
	margin-left: 0px!important;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBItem_BlackGlass .dxeTBRBLabel_BlackGlass
{
	padding-top: 12px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBItem_BlackGlass .dxeTBLTLabel_BlackGlass
{
	margin-top: 8px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_BlackGlass .dxeTBRBLabel_BlackGlass 
{
	margin-left: 5px;
}

.dxeTBSelectedItem_BlackGlass .dxeTBRBLabel_BlackGlass,
.dxeTBSelectedItem_BlackGlass .dxeTBLTLabel_BlackGlass,
.dxeTBSelectedTick_BlackGlass .dxeTBRBLabel_BlackGlass,
.dxeTBSelectedTick_BlackGlass .dxeTBLTLabel_BlackGlass
{
	color: #2A769D;
}
.dxeDisabled_BlackGlass .dxeTBSelectedItem_BlackGlass .dxeTBRBLabel_BlackGlass,
.dxeDisabled_BlackGlass .dxeTBSelectedItem_BlackGlass .dxeTBLTLabel_BlackGlass,
.dxeDisabled_BlackGlass .dxeTBSelectedTick_BlackGlass .dxeTBRBLabel_BlackGlass,
.dxeDisabled_BlackGlass .dxeTBSelectedTick_BlackGlass .dxeTBLTLabel_BlackGlass 
{
	color: #E4E4E4;
}

.dxeTBRBLabel_BlackGlass,
.dxeTBLTLabel_BlackGlass,
.dxeTBItem_BlackGlass
{
	color: #97BCCF;
}

.dxeDisabled_BlackGlass .dxeTBRBLabel_BlackGlass,
.dxeDisabled_BlackGlass .dxeTBLTLabel_BlackGlass,
.dxeDisabled_BlackGlass .dxeTBItem_BlackGlass
{
	color: #E4E4E4;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBItem_BlackGlass
{
	text-align: left;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_BlackGlass
{
	text-align: right;
}

.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_BlackGlass
{
	text-align: center;
}

.dxeTBHSys .dxeTBItem_BlackGlass
{
	background-image:  url('edtTrackBarLargeTickH.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBItem_BlackGlass
{
	background-image:  url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBItem_BlackGlass 
{
	background-image:  url('edtTrackBarLargeTickV.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_BlackGlass
{
	background-image:  url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBHSys .dxeTBLargeTick_BlackGlass
{
	background-image:  url('edtTrackBarLargeTickH.gif');
}
.dxeTBVSys .dxeTBLargeTick_BlackGlass
{
	background-image: url('edtTrackBarLargeTickV.gif');
}
.dxeTBHSys .dxeTBSmallTick_BlackGlass
{
	background-image: url('edtTrackBarSmallTickH.gif');
}
.dxeTBVSys .dxeTBSmallTick_BlackGlass
{
	background-image: url('edtTrackBarSmallTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBLargeTick_BlackGlass
{
	background-image: url('edtTrackBarDoubleLargeTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBLargeTick_BlackGlass
{
	background-image: url('edtTrackBarDoubleLargeTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBSmallTick_BlackGlass
{
	background-image: url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBSmallTick_BlackGlass
{
	background-image: url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBVSys .dxeTBIncBtn_BlackGlass,
.dxeTBVSys .dxeReversedDirectionSys .dxeTBDecBtn_BlackGlass
{
	bottom: 0px;
	top: auto;
}
.dxeTBVSys .dxeTBDecBtn_BlackGlass,
.dxeTBVSys .dxeReversedDirectionSys .dxeTBIncBtn_BlackGlass
{
	top: 0px;
	bottom: auto;
}
.dxeTBHSys .dxeTBDecBtn_BlackGlass, 
.dxeTBHSys .dxeReversedDirectionSys .dxeTBIncBtn_BlackGlass
{
	left: 0px;
	right: auto;
}
.dxeTBHSys .dxeTBIncBtn_BlackGlass,
.dxeTBHSys .dxeReversedDirectionSys .dxeTBDecBtn_BlackGlass
{
	right: 0px;
	left: auto;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBDecBtn_BlackGlass,
.dxeTBVSys .dxeTBBScaleSys .dxeTBIncBtn_BlackGlass
{
	margin-left: -10px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBDecBtn_BlackGlass,
.dxeTBHSys .dxeTBBScaleSys .dxeTBIncBtn_BlackGlass
{
	margin-top: -10px;
	top: 50%;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBTrack_BlackGlass
{ 
	margin-left: -2px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBTrack_BlackGlass
{ 
	margin-top: -2px;
	top: 50%;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBDecBtn_BlackGlass,
.dxeTBVSys .dxeTBLTScaleSys .dxeTBIncBtn_BlackGlass
{
	right: 5px;
	left: auto;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBDecBtn_BlackGlass,
.dxeTBHSys .dxeTBLTScaleSys .dxeTBIncBtn_BlackGlass
{
	bottom: 5px;
	top: auto;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBDecBtn_BlackGlass,
.dxeTBVSys .dxeTBRBScaleSys .dxeTBIncBtn_BlackGlass,
.dxeTBVSys .dxeTBDecBtn_BlackGlass,
.dxeTBVSys .dxeTBIncBtn_BlackGlass
{
	left: 5px;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBDecBtn_BlackGlass,
.dxeTBHSys .dxeTBRBScaleSys .dxeTBIncBtn_BlackGlass,
.dxeTBHSys .dxeTBDecBtn_BlackGlass,
.dxeTBHSys .dxeTBIncBtn_BlackGlass
{
	top: 5px;
}

.dxeHelpText_BlackGlass,
.dxeTBValueToolTip_BlackGlass
{
    font: 12px Tahoma, Geneva, sans-serif;
}
div.dxeHelpText_BlackGlass,
.dxeTBValueToolTip_BlackGlass
{
	padding: 3px 8px 4px 8px;
    display: inline;
    position:absolute;
    border-radius: 3px;
    z-index: 41998;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #B2BDBF;
    background: #FFFFFF;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EEF0F1');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEF0F1));
	background: -moz-linear-gradient(top,  #FFFFFF,  #EEF0F1);
}
td.dxeHelpText_BlackGlass {
    visibility: visible;
    color: #9F9F9F;
}
td.dxeHelpText_BlackGlass span {
    font-size: 0.91em;
}
td.dxeHelpText_BlackGlass.dxeHHelpTextSys {
    padding: 0 6px;
}
td.dxeHelpText_BlackGlass.dxeVHelpTextSys {
    padding: 2px 0;
}

/* InternalCheckBox */
.dxeIRBFocused_BlackGlass
{
    outline: 1px dotted #68a4c0;
}
.dxeIRadioButton_BlackGlass
{
}

.dxeButtonEditSys .dxic .dxeLoadingDiv_BlackGlass
{
	opacity: 1!important;
	filter: alpha(opacity=100)!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_BlackGlass
{
    background-color: transparent!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_BlackGlass td.dx
{
	padding: 0px!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_BlackGlass td.dx > span
{
	display: none;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_BlackGlass td.dx > img
{
	height: 15px;
    width: auto;
    vertical-align: middle;
}

.dxeBase_BlackGlass
{
	font: 12px Tahoma, Geneva, sans-serif;
}
/* -- ErrorFrame -- */
.dxeErrorCell_BlackGlass
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: red;
    border-color: black;
	padding-left: 4px;
    padding-right: 4px;
}
.dxeErrorFrame_BlackGlass
{
}
.dxeErrorFrameWithoutError_BlackGlass
{
	border: 1px solid Red;
}
.dxeErrorFrameWithoutError_BlackGlass .dxeControlsCell_BlackGlass,
.dxeErrorFrameWithoutError_BlackGlass.dxeControlsCell_BlackGlass
{
	padding: 2px;
}
.dxeEditArea_BlackGlass
{
	border: 1px solid #A0A0A0;
}
body input.dxeEditArea_BlackGlass /*Bootstrap correction*/
{
    color: black;
}

/* -- Binary Image -- */
.dxeBinaryImageButtonPanel_BlackGlass
{
    height: 36px;
}
.dxeBinaryImageButton_BlackGlass
{
    margin: 0 6px;
}

/* -- Buttons -- */
.dxeButtonEdit_BlackGlass
{
	background-color: white;
}

.dxeButtonEdit_BlackGlass td.dxic {
    *padding-left: 2px;
}
*[dir="rtl"].dxeTextBox_BlackGlass td.dxic {
    *padding-right: 2px;
}

.dxeButtonEdit_BlackGlass .dxeEditArea_BlackGlass
{
	background-color: white;
}

.dxeButtonEditButton_BlackGlass,
.dxeCalendarButton_BlackGlass,
.dxeSpinIncButton_BlackGlass,
.dxeSpinDecButton_BlackGlass,
.dxeSpinLargeIncButton_BlackGlass,
.dxeSpinLargeDecButton_BlackGlass,
.dxeColorEditButton_BlackGlass
{
	background-color: #f0f0f0;
    border: 1px solid Black;
	vertical-align: middle;
	cursor: pointer;
	color: White;
	text-align: center;
	white-space: nowrap;
} 
.dxeButtonEditButton_BlackGlass
{
	background: #303030 url('edtButtonBack_16.gif') repeat-x top;
	padding: 0px 1px;
}
.dxeSpinIncButton_BlackGlass,
.dxeSpinDecButton_BlackGlass
{
	padding: 1px 3px;
}
.dxeSpinLargeIncButton_BlackGlass,
.dxeSpinLargeDecButton_BlackGlass
{
	padding: 0px 4px;
}
.dxeSpinIncButton_BlackGlass
{
	background: #303030 url('edtSpinIncBtnBack.gif') no-repeat left top;
	margin-bottom: 1px;
}
.dxeSpinDecButton_BlackGlass
{
	background: #303030 url('edtSpinDecBtnBack.gif') no-repeat left top;
}
.dxeSpinLargeIncButton_BlackGlass,
.dxeSpinLargeDecButton_BlackGlass
{
	background: #303030 url('edtSpinLargeIncBtnBack.gif') no-repeat left top;
}

.dxeCalendarButton_BlackGlass,
.dxeColorEditButton_BlackGlass
{
	background: #444444 url('edtCalendarFootBtn.gif') repeat-x top;
	padding: 5px 10px;
	min-width: 37px;
}

/* -- Hover -- */
.dxeButtonHover_BlackGlass         /* inherits dxeButton */
{
	background-color: #E6E3D6;
}
.dxeCalendarButtonHover_BlackGlass,
.dxeColorEditButton_BlackGlass:hover
{
	background: #82b3ce url('edtCalendarFootBtnH.gif') repeat-x top;
}
.dxeButtonEditButtonHover_BlackGlass
{
	background: #86bad6 url('edtButtonBackH_16.gif') repeat-x top;
}

/* SpinButtons */
.dxeSpinLargeIncButtonHover_BlackGlass,
.dxeSpinLargeDecButtonHover_BlackGlass
{
	background: #86bad6 url('edtSpinLargeIncBtnHBack.gif') repeat-x left top;
}

.dxeSpinIncButtonHover_BlackGlass
{
	background: #86bad6 url('edtSpinIncBtnHBack.gif') repeat-x left top;
}
.dxeSpinDecButtonHover_BlackGlass
{
	background: #86bad6 url('edtSpinIncBtnHBack.gif') repeat-x left top;
}


.dxeButtonEditButton_BlackGlass.dxeButtonEditClearButton_BlackGlass,
.dxeButtonEditButton_BlackGlass.dxeButtonEditClearButton_BlackGlass:hover
{
    background: none;
    border-width: 0;
    padding-bottom: 1px;
    padding-top: 2px;
}

.dxeButtonEditClearButton_BlackGlass img
{
    vertical-align: baseline;
}

/* -- Pressed -- */
.dxeButtonPressed_BlackGlass       /* inherits dxeButton */
{
	background-color: #D4D1C3;
}
.dxeCalendarButtonPressed_BlackGlass,
.dxeColorEditButton_BlackGlass:active
{
	background: #cbcbcb url('edtCalendarFootBtnP.gif') repeat-x top;
}
.dxeButtonEditButtonPressed_BlackGlass
{
	background: #bdbdbd url('edtButtonBackC_16.gif') repeat-x top;
}
/* SpinButtons */
.dxeSpinIncButtonPressed_BlackGlass
{
	background: #bdbdbd url('edtSpinIncBtnPBack.gif') repeat-x left top;
}
.dxeSpinDecButtonPressed_BlackGlass
{
	background: #bdbdbd url('edtSpinIncBtnPBack.gif') repeat-x left top;
}
.dxeSpinLargeIncButtonPressed_BlackGlass,
.dxeSpinLargeDecButtonPressed_BlackGlass
{
	background: #bdbdbd url('edtSpinLargeIncBtnPBack.gif') repeat-x left top;
}

.dxeButtonEdit_BlackGlass
{
	border: 1px solid #9F9F9F;
    font: 12px Tahoma, Geneva, sans-serif;
}
.dxeButtonEdit_BlackGlass .dxeIIC img
{
	padding-left: 3px;
}
.dxeTextBox_BlackGlass
{
	background-color: white;
	border: 1px Solid #9F9F9F;
    font: 12px Tahoma, Geneva, sans-serif;
}
.dxeTextBox_BlackGlass .dxeEditArea_BlackGlass
{
	background-color: white;
}
.dxeRadioButtonList_BlackGlass,
.dxeCheckBoxList_BlackGlass
{
	font: 12px Tahoma, Geneva, sans-serif;
}

.dxeCheckBoxList_BlackGlass .dxe > table,
.dxeRadioButtonList_BlackGlass .dxe > table 
{
    width: 100%;
}

.dxeRadioButtonList_BlackGlass,
.dxeCheckBoxList_BlackGlass
{
	border: 1px Solid #9F9F9F;
}
.dxeRadioButtonList_BlackGlass td.dxe,
.dxeCheckBoxList_BlackGlass td.dxe
{
	padding: 6px 5px 6px 11px;
}
.dxeRadioButtonList_BlackGlass[dir='rtl'] td.dxe,
.dxeCheckBoxList_BlackGlass[dir='rtl'] td.dxe
{
	padding: 6px 11px 6px 5px;
}

/* -- Memo -- */
.dxeMemo_BlackGlass
{
	background-color: white;
	border: 1px Solid #9F9F9F;
    font: 12px Tahoma, Geneva, sans-serif;
}
.dxeMemoEditArea_BlackGlass
{
	background-color: white;
	outline: none;
}

/* -- Hyperlink -- */
.dxeHyperlink_BlackGlass
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #3e6b96;
}
a.dxeHyperlink_BlackGlass
{
	color: #3e6b96;
}
a:hover.dxeHyperlink_BlackGlass
{
	color: #FF9600;
}
a:visited.dxeHyperlink_BlackGlass
{
	color: #800080;
}

/* -- ListBox -- */
.dxeListBox_BlackGlass
{
	background-color: white;
	border: 1px solid #A0A0A0;
	color: Black;
	font: 12px Tahoma, Geneva, sans-serif;
	height: 107px;
	width: 70px;
}

.dxeListBox_BlackGlass div.dxlbd
{
	height: 107px;
}

.dxeListBoxItemRow_BlackGlass
{
	cursor: default;
}
.dxeListBoxItem_BlackGlass
{
	border: 1px solid white;
	padding: 2px 2px 3px 3px;
	white-space: nowrap;
	text-align: left;
}
.dxeListBoxItem_BlackGlass em
{
	background: #CEDAE5 none repeat 0 0;
	color: #333333;
	font-weight: bold;
	font-style: normal;
}
.dxeListBoxItemSelected_BlackGlass     
{
	background-color: #e0eaec;
}
.dxeListBoxItemHover_BlackGlass        
{
	background-color: #CEDAE5;
}
.dxeListBoxItemHover_BlackGlass em,
.dxeListBoxItemSelected_BlackGlass em
{
	background-image: none;
}
.dxeListBox_BlackGlass td.dxeI,
.dxeListBox_BlackGlass td.dxeIM,
.dxeListBox_BlackGlass .dxeHIC,
.dxeListBox_BlackGlass td.dxeFTM,
.dxeListBox_BlackGlass td.dxeTM,
.dxeListBox_BlackGlass td.dxeC,
.dxeListBox_BlackGlass td.dxeCM,
.dxeListBox_BlackGlass td.dxeHCC,
.dxeListBox_BlackGlass td.dxeMI,
.dxeListBox_BlackGlass td.dxeMIM
{
	border-right-width: 0!important;
}
.dxeListBox_BlackGlass td.dxeIR,
.dxeListBox_BlackGlass td.dxeIMR,
.dxeListBox_BlackGlass .dxeHICR,
.dxeListBox_BlackGlass td.dxeFTMR,
.dxeListBox_BlackGlass td.dxeTMR,
.dxeListBox_BlackGlass td.dxeCR,
.dxeListBox_BlackGlass td.dxeCMR,
.dxeListBox_BlackGlass td.dxeHCCR,
.dxeListBox_BlackGlass td.dxeMIR,
.dxeListBox_BlackGlass td.dxeMIMR
{
	border-left-width: 0!important;
}
.dxeListBox_BlackGlass td.dxeCM,
.dxeListBox_BlackGlass td.dxeHCC,
.dxeListBox_BlackGlass td.dxeCMR,
.dxeListBox_BlackGlass td.dxeHCCR
{
	width: 29px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.dxeListBox_BlackGlass td.dxeIM,
.dxeListBox_BlackGlass td.dxeIMR
{
	width: 0;
}
.dxeListBox_BlackGlass td.dxeC
{
	padding-right: 3px!important;
}
.dxeListBox_BlackGlass td.dxeCR
{
	padding-left: 3px!important;
}
.dxeListBox_BlackGlass td.dxeC > span,
.dxeListBox_BlackGlass td.dxeCM > span
{
    margin: 2px 2px 2px 3px;
}
.dxeListBox_BlackGlass td.dxeCR > span,
.dxeListBox_BlackGlass td.dxeCMR > span
{
    margin: 2px 3px 2px 2px;
}
.dxeListBox_BlackGlass td.dxeT
{
	width: 100%;
	padding-left: 0!important;
}
.dxeListBox_BlackGlass td.dxeTR
{
	width: 100%;
	padding-right: 0!important;
}
.dxeListBox_BlackGlass td.dxeT,
.dxeListBox_BlackGlass td.dxeMI
{
	border-left-width: 0!important;
}
.dxeListBox_BlackGlass td.dxeTR,
.dxeListBox_BlackGlass td.dxeMIR
{
	border-right-width: 0!important;
}
.dxeListBox_BlackGlass td.dxeFTM,
.dxeListBox_BlackGlass td.dxeTM,
.dxeListBox_BlackGlass td.dxeLTM,
.dxeListBox_BlackGlass .dxeHFC,
.dxeListBox_BlackGlass .dxeHC,
.dxeListBox_BlackGlass .dxeHLC,
.dxeListBox_BlackGlass td.dxeFTMR,
.dxeListBox_BlackGlass td.dxeTMR,
.dxeListBox_BlackGlass td.dxeLTMR,
.dxeListBox_BlackGlass .dxeHFCR,
.dxeListBox_BlackGlass .dxeHCR,
.dxeListBox_BlackGlass .dxeHLCR
{
	overflow: hidden;
	border-top-width: 0;
}
.dxeListBox_BlackGlass .dxeCM,
.dxeListBox_BlackGlass .dxeIM,
.dxeListBox_BlackGlass .dxeMIM,
.dxeListBox_BlackGlass .dxeCMR,
.dxeListBox_BlackGlass .dxeIMR,
.dxeListBox_BlackGlass .dxeMIMR
{
	border-top-width: 0;
}
.dxeListBox_BlackGlass td.dxeFTM,
.dxeListBox_BlackGlass td.dxeTM, 
.dxeListBox_BlackGlass .dxeHFC,
.dxeListBox_BlackGlass .dxeHC
{
	padding-right: 6px!important;
}
.dxeListBox_BlackGlass td.dxeFTMR,
.dxeListBox_BlackGlass td.dxeTMR, 
.dxeListBox_BlackGlass .dxeHFCR,
.dxeListBox_BlackGlass .dxeHCR
{
	padding-left: 6px!important;
}
.dxeListBox_BlackGlass td.dxeLTM,
.dxeListBox_BlackGlass td.dxeTM, 
.dxeListBox_BlackGlass .dxeHC,
.dxeListBox_BlackGlass .dxeHLC
{
	padding-left: 6px!important;
}
.dxeListBox_BlackGlass td.dxeLTMR,
.dxeListBox_BlackGlass td.dxeTMR, 
.dxeListBox_BlackGlass .dxeHCR,
.dxeListBox_BlackGlass .dxeHLCR
{
	padding-right: 6px!important;
}
/*Grid lines*/
.dxeListBox_BlackGlass td.dxeTM,
.dxeListBox_BlackGlass td.dxeLTM,
.dxeListBox_BlackGlass td.dxeMIM
{
	border-left: 1px solid #A4BED1!important;
}
.dxeListBox_BlackGlass td.dxeTMR,
.dxeListBox_BlackGlass td.dxeLTMR,
.dxeListBox_BlackGlass td.dxeMIMR
{
	border-right: 1px solid #A4BED1!important;
}
.dxeListBox_BlackGlass td.dxeIM,
.dxeListBox_BlackGlass td.dxeFTM,
.dxeListBox_BlackGlass td.dxeTM,
.dxeListBox_BlackGlass td.dxeLTM,
.dxeListBox_BlackGlass td.dxeCM,
.dxeListBox_BlackGlass td.dxeMIM,
.dxeListBox_BlackGlass td.dxeIMR,
.dxeListBox_BlackGlass td.dxeFTMR,
.dxeListBox_BlackGlass td.dxeTMR,
.dxeListBox_BlackGlass td.dxeLTMR,
.dxeListBox_BlackGlass td.dxeCMR,
.dxeListBox_BlackGlass td.dxeMIMR
{
	border-bottom: 1px solid #A4BED1;
}
/*Header*/
.dxeListBox_BlackGlass .dxeHD
{
	background: #444444 url('lbHeaderBackground.gif') repeat-x top center;
	border-bottom: 1px solid #A0A0A0;
}
.dxeListBox_BlackGlass .dxeHFC,
.dxeListBox_BlackGlass .dxeHIC,
.dxeListBox_BlackGlass .dxeHC,
.dxeListBox_BlackGlass .dxeHLC,
.dxeListBox_BlackGlass td.dxeHCC,
.dxeListBox_BlackGlass td.dxeHMIC,
.dxeListBox_BlackGlass .dxeHFCR,
.dxeListBox_BlackGlass .dxeHICR,
.dxeListBox_BlackGlass .dxeHCR,
.dxeListBox_BlackGlass .dxeHLCR,
.dxeListBox_BlackGlass td.dxeHCCR,
.dxeListBox_BlackGlass td.dxeHMICR
{
	color: White;
	border-bottom-width: 0;
	border-top-width: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}
.dxeListBox_BlackGlass .dxeHC,
.dxeListBox_BlackGlass .dxeHLC,
.dxeListBox_BlackGlass td.dxeHMIC
{
	border-left: 1px solid #A0A0A0;
}
.dxeListBox_BlackGlass .dxeHCR,
.dxeListBox_BlackGlass .dxeHLCR,
.dxeListBox_BlackGlass td.dxeHMICR
{
	border-right: 1px solid #A0A0A0;
	text-align: right;
}
.dxeListBox_BlackGlass .dxeHIC,
.dxeListBox_BlackGlass .dxeHFC,
.dxeListBox_BlackGlass .dxeHCC
{
	border-left: 1px solid #444444;
}
.dxeListBox_BlackGlass .dxeHICR,
.dxeListBox_BlackGlass .dxeHFCR,
.dxeListBox_BlackGlass .dxeHCCR
{
	border-right: 1px solid #444444;
	text-align: right;
}
.dxeListBox_BlackGlass .dxeHFC,
.dxeListBox_BlackGlass .dxeHC,
.dxeListBox_BlackGlass .dxeHMIC
{
	border-right-width: 0;
}
.dxeListBox_BlackGlass .dxeHFCR,
.dxeListBox_BlackGlass .dxeHCR,
.dxeListBox_BlackGlass .dxeHMICR
{
	border-left-width: 0;
	text-align: right;
}
.dxeListBox_BlackGlass .dxeHLC
{
	border-right: 1px solid #A0A0A0;
}
.dxeListBox_BlackGlass .dxeHLCR
{
	border-left: 1px solid #A0A0A0;
	text-align: right;
}

/* -- Calendar -- */
.dxeCalendar_BlackGlass
{
	color: black;
    font: 12px Tahoma, Geneva, sans-serif;
	border: 1px solid #A0A0A0;
	background-color: White;
	font-weight: normal;
}
.dxeCalendar_BlackGlass td.dxMonthGrid,
.dxeCalendar_BlackGlass td.dxMonthGridWithWeekNumbers
{
	padding: 8px 20px 8px 8px;
	cursor: default;
}
.dxeCalendar_BlackGlass td.dxMonthGrid
{
	padding-left: 20px;
}
.dxeCalendar_BlackGlass td.dxMonthGridWithWeekNumbersRtl
{
	padding: 8px 8px 8px 20px;
	cursor: default;
}
.dxeCalendarDayHeader_BlackGlass
{
	padding: 4px;
	color: Black;
	border-bottom: 1px solid #cfcfcf;
}
.dxeCalendarWeekNumber_BlackGlass
{
	font-size: 0.91em;
	text-align: right;
	color: #86b4d8;
	padding: 6px 8px 2px 4px;
}
.dxeCalendarDay_BlackGlass
{
	font-size: 0.91em;
	padding: 3px;
	color: Black;
	background-color: White;
	text-align: center;
}
.dxeCalendarWeekend_BlackGlass       	
{
	color: #fe3c00;
}
.dxeCalendarOtherMonth_BlackGlass    	 
{
	color: #acacac;
}
.dxeCalendarOutOfRange_BlackGlass        
{
	color: #d0d0d0;
}
.dxeCalendarDayDisabled_BlackGlass {
	background-color: #fbfcfc;
	color: #eaebeb!important;
}
.dxeCalendarToday_BlackGlass       	        
{
	border: 1px solid #ff5c20;
	padding: 2px;
}
.dxeCalendarSelected_BlackGlass       	
{
	background-color: #93a7ba;
	color: white;
}
.dxeDayInRange.dxeCalendarSelected_BlackGlass
{
    background-color: #cee5ea;
    color: black;
}
.dxeCalendarHeader_BlackGlass
{
	background-color: #c5d6df;
	border-top: 1px solid #a0a0a0;
	border-right: 0 solid #a0a0a0;
	border-bottom: 1px solid #a0a0a0;
	border-left: 0 solid #a0a0a0;
	text-align: center;
	padding: 1px;
	height: 18px;
}
.dxeCalendarHeader_BlackGlass td.dxe
{
	text-align: center;
	cursor: pointer;
}
.dxeCalendarHeader_BlackGlass .dxeCHS
{
    min-width: 1px;
    *width: 1px;
}
.dxeCalendarFooter_BlackGlass
{
	background-color: #e4edef;
	padding: 6px 0px;
	border-top: 1px solid #a0a0a0;
}
.dxeCalendarFooter_BlackGlass .dxeCFS
{
    min-width: 4px;
    *width: 4px;
}
.dxeCalendarFastNav_BlackGlass
{
	background: white none;
	border-top: 1px solid #a0a0a0;
	border-right: 1px solid #a0a0a0;
	border-bottom: 0px solid #a0a0a0;
	border-left: 1px solid #a0a0a0;
	padding: 8px;
}
.dxeCalendarFastNavYearArea_BlackGlass
{
    padding-top: 4px;
}
.dxeCalendarFastNavFooter_BlackGlass
{
	background: #e4edef none;
	padding: 6px 0px;
	border: 1px solid #a0a0a0;
}
.dxeCalendarFastNavFooter_BlackGlass .dxeCFNFS
{
    min-width: 4px;
    *width: 4px;
}
.dxeCalendarFastNavMonth_BlackGlass,
.dxeCalendarFastNavYear_BlackGlass
{
	color: Black;
	padding: 4px 6px;
	text-align: center;
	cursor: pointer;
}
.dxeCalendarFastNavMonthSelected_BlackGlass,
.dxeCalendarFastNavYearSelected_BlackGlass
{
	background: #93a7ba none;
}
.dxeCalendarFastNavMonthHover_BlackGlass,
.dxeCalendarFastNavYearHover_BlackGlass
{
	background: #c1ced9 none;
}
.dxeDateEditTimeEditCell_BlackGlass
{
    padding: 4px 27px 12px;
    width: 100px;
}
.dxeDateEditClockCell_BlackGlass
{
    padding: 8px 14px 0;
}
.dxeCalendarFooter_BlackGlass.dxeDETSF
{
    padding-left: 6px;
    padding-right: 6px;
}
/* Disabled */
.dxeDisabled_BlackGlass,
.dxeDisabled_BlackGlass td.dxe
{
	color: #bebebe;
	cursor: default;
}
.dxeEditArea_BlackGlass.dxeDisabled_BlackGlass /*Bootstrap correction*/
{
    color: #bebebe;
}
a.dxeDisabled_BlackGlass, a.dxeDisabled_BlackGlass:hover
{
	color: #9f9f9f;
}
.dxeButtonDisabled_BlackGlass
{
	color: #808080;
	background: #b6b6b6 url('edtButtonBackDis_16.gif') repeat-x left top;
	border-color: #a5a5a5;
	cursor: default;
}
/* -- Button -- */
.dxbButton_BlackGlass
{
	color: #FFFFFF;
	font: 12px Tahoma, Geneva, sans-serif;
	border: 1px solid #000000;
	background: #424242 url('edtButtonBack.gif') repeat-x top;
	padding: 1px;
}
.dxbButtonHover_BlackGlass
{
	color: #FFFFFF;
	background: #759DB3 url('edtButtonHoverBack.gif') repeat-x top;
}
.dxbButtonChecked_BlackGlass
{
	color: #FFFFFF;
	background: #3D677F url('edtButtonCheckedBack.gif') repeat-x top;
}
.dxbButtonPressed_BlackGlass
{
	color: #FFFFFF;
	background: #AEAEAE url('edtButtonPressedBack.gif') repeat-x top;
}
.dxbButton_BlackGlass div.dxb
{
	padding: 1px 11px 2px;
	border: 1px dotted transparent;
}
.dxbButton_BlackGlass div.dxbf
{
	border: 1px dotted #C2E4F6;
}
/* Button Link */
a.dxbButton_BlackGlass
{
    color: #3e6b96;
    text-decoration: underline;
}
a.dxbButton_BlackGlass:hover
{
	color: #FF9600;
}
a.dxbButton_BlackGlass:visited
{
	color: #800080;
}
/* Disabled */
.dxbDisabled_BlackGlass
{
	background: #a1a1a1 url('edtButtonBackDis.gif') repeat-x top;
	border-color: #a5a5a5;
	color: #ffffff;
}
.dxbDisabled_BlackGlass,
a.dxbButton_BlackGlass.dxbDisabled_BlackGlass
{
	cursor: default;
    text-decoration: none;
}
a.dxbButton_BlackGlass.dxbDisabled_BlackGlass
{
	color: #808080;
}

/* -- FilterControl -- */
.dxfcControl_BlackGlass
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: Black;
	padding: 0 1em;
}
.dxfcTable_BlackGlass
{
	border-collapse: separate!important;
}
.dxfcTable_BlackGlass td.dxfc
{
	padding: 0px 0px 0px 3px;
}
a.dxfcPropertyName_BlackGlass
{
	white-space: nowrap!important;
	color: Blue!important;
}
a.dxfcGroupType_BlackGlass
{
	white-space: nowrap!important;
	padding: 0px 3px!important;
	color: Red!important;
}
a.dxfcOperation_BlackGlass
{
	white-space: nowrap!important;
	color: Green!important;
}
a.dxfcValue_BlackGlass
{
	white-space: nowrap!important;
	color: Gray!important;
}
.dxfcImageButton_BlackGlass
{
	cursor: pointer;
}

.dxeMaskHint_BlackGlass
{
	background: #ffffe1 none;
	border: 1px solid black;
	padding: 2px 5px 3px;
	color: Black;
	font: 12px Tahoma, Geneva, sans-serif;
}

.dxfcControl_BlackGlass ul.dxfc-tree,
.dxfcControl_BlackGlass .dxfc-tree ul
{
    list-style-type: none;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
}

.dxfcControl_BlackGlass .dxfc-tree
{
    width: 100%;
}

.dxfcControl_BlackGlass .dxfc-subnd
{
    margin-left: 22px;
}

.dxfcControl_BlackGlass .dxfc > li > table
{
    border-spacing: 0;
    border-collapse: collapse;
}

.dxfcControl_BlackGlass .dxfc-elb
{
    background: url('fcElbow.gif') no-repeat;
    float: left;
    height: 21px;
    vertical-align: top;
    width: 26px;
    margin-right: 0.3em;
}

.dxfcControl_BlackGlass .dxfc-clr
{
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
    width: 0;
}

.dxfcControl_BlackGlass .dxfc-nd
{
    cursor: pointer;
    display: block;
    float: left;
    height: 24px;
    outline: 0 none;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}

.dxfcControl_BlackGlass .dxfc-nd > tbody > tr > td > a,
.dxfcControl_BlackGlass .dxfc-nd > tbody > tr > td > span,
.dxfcControl_BlackGlass .dxfc-nd > tbody > tr > td > img,
.dxfcControl_BlackGlass .dxfc-editor
{
    vertical-align: middle;
}

.dxfcControl_BlackGlass .dxfc-nd > tbody > tr > td > a,
.dxfcControl_BlackGlass .dxfc-nd > tbody > tr > td > td,
.dxfcControl_BlackGlass .dxfc-nd > tbody > tr > td > span
{
    padding: 0 0.1ex;
}

.dxfcControl_BlackGlass .dxfc-nd > tbody > tr > td > a
{
    line-height: 24px;
}

.dxfcControl_BlackGlass .dxfc-ln
{
    background: url('fcLine.gif') repeat-y;
    vertical-align: top;
}

.dxfcControl_BlackGlass .dxfc-memo textarea 
{
	height: 80px;
	overflow: auto;
}

.dxfcControl_BlackGlass .dxfc-validationSummary
{
	padding: 2px 5px 4px 6px !important;
	list-style-type: none;
	margin: 0;
}

.dxfcControl_BlackGlass .dxfc-validationSummary li
{
	padding: 2px 0;
}

.dxfcControl_BlackGlass .dxfc-validationSummary li a
{
	color: red;
	text-decoration: none;
	border-bottom: 1px dashed #f70;
}

.dxfcControl_BlackGlass .dxfc-validationSummary li a:hover
{
	color: #f70;
}
/* -- ProgressBar -- */
.dxeProgressBar_BlackGlass
{
	border: 1px Solid #000000;
	background-color: #8A8B8B;
	font: 12px Tahoma, Geneva, sans-serif;
	color: #FFFFFF;
    height: 25px;
}
.dxeProgressBar_BlackGlass .dxePBMainCell,
.dxeProgressBar_BlackGlass td.dxe
{
	padding: 0;
}
.dxeProgressBarIndicator_BlackGlass
{
	background: #464646 url('edtProgressIndicatorBack.gif') repeat-x;
}

/* -- DropDownWindow -- */
.dxpcDropDown_BlackGlass,
.dxeDropDownWindow_BlackGlass
{
    font: 12px Tahoma, Geneva, sans-serif;
}
.dxeDropDownWindow_BlackGlass
{
	background-color: white;
	border: 1px solid #9F9F9F;
}

/*----------------- ColorTable  -----------------*/
.dxeColorIndicator_BlackGlass
{
	border: 1px solid #9F9F9F;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.dxeItemPicker_BlackGlass
{
	background-color: #e8edf1;
	border: 1px solid #4e4f51;
}
.dxeColorTable_BlackGlass td.dx,
.dxeItemPicker_BlackGlass td.dx
{
	padding: 4px;
}
.dxeColorTableCell_BlackGlass,
.dxeItemPickerCell_BlackGlass,
.dxeACICell_BlackGlass
{
	padding: 3px;
	cursor: pointer;
}
.dxeColorTableCellDiv_BlackGlass,
.dxeACICellDiv_BlackGlass
{
	border: 1px solid #808080;
	width: 12px;
	height: 12px;
	font-size: 0;
}
.dxeColorTableCellSelected_BlackGlass,
.dxeACICellSelected_BlackGlass
{
	padding: 2px!important;
	background-color: #CBCBCB;
	border: 1px solid #888888;
}
.dxeColorTableCellHover_BlackGlass,
.dxeItemPickerCellHover_BlackGlass,
.dxeAutomaticColorItemCellHover_BlackGlass,
.dxeAutomaticColorItem_BlackGlass:hover > div
{
	padding: 2px!important;
}
.dxeColorTableCellHover_BlackGlass,
.dxeAutomaticColorItemCellHover_BlackGlass,
.dxeAutomaticColorItem_BlackGlass:hover > div
{
	background-color: #F2F2F2;
	border: 1px solid #888888;
}
.dxeItemPickerCellHover_BlackGlass
{
	background-color: #c1ced9;
	border: 1px solid #a4bed1;
}

/* -- Invalid Style -- */
.dxeInvalid_BlackGlass
{
}
.dxeInvalid_BlackGlass .dxeEditArea_BlackGlass,
.dxeInvalid_BlackGlass .dxeMemoEditArea_BlackGlass
{
}

/* -- Focused Style -- */
.dxeFocused_BlackGlass
{
	border: 1px solid Black;
}

.dxeFocused_BlackGlass.dxeTrackBar_BlackGlass
{	
	border: 0px;
}

/* -- Null Text Style -- */
.dxeNullText_BlackGlass .dxeEditArea_BlackGlass,
.dxeNullText_BlackGlass .dxeMemoEditArea_BlackGlass
{
	color: #bebebe;
}

/* -- Captcha -- */
.dxcaControl_BlackGlass 
{
    font: 12px Tahoma, Geneva, sans-serif;
}

.dxcaRefreshButton_BlackGlass
{
	text-decoration: none;
	color: #4688aa;
}

.dxcaDisabledRefreshButton_BlackGlass
{
	color: #9f9f9f;
}

.dxcaRefreshButtonCell_BlackGlass
{
	padding-left: 4px;
	padding-right: 4px;
}

.dxcaRefreshButtonText_BlackGlass
{
	text-decoration: underline;
}

.dxcaDisabledRefreshButtonText_BlackGlass
{
	text-decoration: none;
}

.dxcaTextBoxCell_BlackGlass,
.dxcaTextBoxCellNoIndent_BlackGlass
{
}

.dxcaTextBoxCellNoIndent_BlackGlass .dxeErrorCell_BlackGlass
{
	padding-left: 0px;
	padding-top: 4px;
	color: #a91123;
}

.dxcaTextBoxLabel_BlackGlass
{
	padding-bottom: 4px;
	display: block;
}

.dxcaLoadingPanel_BlackGlass
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #303030;
	border: 1px solid #D3D3D3;
	background-color: #FFFFFF;
}

.dxcaLoadingPanel_BlackGlass td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}
.dxcaLoadingPanel_BlackGlass .dxlp-loadingImage
{
	margin:0px;
}

.dxpcLite_BlackGlass .dxHFBPS
{
    width: 8px;
}

.dxeTextBox_BlackGlass,
.dxeButtonEdit_BlackGlass,
.dxeIRadioButton_BlackGlass,
.dxeRadioButtonList_BlackGlass,
.dxeCheckBoxList_BlackGlass
{
    cursor: default;
}

/* Removes flicking in iOS Safari*/
.dxeTrackBar_BlackGlass, 
.dxeIRadioButton_BlackGlass, 
.dxeButtonEdit_BlackGlass, 
.dxeTextBox_BlackGlass, 
.dxeRadioButtonList_BlackGlass, 
.dxeCheckBoxList_BlackGlass, 
.dxeMemo_BlackGlass, 
.dxeListBox_BlackGlass, 
.dxeCalendar_BlackGlass, 
.dxeColorTable_BlackGlass
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* ASPxCololrEdit */
.dxcpParametersCellSys .dxcpWebColorInput_BlackGlass
{
	float: right;
	margin-top: 40px;
}
.dxcpColorParameterMainDiv_BlackGlass
{
	padding: 0px 0 4px 9px;
	width: 90px;
	text-align: right;
}
.dxeCustomColorButton_BlackGlass
{
    padding-top: 2px;
    padding-bottom: 2px;
	margin: 3px 7px;
	cursor: pointer;
}
.dxeAutomaticColorItem_BlackGlass
{
    padding: 4px 4px 0px 4px;
}
.dxeAutomaticColorItem_BlackGlass > span
{
    margin: 0px 5px;
    line-height: 20px;
}
.dxcpCurrentColor_BlackGlass, 
.dxcpSavedColor_BlackGlass
{
	height: 35px;
}
.dxcpCurrentAndSaved_BlackGlass
{
	width: 65px;
	margin: 34px 0px 0px auto;
	cursor: pointer;
}
.dxeColorTablesMainDiv_BlackGlass,
.dxeColorSelectorMainDiv_BlackGlass
{
	background-color: #FFFFFF;
}
.dxeColorSelectorMainDiv_BlackGlass
{
	padding: 7px;
}
.dxcpColorArea_BlackGlass,
.dxcpHueAreaImage_BlackGlass,
.dxcpCurrentAndSaved_BlackGlass,
.dxeColorTablesMainDiv_BlackGlass,
.dxeColorSelectorMainDiv_BlackGlass,
.dxcpParametersCell_BlackGlass input
{
	border: 1px solid #9F9F9F;
}
.dxeButtonsPanelDiv_BlackGlass
{
	margin-top: 15px;
	text-align: right;
}
.dxeButtonsPanelDiv_BlackGlass input
{
	min-width: 58px;
	margin-left: 10px;
}

/* -- ASPxTokenBox -- */
input.dxeTokenBoxInput_BlackGlass[type="text"] {
	display: inline-block;
	float: left;
	width: 30px;
	outline: none;
	margin: 1px;
	padding: 1px;
}
.dxeToken_BlackGlass {
    border: 1px solid #16171b;
	border-radius: 2px;
    display: inline-block;
    color: #ffffff;
	float: left;
	min-width: 30px;
	margin-right: 1px;
	margin-bottom: 1px;
}
.dxeTokenText_BlackGlass, .dxeTokenRemoveButton_BlackGlass {
	display: block;
	float: left;
}
.dxeTokenText_BlackGlass {
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 4px;
}
.dxeTokenRemoveButton_BlackGlass {
	cursor: pointer;
}
.dxeToken_BlackGlass {
	background: #424242 url('edtTokenBoxTokenBackground.png') repeat-x top;
}
.dxFirefox input.dxeTokenBoxInput_BlackGlass[type="text"]
{
	padding: 0;
	margin: 1px;
}
.dxFirefox .dxeTokenText_BlackGlass
{
	margin-top: -1px;
	margin-bottom: -1px;
}

/* ASPxPictureEdit */
.dxpePreviewContainer_BlackGlass
{
    position: relative;
}
.dxpeCommandPanel_BlackGlass
{
    background-color: #333333;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    height: 32px;
    position: absolute;
}
.dxpeBottomCommandPanel_BlackGlass
{
    width: 100%;
    bottom: 0;
}

.dxpeTopCommandPanel_BlackGlass
{
    width: 100%;      
    top: 0;    
}
.dxpeCommandPanelDeleteButton_BlackGlass, 
.dxpeCommandPanelOpenDialogButton_BlackGlass
{    
    cursor: pointer;
    display: inline-block;
}
.dxpeCommandPanelButtonsWrapper_BlackGlass
{
    position: absolute;
}
.dxpeCommandPanelButtonsWrapperLeft_BlackGlass
{
    left: 0;
}
.dxpeCommandPanelButtonsWrapperCenter_BlackGlass
{
    left: 50%;
    margin-left: -32px;
}
.dxpeCommandPanelButtonsWrapperRight_BlackGlass
{
    right: 0;
}
.dxpeCommandPanelDeleteButtonHover_BlackGlass,
.dxpeCommandPanelDeleteButtonPressed_BlackGlass,
.dxpeCommandPanelOpenDialogButtonHover_BlackGlass,
.dxpeCommandPanelOpenDialogButtonPressed_BlackGlass
{
}
.dxpeCommandPanelDeleteButtonDisabled_BlackGlass,
.dxpeCommandPanelOpenDialogButtonDisabled_BlackGlass
{
}
.dxpeDropZone_BlackGlass
{
    background-color: gray;
}
.dxpePlaceHolder_BlackGlass
{
    background-color: lightgray;
    z-index: -1;
}
.dxpeTextPanelContainer_BlackGlass
{
    height: 100%;
    font-size: 200%;
    text-align: center;
    width: 100%;
}
.dxpeTextPanel_BlackGlass
{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Editor caption */
.dxeCaptionCell_BlackGlass
{
    font: 12px Tahoma, Geneva, sans-serif;
    color: #303030;
    white-space: nowrap;
    line-height: 16px;
    height: 100%;
}
.dxeRoot_BlackGlass
{
}
.dxeCaption_BlackGlass
{
}
.dxeCaptionCell_BlackGlass.dxeCaptionVATSys.dxeTextEditCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_BlackGlass.dxeCaptionVATSys.dxeCheckBoxCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_BlackGlass.dxeCaptionVATSys.dxeRadioButtonCTypeSys
{
    padding-top: 4px;
}
.dxeCaptionCell_BlackGlass.dxeCaptionVATSys.dxeCheckBoxListCTypeSys
{
    padding-top: 10px;
}
.dxeCaptionCell_BlackGlass.dxeCaptionVATSys.dxeRadioButtonListCTypeSys
{
    padding-top: 10px;
}
.dxeCaptionCell_BlackGlass.dxeCaptionVATSys.dxeListBoxCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_BlackGlass.dxeCaptionVATSys.dxeTrackBarCTypeSys
{
    padding-top: 6px;
}
.dxeCaptionCell_BlackGlass.dxeCaptionVATSys.dxeProgressBarCTypeSys
{
    padding-top: 4px;
}
.dxeCaptionCell_BlackGlass.dxeCaptionVATSys.dxeMemoCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_BlackGlass.dxeCaptionVATSys.dxeCustomCTypeSys
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.dxFirefox .dxeCaptionCell_BlackGlass.dxeCaptionVATSys.dxeListBoxCTypeSys
{
    padding-top: 4px;
}
.dxFirefox .dxeCaptionCell_BlackGlass.dxeCaptionVATSys.dxeProgressBarCTypeSys
{
    padding-top: 5px;
}

/* Chrome */
.dxWebKitFamily .dxeCaptionCell_BlackGlass.dxeCaptionVATSys.dxeListBoxCTypeSys
{
    padding-top: 4px;
}

/* Safari */
.dxeCaptionCellSafariSys.dxeCaptionCell_BlackGlass.dxeCaptionVATSys.dxeListBoxCTypeSys
{
    padding-top: 3px;
}

.dxeRequiredMark_BlackGlass {
    color: green;
    font-style: normal;
}

.dxeOptionalMark_BlackGlass {
    color: gray;
    font-style: normal;
}
/*Loading Panel*/
.dxlpLoadingPanel_BlackGlass,
.dxlpLoadingPanelWithContent_BlackGlass
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #303030;
	border: 1px solid #9F9F9F;
	background-color: White;
}
.dxlpLoadingPanel_BlackGlass td.dx,
.dxlpLoadingPanelWithContent_BlackGlass td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}
.dxlpLoadingPanel_BlackGlass .dxlp-loadingImage,
.dxcaLoadingPanel_BlackGlass .dxlp-loadingImage,
.dxlpLoadingPanelWithContent_BlackGlass .dxlp-loadingImage,
.dxeImage_BlackGlass.dxe-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 32px;
	width: 32px;
}

/* Out of range warning*/
.dxeOutOfRWarn_BlackGlass {
    font: 12px Tahoma, Geneva, sans-serif;
    padding: 3px 8px 4px 8px;
    display: none;
    position: absolute;
    background-color: white;
    color: red;
    border-radius: 3px;
    z-index: 41998;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #A8A8A8;
}
.dxeOutOfRWarnRight_BlackGlass {
    margin-left: 10px;
}
.dxeOutOfRWarnBottom_BlackGlass {
    margin-top: 10px;
}
