/* -- ValidationSummary -- */
.dxvsValidationSummary_Office2010Black
{
	font: 11px Verdana, Geneva, sans-serif;
	color: Red;
}
.dxvsValidationSummary_Office2010Black td.dxvsRC_Office2010Black
{
	vertical-align: top;
	padding: 2px 5px 4px 6px;
}
.dxvsValidationSummary_Office2010Black .dxvsE_Office2010Black
{
}
.dxvsValidationSummary_Office2010Black table.dxvsHT_Office2010Black
{
	width: 100%;
}
.dxvsValidationSummary_Office2010Black td.dxvsH_Office2010Black
{
	padding: 2px 0;
}
.dxvsValidationSummary_Office2010Black a.dxvsHL_Office2010Black,
.dxvsValidationSummary_Office2010Black a.dxvsHL_Office2010Black:visited
{
	color: red;
}
.dxvsValidationSummary_Office2010Black a.dxvsHL_Office2010Black
{
	text-decoration: none;
	border-bottom: 1px dashed #f70;
}
.dxvsValidationSummary_Office2010Black a.dxvsHL_Office2010Black:hover
{
	color: #f70;
}
.dxvsValidationSummary_Office2010Black table.dxvsT_Office2010Black
{
}
.dxvsValidationSummary_Office2010Black tr.dxvsE_Office2010Black
{
}
.dxvsValidationSummary_Office2010Black td.dxvsETC_Office2010Black
{
	padding: 2px 0;
}
.dxvsValidationSummary_Office2010Black ul.dxvsL_Office2010Black
{
}
.dxvsValidationSummary_Office2010Black ol.dxvsL_Office2010Black
{
}
.dxvsValidationSummary_Office2010Black li.dxvsE_Office2010Black
{
	padding: 2px 0;
}

/* TrackBar */
.dxeTrackBar_Office2010Black
{
    font: 11px Verdana, Geneva, sans-serif;
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	visibility:hidden;
}

.dxeDisabled_Office2010Black .dxeTBHSys a,
.dxeDisabled_Office2010Black .dxeTBVSys a
{
    cursor: default;
}

.dxeTBBarHighlight_Office2010Black
{
	font-size: 0;
}

.dxeTBScale_Office2010Black,
.dxeTBTrack_Office2010Black,
.dxeTBBarHighlight_Office2010Black
{
	cursor: pointer;
}

.dxeTBScale_Office2010Black
{
    font-size: 0.91em;
	z-index: 1;
}
.dxeTBSecondaryDH_Office2010Black,
.dxeTBMainDH_Office2010Black
{
	z-index: 4;
}

.dxeTrackBar_Office2010Black.dxeTBHSys
{
	width: 170px;
	height: 49px;
}
.dxeTrackBar_Office2010Black.dxeTBVSys
{
	height: 170px;
	width: 49px;
}
.dxeTrackBar_Office2010Black.dxeTBBScaleSys.dxeTBVSys
{
	width: 76px;
}
.dxeTrackBar_Office2010Black.dxeTBBScaleSys.dxeTBHSys
{	
	height: 76px;
}

.dxeTBTrack_Office2010Black
{
	z-index: 2;
	position: absolute;
}

.dxeTBHSys .dxeTBTrack_Office2010Black
{
	background-image:  url('edtTrackBarTrackH.gif');
}
.dxeTBVSys .dxeTBTrack_Office2010Black
{
	background-image:  url('edtTrackBarTrackV.gif');
}

.dxeTBHSys .dxeTBTrack_Office2010Black, 
.dxeTBHSys .dxeTBBarHighlight_Office2010Black
{
	height: 9px;
}
.dxeTBVSys .dxeTBTrack_Office2010Black, 
.dxeTBVSys .dxeTBBarHighlight_Office2010Black
{
	width: 9px;
}

.dxeTBHSys .dxeTBMainDH_Office2010Black,
.dxeTBHSys .dxeTBSecondaryDH_Office2010Black
{	
	top: -4px;
	width:11px;
	height:17px;
}
.dxeTBVSys .dxeTBMainDH_Office2010Black,
.dxeTBVSys .dxeTBSecondaryDH_Office2010Black
{
	left: -4px;
	width:17px;
	height:11px;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBTrack_Office2010Black,
.dxeTBVSys .dxeTBTrack_Office2010Black
{
	left: 6px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBTrack_Office2010Black
{
	right: 6px;
	left: auto;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBTrack_Office2010Black
{
	bottom: 6px;
	top: auto;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBTrack_Office2010Black,
.dxeTBHSys .dxeTBTrack_Office2010Black
{
	top: 6px;
}

.dxeTBBarHighlight_Office2010Black
{
	left: 0px;
	top: 0px;
	position:absolute;
	z-index: 3;
}

.dxeTBHSys .dxeTBBarHighlight_Office2010Black
{
	background-image:  url('edtTrackBarBarHighlightH.gif');
}
.dxeTBVSys .dxeTBBarHighlight_Office2010Black
{
	background-image:  url('edtTrackBarBarHighlightV.gif');
}

.dxeTBRBLabel_Office2010Black,
.dxeTBLTLabel_Office2010Black
{
	text-align: center;
	cursor: default;
}
.dxeTBSmallTickSys .dxeTBRBLabel_Office2010Black,
.dxeTBSmallTickSys .dxeTBLTLabel_Office2010Black,
.dxeTBLargeTickSys .dxeTBRBLabel_Office2010Black,
.dxeTBLargeTickSys .dxeTBLTLabel_Office2010Black
{	
	position: absolute;
}

.dxeTBHSys .dxeTBRBLabel_Office2010Black,
.dxeTBHSys .dxeTBLTLabel_Office2010Black
{
	width: 100%;
}

.dxeTBIncBtn_Office2010Black,
.dxeTBDecBtn_Office2010Black
{
}

.dxeTBVSys .dxeTBRBLabel_Office2010Black,
.dxeTBVSys .dxeTBLTLabel_Office2010Black
{
	padding-top: 2px;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_Office2010Black
{
	margin-left: -4px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBRBLabel_Office2010Black,
.dxeTBVSys .dxeTBBScaleSys .dxeTBLTLabel_Office2010Black
{
	right: 0px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBLTLabel_Office2010Black,
.dxeTBVSys .dxeTBBScaleSys .dxeTBRBLabel_Office2010Black
{
	left: 0px;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBRBLabel_Office2010Black,
.dxeTBHSys .dxeTBBScaleSys .dxeTBLTLabel_Office2010Black
{
	bottom: 0px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBLTLabel_Office2010Black,
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_Office2010Black
{
	top: 0px;
}

.dxeTBHSys .dxeTBItem_Office2010Black .dxeTBRBLabel_Office2010Black,
.dxeTBHSys .dxeTBItem_Office2010Black .dxeTBLTLabel_Office2010Black
{
	display: inline-block;
	margin-left: 0px!important;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBItem_Office2010Black .dxeTBRBLabel_Office2010Black
{
	padding-top: 12px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBItem_Office2010Black .dxeTBLTLabel_Office2010Black
{
	margin-top: 8px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_Office2010Black .dxeTBRBLabel_Office2010Black 
{
	margin-left: 5px;
}

.dxeTBSelectedItem_Office2010Black .dxeTBRBLabel_Office2010Black,
.dxeTBSelectedItem_Office2010Black .dxeTBLTLabel_Office2010Black,
.dxeTBSelectedTick_Office2010Black .dxeTBRBLabel_Office2010Black,
.dxeTBSelectedTick_Office2010Black .dxeTBLTLabel_Office2010Black
{
	color: #333333;
}

.dxeDisabled_Office2010Black .dxeTBSelectedItem_Office2010Black .dxeTBRBLabel_Office2010Black,
.dxeDisabled_Office2010Black .dxeTBSelectedItem_Office2010Black .dxeTBLTLabel_Office2010Black,
.dxeDisabled_Office2010Black .dxeTBSelectedTick_Office2010Black .dxeTBRBLabel_Office2010Black,
.dxeDisabled_Office2010Black .dxeTBSelectedTick_Office2010Black .dxeTBLTLabel_Office2010Black
{
	color: #B9B9B9;
}

.dxeTBRBLabel_Office2010Black,
.dxeTBLTLabel_Office2010Black,
.dxeTBItem_Office2010Black
{
	color: #999999;
}

.dxeDisabled_Office2010Black .dxeTBRBLabel_Office2010Black,
.dxeDisabled_Office2010Black .dxeTBLTLabel_Office2010Black,
.dxeDisabled_Office2010Black .dxeTBItem_Office2010Black
{
	color: #DCDCDC;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBItem_Office2010Black
{
	text-align: left;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_Office2010Black
{
	text-align: right;
}

.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_Office2010Black
{
	text-align: center;
}

.dxeTBHSys .dxeTBItem_Office2010Black
{
	background-image:  url('edtTrackBarLargeTickH.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBItem_Office2010Black
{
	background-image:  url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBItem_Office2010Black 
{
	background-image:  url('edtTrackBarLargeTickV.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_Office2010Black
{
	background-image:  url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBHSys .dxeTBLargeTick_Office2010Black
{
	background-image:  url('edtTrackBarLargeTickH.gif');
}
.dxeTBVSys .dxeTBLargeTick_Office2010Black
{
	background-image: url('edtTrackBarLargeTickV.gif');
}
.dxeTBHSys .dxeTBSmallTick_Office2010Black
{
	background-image: url('edtTrackBarSmallTickH.gif');
}
.dxeTBVSys .dxeTBSmallTick_Office2010Black
{
	background-image: url('edtTrackBarSmallTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBLargeTick_Office2010Black
{
	background-image: url('edtTrackBarDoubleLargeTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBLargeTick_Office2010Black
{
	background-image: url('edtTrackBarDoubleLargeTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBSmallTick_Office2010Black
{
	background-image: url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBSmallTick_Office2010Black
{
	background-image: url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBVSys .dxeTBIncBtn_Office2010Black,
.dxeTBVSys .dxeReversedDirectionSys .dxeTBDecBtn_Office2010Black
{
	bottom: 0px;
	top: auto;
}
.dxeTBVSys .dxeTBDecBtn_Office2010Black,
.dxeTBVSys .dxeReversedDirectionSys .dxeTBIncBtn_Office2010Black
{
	top: 0px;
	bottom: auto;
}
.dxeTBHSys .dxeTBDecBtn_Office2010Black, 
.dxeTBHSys .dxeReversedDirectionSys .dxeTBIncBtn_Office2010Black
{
	left: 0px;
	right: auto;
}
.dxeTBHSys .dxeTBIncBtn_Office2010Black,
.dxeTBHSys .dxeReversedDirectionSys .dxeTBDecBtn_Office2010Black
{
	right: 0px;
	left: auto;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBDecBtn_Office2010Black,
.dxeTBVSys .dxeTBBScaleSys .dxeTBIncBtn_Office2010Black
{
	margin-left: -9px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBDecBtn_Office2010Black,
.dxeTBHSys .dxeTBBScaleSys .dxeTBIncBtn_Office2010Black
{
	margin-top: -9px;
	top: 50%;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBTrack_Office2010Black
{ 
	margin-left: -4px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBTrack_Office2010Black
{ 
	margin-top: -4px;
	top: 50%;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBDecBtn_Office2010Black,
.dxeTBVSys .dxeTBLTScaleSys .dxeTBIncBtn_Office2010Black
{
	right: 1px;
	left: auto;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBDecBtn_Office2010Black,
.dxeTBHSys .dxeTBLTScaleSys .dxeTBIncBtn_Office2010Black
{
	bottom: 1px;
	top: auto;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBDecBtn_Office2010Black,
.dxeTBVSys .dxeTBRBScaleSys .dxeTBIncBtn_Office2010Black,
.dxeTBVSys .dxeTBDecBtn_Office2010Black,
.dxeTBVSys .dxeTBIncBtn_Office2010Black
{
	left: 1px;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBDecBtn_Office2010Black,
.dxeTBHSys .dxeTBRBScaleSys .dxeTBIncBtn_Office2010Black,
.dxeTBHSys .dxeTBDecBtn_Office2010Black,
.dxeTBHSys .dxeTBIncBtn_Office2010Black
{
	top: 1px;
}

.dxeHelpText_Office2010Black,
.dxeTBValueToolTip_Office2010Black
{
    font: 11px Verdana, Geneva, sans-serif;
}
div.dxeHelpText_Office2010Black,
.dxeTBValueToolTip_Office2010Black
{
	padding: 3px 8px 4px 8px;
    display: inline;
    position:absolute;
    border-radius: 3px;
    z-index: 41998;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #6A6A6A;
    color: #000000;
    background: #B3B3B3;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3B3B3', endColorstr='#9FA0A2');
	background: -webkit-gradient(linear, left top, left bottom, from(#B3B3B3), to(#9FA0A2));
	background: -moz-linear-gradient(top,  #B3B3B3,  #9FA0A2);
}
td.dxeHelpText_Office2010Black {
    visibility: visible;
    color: #9F9F9F;
}
td.dxeHelpText_Office2010Black span {
    font-size: 0.91em;
}
td.dxeHelpText_Office2010Black.dxeHHelpTextSys {
    padding: 0 6px;
}
td.dxeHelpText_Office2010Black.dxeVHelpTextSys {
    padding: 2px 0;
}

/* InternalCheckBox */
.dxeIRBFocused_Office2010Black
{
    outline: 1px dotted #dac11e;
}
.dxeIRadioButton_Office2010Black
{
}
.dxlpLoadingPanel_Office2010Black,
.dxlpLoadingPanelWithContent_Office2010Black
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #7C7C94;
	border: 1px solid #9C9AB7;
	background-color: White;
}
.dxlpLoadingPanel_Office2010Black td.dx,
.dxlpLoadingPanelWithContent_Office2010Black td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}
.dxcaLoadingPanel_Office2010Black .dxlp-loadingImage,
.dxlpLoadingPanel_Office2010Black .dxlp-loadingImage,
.dxlpLoadingPanelWithContent_Office2010Black .dxlp-loadingImage,
.dxeImage_Office2010Black.dxe-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 16px;
	width: 16px;
}

.dxeButtonEditSys .dxic .dxeLoadingDiv_Office2010Black
{
	opacity: 1!important;
	filter: alpha(opacity=100)!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_Office2010Black
{
    background-color: transparent!important;
    font-size: 0!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_Office2010Black td.dx
{
	padding: 0px!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_Office2010Black td.dx > span
{
	display: none;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_Office2010Black td.dx > img
{
	height: 15px;
    width: auto;
    vertical-align: middle;
}

.dxeReadOnly_Office2010Black
{
}
.dxeBase_Office2010Black
{
	font: 11px Verdana, Geneva, sans-serif;
}
/* -- ErrorFrame -- */
.dxeErrorCell_Office2010Black
{
	font: 11px Verdana, Geneva, sans-serif;
	color: Red;
    border-color: black;
	padding-left: 4px;
	padding-right: 4px;
}
.dxeErrorFrameWithoutError_Office2010Black
{
	border: 1px solid Red;
}
.dxeErrorFrameWithoutError_Office2010Black .dxeControlsCell_Office2010Black,
.dxeErrorFrameWithoutError_Office2010Black.dxeControlsCell_Office2010Black
{
	padding: 2px;
}

.dxeEditArea_Office2010Black
{
	border: 1px solid #6a6a6a;
}
body input.dxeEditArea_Office2010Black /*Bootstrap correction*/
{
    color: black;
}
input[type="text"].dxeEditArea_Office2010Black, /*Bootstrap correction*/
input[type="password"].dxeEditArea_Office2010Black /*Bootstrap correction*/
{
    margin-top: 0;
    margin-bottom: 1px;
}
.dxFirefox input[type="text"].dxeEditArea_Office2010Black,
.dxFirefox input[type="password"].dxeEditArea_Office2010Black
{
    margin-top: -1px;
    margin-bottom: 0;
}

/* -- Binary Image -- */
.dxeBinaryImageButtonPanel_Office2010Black
{
    height: 36px;
}
.dxeBinaryImageButton_Office2010Black
{
    margin: 0 6px;
}

/* -- Buttons -- */
.dxeButtonEditButton_Office2010Black,
.dxeCalendarButton_Office2010Black,
.dxeSpinIncButton_Office2010Black,
.dxeSpinDecButton_Office2010Black,
.dxeSpinLargeIncButton_Office2010Black,
.dxeSpinLargeDecButton_Office2010Black,
.dxeColorEditButton_Office2010Black
{
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
}
.dxeCalendarButton_Office2010Black,
.dxeButtonEditButton_Office2010Black,
.dxeColorEditButton_Office2010Black
{
	border-style: solid;
	border-color: #6a6a6a;
}
.dxeCalendarButton_Office2010Black,
.dxeColorEditButton_Office2010Black
{
	border-width: 1px;
}
.dxeButtonEditButton_Office2010Black
{
	border-width: 0 0 0 1px;
}
.dxeSpinIncButton_Office2010Black.dxeHasLarge,
.dxeSpinDecButton_Office2010Black.dxeHasLarge,
.dxeSpinLargeIncButton_Office2010Black
{
	border-width: 0;
}
.dxeButtonEditButton_Office2010Black.dxeButtonLeft
{
	border-width: 0 1px 0 0;
}
.dxeSpinIncButton_Office2010Black.dxeHasLarge.dxeButtonLeft,
.dxeSpinDecButton_Office2010Black.dxeHasLarge.dxeButtonLeft,
.dxeSpinLargeDecButton_Office2010Black.dxeButtonLeft
{
	border-width: 0;
}

.dxeButtonEditButton_Office2010Black,
.dxeSpinLargeIncButton_Office2010Black,
.dxeSpinLargeDecButton_Office2010Black
{
	background: #a1a0a0 url('edtDropDownBtnBack.png') repeat-x left top;
}
.dxeSpinIncButton_Office2010Black
{
	background: #ababab url('edtSpinIncBtnBack.png') repeat-x left top;
}
.dxeSpinDecButton_Office2010Black
{
	background: #a3a3a3 url('edtSpinDecBtnBack.png') repeat-x left top;
}

.dxeButtonEditButton_Office2010Black
{
	padding: 3px 2px 3px 3px;
}

.dxeSpinIncButton_Office2010Black
{
	padding: 2px 4px 2px;
}
.dxeSpinDecButton_Office2010Black
{
	padding: 3px 4px 2px;
}
.dxeSpinLargeIncButton_Office2010Black,
.dxeSpinLargeDecButton_Office2010Black
{
	padding: 6px 2px;
}
.dxeCalendarButton_Office2010Black,
.dxeColorEditButton_Office2010Black
{
	background: #a09fa0 url('edtBtnBack.png') repeat-x left top;
	padding: 3px 11px 4px;
	min-width: 37px;
}


.dxeButtonEditButton_Office2010Black.dxeButtonEditClearButton_Office2010Black,
.dxeButtonEditButton_Office2010Black.dxeButtonEditClearButton_Office2010Black:hover
{
    background: none;
    border-width: 0;
    padding-bottom: 1px;
    padding-top: 2px;
}

.dxeButtonEditClearButton_Office2010Black img
{
    vertical-align: baseline;
}

/* -- Pressed -- */
.dxeCalendarButtonPressed_Office2010Black,
.dxeColorEditButton_Office2010Black:active
{
	border-color: #c2762b;
}
.dxeCalendarButtonPressed_Office2010Black,
.dxeColorEditButton_Office2010Black:active
{
	background: #fee287 url('edtBtnPBack.png') repeat-x left top;
}
.dxeButtonEditButtonPressed_Office2010Black,
.dxeSpinIncButtonPressed_Office2010Black,
.dxeSpinDecButtonPressed_Office2010Black,
.dxeSpinLargeIncButtonPressed_Office2010Black, 
.dxeSpinLargeDecButtonPressed_Office2010Black
{
	background: #f3d984 url('edtDropDownBtnPBack.png') repeat-x left top;
}
/* -- Hover -- */
.dxeCalendarButtonHover_Office2010Black,
.dxeColorEditButton_Office2010Black:hover
{
	border-color: #eecc53;
}
.dxeCalendarButtonHover_Office2010Black,
.dxeColorEditButton_Office2010Black:hover
{
	background: #fcf8e5 url('edtBtnHBack.png') repeat-x left top;
}
.dxeButtonEditButtonHover_Office2010Black,
.dxeSpinLargeIncButtonHover_Office2010Black,
.dxeSpinLargeDecButtonHover_Office2010Black
{
	background: #f8e9ac url('edtDropDownBtnHBack.png') repeat-x left top;
}
.dxeSpinIncButtonHover_Office2010Black,
.dxeSpinDecButtonHover_Office2010Black
{
	background: #f8e18a url('edtSpinIncDecBtnHBack.png') repeat-x left top;
}

.dxeButtonEdit_Office2010Black
{
	background-color: white;
	border: 1px solid #6a6a6a;
	font: 11px Verdana, Geneva, sans-serif;

    border-collapse: separate;
    border-spacing: 0;
}
.dxeButtonEdit_Office2010Black .dxeEditArea_Office2010Black
{
	background-color: white;
}
.dxeButtonEdit_Office2010Black .dxeIIC,
.dxeButtonEdit_Office2010Black .dxeIICR
{
	padding: 1px;
}
.dxeButtonEdit_Office2010Black .dxeIIC img
{
	padding-left: 3px;
}
.dxeButtonEdit_Office2010Black .dxeIICR img
{
	padding-right: 3px;
}

.dxFirefox .dxeButtonEdit_Office2010Black td.dxic,
.dxeButtonEdit_Office2010Black td.dxic
{
    padding: 3px 3px 2px 3px;
}

.dxeTextBox_Office2010Black
{
	background-color: white;
	border: 1px solid #6a6a6a;
	font: 11px Verdana, Geneva, sans-serif;
}
.dxeTextBox_Office2010Black .dxeEditArea_Office2010Black
{
	background-color: white;
}
.dxeRadioButtonList_Office2010Black,
.dxeCheckBoxList_Office2010Black
{
	border: 1px solid #6a6a6a;
}

.dxeCheckBoxList_Office2010Black .dxe > table,
.dxeRadioButtonList_Office2010Black .dxe > table 
{
    width: 100%;
}

.dxeRadioButtonList_Office2010Black,
.dxeCheckBoxList_Office2010Black
{
	font: 11px Verdana, Geneva, sans-serif;
}
.dxeRadioButtonList_Office2010Black td.dxe,
.dxeCheckBoxList_Office2010Black td.dxe
{
	padding: 7px 5px 6px 11px;
}
.dxeRadioButtonList_Office2010Black[dir='rtl'] td.dxe,
.dxeCheckBoxList_Office2010Black[dir='rtl'] td.dxe
{
	padding: 7px 11px 6px 5px;
}

/* Disabled */
.dxeDisabled_Office2010Black .dxeButtonEditButton_Office2010Black,
.dxeDisabled_Office2010Black .dxeSpinLargeIncButton_Office2010Black,
.dxeDisabled_Office2010Black .dxeSpinLargeDecButton_Office2010Black
{
	background: #dedfdf url('edtDropDownBtnDisabledBack.png') repeat-x left top;
}
.dxeDisabled_Office2010Black .dxeSpinIncButton_Office2010Black
{
	background: #e2e2e2 url('edtSpinIncBtnDisabledBack.png') repeat-x left top;
}
.dxeDisabled_Office2010Black .dxeSpinDecButton_Office2010Black
{
	background: #dedfdf url('edtSpinDecBtnDisabledBack.png') repeat-x left top;
}

/* -- Memo -- */
.dxeMemo_Office2010Black
{
	background-color: white;
	border: 1px solid #6a6a6a;
	font: 11px Verdana, Geneva, sans-serif;
}
.dxeMemoEditArea_Office2010Black
{
	background-color: white;
    outline: none;
}

/* -- Hyperlink -- */
.dxeHyperlink_Office2010Black
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #6289b8;
	text-decoration: none;
}
a.dxeHyperlink_Office2010Black:hover
{
	text-decoration: underline;
}
a.dxeHyperlink_Office2010Black:visited
{
	color: #8467b2;
}

/* -- ListBox -- */
.dxeListBox_Office2010Black
{
	color: Black;
	font: 11px Verdana, Geneva, sans-serif;
	background-color: white;
	border: 1px solid #6f6f6f;
	width: 70px;
	height: 109px;
}
.dxeListBox_Office2010Black div.dxlbd
{
	padding-top: 1px;
	height: 108px;
}
.dxeListBoxItemRow_Office2010Black
{
	cursor: default;
}
.dxeListBoxItem_Office2010Black
{
	padding: 2px 5px;
	white-space: nowrap;
	text-align: left;
	border-top: 0 solid White;
	border-right: 1px solid White;
	border-bottom: 1px solid White;
	border-left: 1px solid White;
}
.dxeListBoxItem_Office2010Black em
{
	background: #faedb6 none repeat 0 0;
	color: Black;
	font-weight: bold;
	font-style: normal;
}

.dxeListBox_Office2010Black td.dxeI,
.dxeListBox_Office2010Black td.dxeIM,
.dxeListBox_Office2010Black .dxeHIC, 
.dxeListBox_Office2010Black td.dxeFTM,
.dxeListBox_Office2010Black td.dxeTM,
.dxeListBox_Office2010Black td.dxeC,
.dxeListBox_Office2010Black td.dxeCM,
.dxeListBox_Office2010Black td.dxeHCC,
.dxeListBox_Office2010Black td.dxeMI,
.dxeListBox_Office2010Black td.dxeMIM
{
	border-right-width: 0!important;
}

.dxeListBox_Office2010Black td.dxeIR,
.dxeListBox_Office2010Black td.dxeIMR,
.dxeListBox_Office2010Black .dxeHICR, 
.dxeListBox_Office2010Black td.dxeFTMR,
.dxeListBox_Office2010Black td.dxeTMR,
.dxeListBox_Office2010Black td.dxeCR,
.dxeListBox_Office2010Black td.dxeCMR,
.dxeListBox_Office2010Black td.dxeHCCR,
.dxeListBox_Office2010Black td.dxeMIR,
.dxeListBox_Office2010Black td.dxeMIMR
{
	border-left-width: 0!important;
}

.dxeListBox_Office2010Black td.dxeCM,
.dxeListBox_Office2010Black td.dxeHCC,
.dxeListBox_Office2010Black td.dxeCMR,
.dxeListBox_Office2010Black td.dxeHCCR
{
	width: 33px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.dxeListBox_Office2010Black td.dxeIM,
.dxeListBox_Office2010Black td.dxeIMR
{
	width: 0;
}
.dxeListBox_Office2010Black td.dxeC
{
	padding-right: 3px!important;
}
.dxeListBox_Office2010Black td.dxeCR
{
	padding-left: 3px!important;
}
.dxeListBox_Office2010Black td.dxeC > span,
.dxeListBox_Office2010Black td.dxeCM > span
{
    margin: 2px 2px 2px 3px;
}
.dxeListBox_Office2010Black td.dxeCR > span,
.dxeListBox_Office2010Black td.dxeCMR > span
{
    margin: 2px 3px 2px 2px;
}
.dxeListBox_Office2010Black td.dxeT
{
	width: 100%;
	padding-left: 0!important;
}

.dxeListBox_Office2010Black td.dxeTR
{
	width: 100%;
	padding-right: 0!important;
}

.dxeListBox_Office2010Black td.dxeT,
.dxeListBox_Office2010Black td.dxeMI
{
	border-left-width: 0!important;
}

.dxeListBox_Office2010Black td.dxeTR,
.dxeListBox_Office2010Black td.dxeMIR
{
	border-right-width: 0!important;
}

.dxeListBox_Office2010Black td.dxeFTM,
.dxeListBox_Office2010Black td.dxeTM,
.dxeListBox_Office2010Black td.dxeLTM,
.dxeListBox_Office2010Black .dxeHFC,
.dxeListBox_Office2010Black .dxeHC,
.dxeListBox_Office2010Black .dxeHLC,
.dxeListBox_Office2010Black td.dxeFTMR,
.dxeListBox_Office2010Black td.dxeTMR,
.dxeListBox_Office2010Black td.dxeLTMR,
.dxeListBox_Office2010Black .dxeHFCR,
.dxeListBox_Office2010Black .dxeHCR,
.dxeListBox_Office2010Black .dxeHLCR
{
	overflow: hidden;
}

.dxeListBox_Office2010Black td.dxeFTM,
.dxeListBox_Office2010Black td.dxeTM,
.dxeListBox_Office2010Black .dxeHFC,
.dxeListBox_Office2010Black .dxeHC
{
	padding-right: 6px!important;
}

.dxeListBox_Office2010Black td.dxeFTMR,
.dxeListBox_Office2010Black td.dxeTMR,
.dxeListBox_Office2010Black .dxeHFCR,
.dxeListBox_Office2010Black .dxeHCR
{
	padding-left: 6px!important;
}

.dxeListBox_Office2010Black td.dxeLTM,
.dxeListBox_Office2010Black td.dxeTM,
.dxeListBox_Office2010Black .dxeHC,
.dxeListBox_Office2010Black .dxeHLC
{
	padding-left: 6px!important;
}

.dxeListBox_Office2010Black td.dxeLTMR,
.dxeListBox_Office2010Black td.dxeTMR,
.dxeListBox_Office2010Black .dxeHCR,
.dxeListBox_Office2010Black .dxeHLCR
{
	padding-right: 6px!important;
}

.dxeListBox_Office2010Black .dxeFTM,
.dxeListBox_Office2010Black .dxeTM,
.dxeListBox_Office2010Black .dxeHFC,
.dxeListBox_Office2010Black .dxeHC,
.dxeListBox_Office2010Black .dxeLTM,
.dxeListBox_Office2010Black .dxeTM,
.dxeListBox_Office2010Black .dxeHC,
.dxeListBox_Office2010Black .dxeHLC,
.dxeListBox_Office2010Black td.dxeIM,
.dxeListBox_Office2010Black td.dxeFTM,
.dxeListBox_Office2010Black td.dxeTM,
.dxeListBox_Office2010Black td.dxeCM,
.dxeListBox_Office2010Black td.dxeMIM,
.dxeListBox_Office2010Black .dxeFTMR,
.dxeListBox_Office2010Black .dxeTMR,
.dxeListBox_Office2010Black .dxeHFCR,
.dxeListBox_Office2010Black .dxeHCR,
.dxeListBox_Office2010Black .dxeLTMR,
.dxeListBox_Office2010Black .dxeTMR,
.dxeListBox_Office2010Black .dxeHCR,
.dxeListBox_Office2010Black .dxeHLCR,
.dxeListBox_Office2010Black td.dxeIMR,
.dxeListBox_Office2010Black td.dxeFTMR,
.dxeListBox_Office2010Black td.dxeTMR,
.dxeListBox_Office2010Black td.dxeCMR,
.dxeListBox_Office2010Black td.dxeMIMR
{
	border-top-width: 0;
	border-bottom-width: 0;
}

/*Grid lines*/

.dxeListBox_Office2010Black td.dxeLTM,
.dxeListBox_Office2010Black td.dxeTM,
.dxeListBox_Office2010Black td.dxeMIM
{
	border-left: 1px solid #d2d2d2!important;
}

.dxeListBox_Office2010Black td.dxeLTMR,
.dxeListBox_Office2010Black td.dxeTMR,
.dxeListBox_Office2010Black td.dxeMIMR
{
	border-right: 1px solid #d2d2d2!important;
}

.dxeListBox_Office2010Black td.dxeIM,
.dxeListBox_Office2010Black td.dxeFTM,
.dxeListBox_Office2010Black td.dxeTM,
.dxeListBox_Office2010Black td.dxeLTM,
.dxeListBox_Office2010Black td.dxeCM,
.dxeListBox_Office2010Black td.dxeMIM,
.dxeListBox_Office2010Black td.dxeIMR,
.dxeListBox_Office2010Black td.dxeFTMR,
.dxeListBox_Office2010Black td.dxeTMR,
.dxeListBox_Office2010Black td.dxeLTMR,
.dxeListBox_Office2010Black td.dxeCMR,
.dxeListBox_Office2010Black td.dxeMIMR
{
	border-bottom: 1px solid #d2d2d2;
}

.dxeListBoxItemSelected_Office2010Black     
{
	color: White;
	background-color: #808080;
}
.dxeListBoxItemHover_Office2010Black        
{
	color: black;
	background-color: #faedb6;
}
.dxeListBoxItemHover_Office2010Black em,
.dxeListBoxItemSelected_Office2010Black em
{
	background-image: none;
}

/*Header*/

.dxeListBox_Office2010Black .dxeHD
{
	background: #9d9c9c url('lbHeaderBack.png') repeat-x left top;
	border-bottom: 1px solid #6f6f6f;
}
.dxeHD .dxeListBoxItem_Office2010Black
{
	color: White;
	border-top-width: 0;
	border-right-width: 1px;
	border-bottom-width: 0;
	border-left-width: 1px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.dxeListBox_Office2010Black .dxeHC,
.dxeListBox_Office2010Black .dxeHLC,
.dxeListBox_Office2010Black td.dxeHMIC
{
	border-left: 1px solid #6f6f6f;
}

.dxeListBox_Office2010Black .dxeHCR,
.dxeListBox_Office2010Black .dxeHLCR,
.dxeListBox_Office2010Black td.dxeHMICR
{
	border-right: 1px solid #6f6f6f;
	text-align: right;
}

.dxeListBox_Office2010Black .dxeHIC,
.dxeListBox_Office2010Black .dxeHFC,
.dxeListBox_Office2010Black .dxeHCC
{
	border-left: 1px solid #a0a0a0;
}

.dxeListBox_Office2010Black .dxeHICR,
.dxeListBox_Office2010Black .dxeHFCR,
.dxeListBox_Office2010Black .dxeHCCR
{
	border-right: 1px solid #a0a0a0;
	text-align: right;
}

.dxeListBox_Office2010Black .dxeHFC,
.dxeListBox_Office2010Black .dxeHC,
.dxeListBox_Office2010Black .dxeHMIC
{
	border-right-width: 0;
}

.dxeListBox_Office2010Black .dxeHFCR,
.dxeListBox_Office2010Black .dxeHCR,
.dxeListBox_Office2010Black .dxeHMICR
{
	border-left-width: 0;
	text-align: right;
}

.dxeListBox_Office2010Black .dxeHLC
{
	border-right: 1px solid #6a6a6a;
}

.dxeListBox_Office2010Black .dxeHLCR
{
	border-left: 1px solid #6a6a6a;
	text-align: right;
}

/* -- Calendar -- */
.dxeCalendar_Office2010Black
{
    font: 11px Verdana, Geneva, sans-serif;
	font-weight: normal;
	color: #303030;
	border: 1px solid #484848;
	background-color: #f3f3f3;
	cursor: default;
}
.dxeCalendar_Office2010Black td.dxMonthGrid
{
	padding: 1px 8px;
}
.dxeCalendar_Office2010Black td.dxMonthGridWithWeekNumbers
{
	padding: 1px 20px 6px 8px;
}
.dxeCalendar_Office2010Black td.dxMonthGridWithWeekNumbersRtl
{
	padding: 1px 8px 1px 20px;
}
.dxeCalendarDayHeader_Office2010Black
{
	padding: 2px 4px 6px;
	border-bottom: 1px solid #cfcfcf;
}
.dxeCalendarWeekNumber_Office2010Black
{
	font-size: 0.82em;
	text-align: right;
	padding: 3px 8px 2px 4px;
	color: #919191;
}
.dxeCalendarDay_Office2010Black
{
	padding: 2px 5px 3px;
	text-align: center;
}
.dxeCalendarWeekend_Office2010Black        
{
	color: #C00000;
}
.dxeCalendarOtherMonth_Office2010Black     
{
	color: #afafaf;
}
.dxeCalendarOutOfRange_Office2010Black     
{
	color: #afafaf;
}
.dxeCalendarDayDisabled_Office2010Black {
	background-color: #efefef;
	color: #dfdfdf!important;
}
.dxeCalendarToday_Office2010Black         
{
	padding: 1px 4px 2px;
	border: 1px solid #c95c05;
}
.dxeCalendarSelected_Office2010Black       
{
	color: #303030;
	background-color: #ec8627;
	border: 1px solid #c97221;
	padding: 1px 4px 2px;
}
.dxeDayInRange.dxeCalendarSelected_Office2010Black
{
    border-color: transparent;
}
.dxeCalendarHeader_Office2010Black
{
	border-style: none;
	padding: 4px;
}
.dxeCalendarHeader_Office2010Black td.dxe
{
	text-align: center;
	cursor: pointer;
}
.dxeCalendarHeader_Office2010Black .dxeCHS
{
    min-width: 1px;
}
.dxeCalendarFooter_Office2010Black
{
	background-color: #f3f3f3;
	padding: 10px 0;
	border-top: 1px solid #cfcfcf;
}
.dxeCalendarFooter_Office2010Black .dxeCFS
{
    min-width: 12px;
}
.dxeCalendarFastNav_Office2010Black
{
	color: #303030;
	background: #f3f3f3 none;
	border-top: 1px solid #484848;
	border-right: 1px solid #484848;
	border-bottom: 0 solid #484848;
	border-left: 1px solid #484848;
	padding: 5px 8px;
	cursor: default;
}
.dxeCalendarFastNavMonthArea_Office2010Black
{
	padding: 0px 9px;
}
.dxeCalendarFastNavYearArea_Office2010Black
{
    padding-top: 8px;
}
.dxeCalendarFastNavFooter_Office2010Black
{
	color: #303030;
	background: #f3f3f3 none;
	padding: 8px 0 17px;
	border-top: 0 solid #484848;
	border-right: 1px solid #484848;
	border-bottom: 1px solid #484848;
	border-left: 1px solid #484848;
}
.dxeCalendarFastNavFooter_Office2010Black .dxeCFNFS
{
    min-width: 11px;
}
.dxeCalendarFastNavMonth_Office2010Black,
.dxeCalendarFastNavYear_Office2010Black
{
	color: #303030;
	padding: 3px 5px;
	text-align: center;
	cursor: pointer;
}
.dxeCalendarFastNavYear_Office2010Black
{
	padding: 3px 5px;
}
.dxeCalendarFastNavMonth_Office2010Black
{
	padding: 6px;
}

.dxeCalendarFastNavMonthHover_Office2010Black,
.dxeCalendarFastNavYearHover_Office2010Black
{
	color: #303030;
	background: #f3f3f3 none;
	padding: 2px 4px;
	border: 1px solid #6a6a6a;
}
.dxeCalendarFastNavMonthHover_Office2010Black
{
	padding: 5px;
}

.dxeCalendarFastNavMonthSelected_Office2010Black,
.dxeCalendarFastNavYearSelected_Office2010Black
{
	color: #303030;
	background-color: #ec8627;
	border: 1px solid #c97221;
}
.dxeCalendarFastNavYearSelected_Office2010Black
{
	padding: 2px 4px;
}
.dxeCalendarFastNavMonthSelected_Office2010Black
{
	padding: 5px;
}
.dxeDateEditTimeEditCell_Office2010Black
{
    padding: 6px 25px 15px;
    width: 100px;
}
.dxeDateEditClockCell_Office2010Black
{
    padding: 13px 13px 0;
}
.dxeCalendarFooter_Office2010Black.dxeDETSF
{
    padding-left: 10px;
    padding-right: 10px;
}
.dxeCalendarHeader_Office2010Black.dxeDETSH
{
    display: none;
}
/* Disabled */
.dxeDisabled_Office2010Black,
.dxeDisabled_Office2010Black td.dxe
{
	color: #c7cacf;
	cursor: default;
}
.dxeEditArea_Office2010Black.dxeDisabled_Office2010Black /*Bootstrap correction*/
{
    color: #c7cacf;
}
a.dxeDisabled_Office2010Black:hover
{
	color: #c7cacf;
}
.dxeButtonDisabled_Office2010Black
{
	color: #c7cacf;
	cursor: default;
}
/* -- Button -- */
.dxbButton_Office2010Black
{
	color: #3c3c3c;
	font: 11px Verdana, Geneva, sans-serif;
	border: 1px solid #6a6a6a;
	background: #a09fa0 url('edtBtnBack.png') repeat-x left top;
	padding: 1px;
}
.dxbButtonHover_Office2010Black
{
	color: #3c3c3c;
	background: #fcf8e5 url('edtBtnHBack.png') repeat-x left top;
	border: 1px solid #eac656;
}
.dxbButtonChecked_Office2010Black
{
	color: #3c3c3c;
	background: #fee287 url('edtBtnPBack.png') repeat-x left top;
	border: 1px solid #c29641;
}
.dxbButtonPressed_Office2010Black
{
	color: #3c3c3c;
	background: #fee287 url('edtBtnPBack.png') repeat-x left top;
	border: 1px solid #c29641;
}
.dxbButton_Office2010Black div.dxb
{
	padding: 2px 14px;
	border: 1px dotted transparent;
}
.dxbButton_Office2010Black div.dxbf
{
	border: 1px dotted black;
}
/* Button Link */
a.dxbButton_Office2010Black
{
	color: #6289b8;
	text-decoration: none;
}
a.dxbButton_Office2010Black:hover
{
	text-decoration: underline;
}
a.dxbButton_Office2010Black:visited
{
	color: #8467b2;
}
/* Disabled */
.dxbDisabled_Office2010Black
{
	border-color: #737373;
	background: #898989 none;
}
.dxbDisabled_Office2010Black,
a.dxbButton_Office2010Black.dxbDisabled_Office2010Black
{
	color: #5e5e5e;
	cursor: default;
    text-decoration: none;
}

/* -- FilterControl -- */
.dxfcControl_Office2010Black
{
	font: 11px Verdana, Geneva, sans-serif;
	color: Black;
	padding: 0 1em;
}
.dxfcTable_Office2010Black
{
	border-collapse: separate!important;
}
.dxfcTable_Office2010Black td.dxfc
{
	padding: 0px 0px 0px 3px;
}
a.dxfcPropertyName_Office2010Black
{
	white-space: nowrap!important;
	color: Blue!important;
}
a.dxfcGroupType_Office2010Black
{
	white-space: nowrap!important;
	padding: 0px 3px!important;
	color: Red!important;
}
a.dxfcOperation_Office2010Black
{
	white-space: nowrap!important;
	color: Green!important;
}
a.dxfcValue_Office2010Black
{
	white-space: nowrap!important;
	color: Gray!important;
}

.dxeMaskHint_Office2010Black
{
	font: 11px Verdana, Geneva, sans-serif;
	color: Black;
	background: #ffffe1 none;
	border: 1px solid Black;
	padding: 2px 5px 3px;
}

.dxfcControl_Office2010Black ul.dxfc-tree,
.dxfcControl_Office2010Black .dxfc-tree ul
{
    list-style-type: none;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
}

.dxfcControl_Office2010Black .dxfc-tree
{
    width: 100%;
}

.dxfcControl_Office2010Black .dxfc-subnd
{
    margin-left: 22px;
}

.dxfcControl_Office2010Black .dxfc > li > table
{
    border-spacing: 0;
    border-collapse: collapse;
}

.dxfcControl_Office2010Black .dxfc-elb
{
    float: left;
    height: 21px;
    vertical-align: top;
    width: 26px;
}

.dxfcControl_Office2010Black .dxfc-clr
{
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
    width: 0;
}

.dxfcControl_Office2010Black .dxfc-nd
{
    cursor: pointer;
    display: block;
    float: left;
    height: 24px;
    outline: 0 none;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}

.dxfcControl_Office2010Black .dxfc-nd > tbody > tr > td > a,
.dxfcControl_Office2010Black .dxfc-nd > tbody > tr > td > span,
.dxfcControl_Office2010Black .dxfc-nd > tbody > tr > td > img,
.dxfcControl_Office2010Black .dxfc-editor
{
    vertical-align: middle;
}

.dxfcControl_Office2010Black .dxfc-nd > tbody > tr > td > a,
.dxfcControl_Office2010Black .dxfc-nd > tbody > tr > td > td,
.dxfcControl_Office2010Black .dxfc-nd > tbody > tr > td > span
{
    padding: 0 0.1ex;
}

.dxfcControl_Office2010Black .dxfc-nd > tbody > tr > td > a
{
    line-height: 24px;
}

.dxfcControl_Office2010Black .dxfc-ln
{
    vertical-align: top;
}

.dxfcControl_Office2010Black .dxfc-memo textarea 
{
	height: 80px;
	overflow: auto;
}

.dxfcControl_Office2010Black .dxfc-validationSummary
{
	padding: 2px 5px 4px 6px !important;
	list-style-type: none;
	margin: 0;
}

.dxfcControl_Office2010Black .dxfc-validationSummary li
{
	padding: 2px 0;
}

.dxfcControl_Office2010Black .dxfc-validationSummary li a
{
	color: red;
	text-decoration: none;
	border-bottom: 1px dashed #f70;
}

.dxfcControl_Office2010Black .dxfc-validationSummary li a:hover
{
	color: #f70;
}
/* -- ProgressBar -- */
.dxeProgressBar_Office2010Black
{
	background: #f9f9fa url('edtProgressBack.png') repeat-x left top;
	border: 1px solid #6a6a6a;
	font: 11px Verdana, Geneva, sans-serif;
	color: Black;
    height: 21px;
}
.dxeProgressBar_Office2010Black .dxePBMainCell,
.dxeProgressBar_Office2010Black td.dxe
{
	padding: 0;
}
.dxeProgressBarIndicator_Office2010Black
{
	background: #fef687 url('edtProgressIndicatorBack.png') repeat-x left top;
}

/* -- DropDownWindow -- */
.dxpcDropDown_Office2010Black,
.dxeDropDownWindow_Office2010Black
{
    font: 11px Verdana, Geneva, sans-serif;
}
.dxeDropDownWindow_Office2010Black
{
	background-color: white;
	border: 1px solid #6a6a6a;
}

/*----------------- ColorTable -----------------*/
.dxeColorIndicator_Office2010Black
{
	border: 1px solid #6a6a6a;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.dxeItemPicker_Office2010Black
{
	background-color: White;
	border: 1px solid #8e9296;
}
.dxeColorTable_Office2010Black td.dx,
.dxeItemPicker_Office2010Black td.dx
{
	padding: 4px;
}
.dxeColorTableCell_Office2010Black,
.dxeItemPickerCell_Office2010Black,
.dxeACICell_Office2010Black
{
	padding: 3px;
	cursor: pointer;
}
.dxeColorTableCellDiv_Office2010Black,
.dxeACICellDiv_Office2010Black
{
	border: 1px solid #808080;
	width: 12px;
	height: 12px;
	font-size: 0;
}
.dxeColorTableCellSelected_Office2010Black,
.dxeACICellSelected_Office2010Black
{
	padding: 2px!important;
	background: #fddc7f url('../Web/mItemSBack.png') repeat-x left top;
	border: 1px solid #c2762b;
}
.dxeColorTableCellHover_Office2010Black,
.dxeItemPickerCellHover_Office2010Black,
.dxeAutomaticColorItemCellHover_Office2010Black,
.dxeAutomaticColorItem_Office2010Black:hover > div
{
	padding: 2px!important;
	background: #fcf9df url('../Web/mSubItemHBack.png') repeat-x left top;
	border: 1px solid #f2ca58;
}

/* -- Invalid Style -- */
.dxeInvalid_Office2010Black
{
}
.dxeInvalid_Office2010Black .dxeEditArea_Office2010Black,
.dxeInvalid_Office2010Black .dxeMemoEditArea_Office2010Black
{
}

/* -- Focused Style -- */
.dxeFocused_Office2010Black
{
	border: 1px solid #3a3a3a;
}

.dxeFocused_Office2010Black.dxeTrackBar_Office2010Black
{	
	border: 0px;
}

/* -- Null Text Style -- */
.dxeNullText_Office2010Black .dxeEditArea_Office2010Black,
.dxeNullText_Office2010Black .dxeMemoEditArea_Office2010Black
{
	color: #c7cacf;
}

/* -- Captcha -- */
.dxcaControl_Office2010Black 
{
    font: 11px Verdana, Geneva, sans-serif;
}

.dxcaRefreshButton_Office2010Black
{
	text-decoration: none;
	color: #6289b8;
}

.dxcaDisabledRefreshButton_Office2010Black
{
	color: #c7cacf;
}

.dxcaRefreshButtonCell_Office2010Black
{
	padding-left: 4px;
}

.dxcaRefreshButtonText_Office2010Black
{
}

.dxcaDisabledRefreshButtonText_Office2010Black
{
}

.dxcaTextBoxCell_Office2010Black,
.dxcaTextBoxCellNoIndent_Office2010Black
{
}

.dxcaTextBoxCell_Office2010Black .dxeErrorCell_Office2010Black
{
}

.dxcaTextBoxCellNoIndent_Office2010Black .dxeErrorCell_Office2010Black
{
	padding-left: 0px;
	padding-top: 4px;
	color: Red;
}

.dxcaTextBoxLabel_Office2010Black
{
	padding-bottom: 4px;
	display: block;
}

.dxcaLoadingPanel_Office2010Black
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #3c3c3c;
	background: White none;
	border: 1px solid #757575;
}

.dxcaLoadingPanel_Office2010Black td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}
.dxcaLoadingPanel_Office2010Black .dxlp-loadingImage
{
	margin:0px;	
}

.dxpcLite_Office2010Black .dxHFBPS
{
    width: 6px;
}

.dxeTextBox_Office2010Black,
.dxeButtonEdit_Office2010Black,
.dxeIRadioButton_Office2010Black,
.dxeRadioButtonList_Office2010Black,
.dxeCheckBoxList_Office2010Black
{
    cursor: default;
}

/* Removes flicking in iOS Safari*/
.dxeTrackBar_Office2010Black, 
.dxeIRadioButton_Office2010Black, 
.dxeButtonEdit_Office2010Black, 
.dxeTextBox_Office2010Black, 
.dxeRadioButtonList_Office2010Black, 
.dxeCheckBoxList_Office2010Black, 
.dxeMemo_Office2010Black, 
.dxeListBox_Office2010Black, 
.dxeCalendar_Office2010Black, 
.dxeColorTable_Office2010Black
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*B232817*/
.dxIE.dxBrowserVersion-9 .dxeEditArea_Office2010Black,
.dxIE.dxBrowserVersion-10 .dxeEditArea_Office2010Black
{
	padding-bottom: 1px;
    margin-bottom: 0px;
}
.dxMacOSMobilePlatform .dxeEditArea_Office2010Black
{
    padding-bottom: 2px!important;
    margin-bottom: -1px!important;
}

/* ASPxCololrEdit */
.dxcpParametersCellSys .dxcpWebColorInput_Office2010Black
{
	float: right;
	margin-top: 40px;
}
.dxcpColorParameterMainDiv_Office2010Black
{
	padding: 0px 0 4px 9px;
	width: 90px;
	text-align: right;
}
.dxeCustomColorButton_Office2010Black
{
    padding-top: 3px;
    padding-bottom: 3px;
	margin: 3px 7px;
	cursor: pointer;
}
.dxeAutomaticColorItem_Office2010Black
{
	padding: 4px 4px 0px 4px;
}
.dxeAutomaticColorItem_Office2010Black > span
{
    margin: 0px 5px;
    line-height: 20px;
}
.dxcpCurrentColor_Office2010Black,
.dxcpSavedColor_Office2010Black
{
	height: 35px;
}
.dxcpCurrentAndSaved_Office2010Black
{
	width: 65px;
	margin: 34px 0px 0px auto;
	cursor: pointer;
}
.dxeColorTablesMainDiv_Office2010Black,
.dxeColorSelectorMainDiv_Office2010Black
{
	background-color: #FFFFFF;
}
.dxeColorSelectorMainDiv_Office2010Black
{
	padding: 7px;
}
.dxcpColorArea_Office2010Black,
.dxcpHueAreaImage_Office2010Black,
.dxcpCurrentAndSaved_Office2010Black,
.dxeColorTablesMainDiv_Office2010Black,
.dxeColorSelectorMainDiv_Office2010Black,
.dxcpParametersCell_Office2010Black input 
{
	border: 1px solid #6a6a6a;
}
.dxeButtonsPanelDiv_Office2010Black
{
	margin-top: 15px;
	text-align: right;
}
.dxeButtonsPanelDiv_Office2010Black input
{
	min-width: 60px;
	margin-left: 10px;
}

/* -- ASPxTokenBox -- */
input.dxeTokenBoxInput_Office2010Black[type="text"] {
	display: inline-block;
	float: left;
	outline: none;
	width: 30px;
	padding: 2px 0px 2px 0px;
	margin: 0px 1px 1px 2px;
}
.dxeToken_Office2010Black {
    display: inline-block;
	float: left;
	min-width: 30px;
	margin: 0px 1px 1px 0px;
}
.dxeTokenText_Office2010Black, .dxeTokenRemoveButton_Office2010Black {
	display: block;
	float: left;
}
.dxeTokenText_Office2010Black {
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0px 2px 0px 4px;
	padding: 2px 0px 2px 0px;
}
.dxeTokenRemoveButton_Office2010Black {
	cursor: pointer;
	margin-top: 1px;
}
.dxeToken_Office2010Black {
	background: #e9e9e9 url('edtTokenBoxTokenBackground.png') repeat-x top;
}
.dxFirefox .dxeButtonEdit_Office2010Black td.dxictb,
.dxeButtonEdit_Office2010Black td.dxictb {
    padding: 0;
}
.dxFirefox input.dxeTokenBoxInput_Office2010Black[type="text"]{
	padding: 1px 0px 1px 0px;
	margin: 0px 1px 1px 1px;
}
.dxFirefox .dxeTokenText_Office2010Black {
	padding: 1px 0px 1px 0px;
}

/* ASPxPictureEdit */
.dxpePreviewContainer_Office2010Black
{
    position: relative;
}
.dxpeCommandPanel_Office2010Black
{
    background-color: #333333;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    height: 32px;
    position: absolute;
}
.dxpeBottomCommandPanel_Office2010Black
{
    width: 100%;
    bottom: 0;
}

.dxpeTopCommandPanel_Office2010Black
{
    width: 100%;      
    top: 0;    
}
.dxpeCommandPanelDeleteButton_Office2010Black, 
.dxpeCommandPanelOpenDialogButton_Office2010Black
{    
    cursor: pointer;
    display: inline-block;
}
.dxpeCommandPanelButtonsWrapper_Office2010Black
{
    position: absolute;
}
.dxpeCommandPanelButtonsWrapperLeft_Office2010Black
{
    left: 0;
}
.dxpeCommandPanelButtonsWrapperCenter_Office2010Black
{
    left: 50%;
    margin-left: -32px;
}
.dxpeCommandPanelButtonsWrapperRight_Office2010Black
{
    right: 0;
}
.dxpeCommandPanelDeleteButtonHover_Office2010Black,
.dxpeCommandPanelDeleteButtonPressed_Office2010Black,
.dxpeCommandPanelOpenDialogButtonHover_Office2010Black,
.dxpeCommandPanelOpenDialogButtonPressed_Office2010Black
{
}
.dxpeCommandPanelDeleteButtonDisabled_Office2010Black,
.dxpeCommandPanelOpenDialogButtonDisabled_Office2010Black
{
}
.dxpeDropZone_Office2010Black
{
    background-color: gray;
}
.dxpePlaceHolder_Office2010Black
{
    background-color: lightgray;
    z-index: -1;
}
.dxpeTextPanelContainer_Office2010Black
{
    height: 100%;
    font-size: 200%;
    text-align: center;
    width: 100%;
}
.dxpeTextPanel_Office2010Black
{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Editor caption */
.dxeCaptionCell_Office2010Black
{
    font: 11px Verdana, Geneva, sans-serif;
	color: #3c3c3c;
    white-space: nowrap;
    line-height: 16px;
    height: 100%;
}
.dxeRoot_Office2010Black
{
}
.dxeCaption_Office2010Black
{
}
.dxeCaptionCell_Office2010Black.dxeCaptionVATSys.dxeTextEditCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_Office2010Black.dxeCaptionVATSys.dxeCheckBoxCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_Office2010Black.dxeCaptionVATSys.dxeRadioButtonCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_Office2010Black.dxeCaptionVATSys.dxeCheckBoxListCTypeSys
{
    padding-top: 11px;
}
.dxeCaptionCell_Office2010Black.dxeCaptionVATSys.dxeRadioButtonListCTypeSys
{
    padding-top: 11px;
}
.dxeCaptionCell_Office2010Black.dxeCaptionVATSys.dxeListBoxCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_Office2010Black.dxeCaptionVATSys.dxeTrackBarCTypeSys
{
    padding-top: 2px;
}
.dxeCaptionCell_Office2010Black.dxeCaptionVATSys.dxeProgressBarCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_Office2010Black.dxeCaptionVATSys.dxeMemoCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_Office2010Black.dxeCaptionVATSys.dxeCustomCTypeSys
{
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Firefox */
.dxFirefox .dxeTextEditCTypeSys.dxeCaptionVATSys.dxeCaptionCell_Office2010Black,
.dxFirefox .dxeMemoCTypeSys.dxeCaptionVATSys.dxeCaptionCell_Office2010Black,
.dxFirefox .dxeProgressBarCTypeSys.dxeCaptionVATSys.dxeCaptionCell_Office2010Black
{
    padding-top: 2px;
}

.dxeRequiredMark_Office2010Black {
    color: green;
    font-style: normal;
}

.dxeOptionalMark_Office2010Black {
    color: gray;
    font-style: normal;
}

/* Out of range warning*/
.dxeOutOfRWarn_Office2010Black {
    font: 11px Verdana, Geneva, sans-serif;
    padding: 3px 8px 4px 8px;
    display: none;
    position: absolute;
    background-color: white;
    color: red;
    border-radius: 3px;
    z-index: 41998;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #A8A8A8;
}
.dxeOutOfRWarnRight_Office2010Black {
    margin-left: 10px;
}
.dxeOutOfRWarnBottom_Office2010Black {
    margin-top: 10px;
}
