.dxgvControl_Office2010Blue,
.dxgvDisabled_Office2010Blue
{
	border: 1px solid #8ba0bc;
	font: 11px Verdana, Geneva, sans-serif;
	background-color: #e4effa;
	color: Black;
	cursor: default;
}
.dxgvDisabled_Office2010Blue
{
	color: #b2b7bd;
}
.dxgvControl_Office2010Blue a
{
	color: #1e395b;
	text-decoration: none;
}
.dxgvControl_Office2010Blue a:hover
{
	text-decoration: underline;
}
.dxgvDisabled_Office2010Blue a
{
	color: #b2b7bd;
}

.dxgvEmptyDataRow_Office2010Blue.dxgvLVR > td.dxgv,
.dxgvDataRow_Office2010Blue.dxgvLVR > td.dxgv,
.dxgvGroupRow_Office2010Blue.dxgvLVR > td.dxgv
{
    border-bottom-width: 0;
}

.dxgvRBB .dxgvEmptyDataRow_Office2010Blue.dxgvLVR > td.dxgv,
.dxgvRBB .dxgvDataRow_Office2010Blue.dxgvLVR > td.dxgv,
.dxgvRBB .dxgvGroupRow_Office2010Blue.dxgvLVR > td.dxgv
{
    border-bottom-width: 1px !important;
}

.dxgvLoadingPanel_Office2010Blue
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #1e395b;
	background: White none;
	border: 1px solid #859ebf;
}
.dxgvLoadingPanel_Office2010Blue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}
.dxgvLoadingPanel_Office2010Blue .dxlp-loadingImage,
.dxgvLoadingPanelStatusBar_Office2010Blue .dxlp-loadingImage 
{
	background-image: url('../Web/Loading.gif');
	height: 16px;
	width: 16px;
}
.dxgvLoadingPanelStatusBar_Office2010Blue
{
	background-color: Transparent;
}
.dxgvLoadingPanelStatusBar_Office2010Blue td
{
	white-space: nowrap;
	text-align: center;
	padding: 0 2px;
}
.dxgvFilterPopupWindow_Office2010Blue
{
	color: Black;
	border: 1px solid #8ba0bc;
}
.dxgvFilterPopupItemsArea_Office2010Blue
{
	color: Black;
	background-color: White;
	padding-top: 1px;
}
.dxgvFilterPopupButtonPanel_Office2010Blue
{
	background-color: #cfddee;
	border-top: 1px solid #8ba0bc;
	color: #1e395b;
}

.dxgvFilterPopupItem_Office2010Blue td.dxgv,
.dxgvFilterPopupActiveItem_Office2010Blue td.dxgv,
.dxgvFilterPopupSelectedItem_Office2010Blue td.dxgv
{
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	padding: 3px 2px 3px 3px;
	cursor: default;
	white-space: nowrap;
}
.dxgvFilterPopupActiveItem_Office2010Blue
{
	background: #d5e8ff none;
	color: Black;
}
.dxgvFilterPopupSelectedItem_Office2010Blue
{
	background: #e2ecf7 none;
	color: Black;
}

.dxgvTable_Office2010Blue
{
	background-color: White;
	border-width: 0;
	border-collapse: separate!important;
	overflow: hidden;
}
.dxgvTable_Office2010Blue .dxgvHEC
{
	background-color: White;
	border-width: 0;
	overflow: hidden;
}
.dxgvControl_Office2010Blue .dxgvFSDC
{
    background-color: #e2ebf6;
}
.dxgvControl_Office2010Blue .dxgvFSDC .dxgvFooter_Office2010Blue td.dxgv
{
    border-bottom: 0;
}
.dxgvControl_Office2010Blue .dxgvFGI
{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.dxgvControl_Office2010Blue .dxgvFGI
{
    right: 5px;
    left: auto;
}
*[dir="rtl"].dxgvControl_Office2010Blue .dxgvFGI
{
    right: auto;
    left: 5px;
}
.dxgvInlineEditRow_Office2010Blue,
.dxgvDataRow_Office2010Blue
{
}
.dxgvInlineEditRow_Office2010Blue td.dxgv
{
	border-bottom: 1px solid #cfddee;
	border-right: 1px solid #cfddee;
}
.dxgvInlineEditRow_Office2010Blue .dxgvCommandColumn_Office2010Blue
{
	background: #e9edf3 none;
}
.dxgvInlineEditRow_Office2010Blue td.dxgvIndentCell
{
	background-color: white;
}
.dxgvDataRowAlt_Office2010Blue
{
	background-color: #f4f6f9;
}
.dxgvFilterRow_Office2010Blue
{
	background-color: White;
}
.dxgvEditForm_Office2010Blue
{
	background-color: #ecf2f9;
}
.dxgvEditForm_Office2010Blue td.dxgv
{
	border-bottom: 1px solid #cfddee;
	padding: 8px 10px 10px;
}
.dxgvEditForm_Office2010Blue td.dxgvIndentCell
{
	background: White none;
	border-right: 1px Solid #CFDDEE;
	border-left: 1px Solid #CFDDEE;
	border-top-width: 0px;
}
.dxgvSelectedRow_Office2010Blue
{
	background-color: #fdf7d9;
	color: Black;
}
.dxgvFocusedRow_Office2010Blue
{
	background: #faedb6 none;
	color: Black;
}
.dxgvSelectedRow_Office2010Blue .dxgvCommandColumn_Office2010Blue a,
.dxgvSelectedRow_Office2010Blue .dxgvAIC a,
.dxgvFocusedRow_Office2010Blue .dxgvCommandColumn_Office2010Blue a,
.dxgvFocusedRow_Office2010Blue .dxgvAIC a
{
	color: #337cd4;
	text-decoration: none;
}
.dxgvSelectedRow_Office2010Blue .dxgvCommandColumn_Office2010Blue a:hover,
.dxgvSelectedRow_Office2010Blue .dxgvAIC a:hover,
.dxgvFocusedRow_Office2010Blue .dxgvCommandColumn_Office2010Blue a:hover,
.dxgvFocusedRow_Office2010Blue .dxgvAIC a:hover
{
	text-decoration: underline;
}

.dxgvPreviewRow_Office2010Blue
{
	background-color: #e9edf3;
	color: #777777;
}
.dxgvDetailRow_Office2010Blue td.dxgv,
.dxgvPreviewRow_Office2010Blue td.dxgv,
.dxgvEmptyDataRow_Office2010Blue td.dxgv
{
	padding: 20px 2px 20px 4px;
	border-bottom: 1px solid #cfddee;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}
.dxgvDetailRow_Office2010Blue td.dxgvDetailCell_Office2010Blue
{
	border-bottom-color: #cfddee;
	padding: 16px 18px;
}
.dxgvPreviewRow_Office2010Blue td.dxgv
{
	padding: 10px 10px 10px 15px;
}
.dxgvDetailRow_Office2010Blue td.dxgvIndentCell
{
	padding-right: 0px;
	border-bottom: 1px solid #cfddee;
}
.dxgvDetailRow_Office2010Blue.dxgvADR .dxgvADT > tbody > tr > td
{
    padding: 6px 6px 5px 0;
}
.dxgvDetailRow_Office2010Blue.dxgvADR .dxgvADT > tbody > tr > td .dxeTextBoxSys,
.dxgvDetailRow_Office2010Blue.dxgvADR .dxgvADT > tbody > tr > td .dxichCellSys
{
    margin: -4px 0 -4px 0;
}
.dxgvDetailRow_Office2010Blue.dxgvADR .dxgvADCC
{
    color: #7F7F7F;
}
.dxgvEmptyDataRow_Office2010Blue
{
	color: #777777;
}
.dxgvEmptyDataRow_Office2010Blue td.dxgv
{
	border-bottom: 1px solid #cfddee;
	text-align: center;
}

.dxgvEditFormDisplayRow_Office2010Blue td.dxgv,
.dxgvDetailCell_Office2010Blue td.dxgv,
.dxgvDataRow_Office2010Blue td.dxgv,
.dxgvDetailRow_Office2010Blue.dxgvADR td.dxgvAIC
{
	overflow: hidden;
	border-bottom: 1px solid #cfddee;
	border-right: 1px solid #cfddee;
	border-top-width: 0;
	border-left-width: 0;
	padding: 4px 6px;
}
.dxgvDataRow_Office2010Blue td.dxgvAIC,
.dxgvInlineEditRow_Office2010Blue td.dxgvAIC
{
    padding: 0 4px;
}
.dxgvDetailRow_Office2010Blue.dxgvADR td.dxgvAIC
{
    padding: 6px 4px;
}
.dxgvEditFormDisplayRow_Office2010Blue
{
}
.dxgvEditFormDisplayRow_Office2010Blue td.dxgv
{
}
.dxgvEditFormDisplayRow_Office2010Blue td.dxgvIndentCell
{
	background: white none;
	border-right: 1px Solid #CFDDEE;
	border-left: 1px Solid #CFDDEE;
	border-top-width: 0px;
}

.dxgvEditingErrorRow_Office2010Blue
{
	background-color: #cfddee;
	color: #ba1717;
}
.dxgvEditingErrorRow_Office2010Blue td.dxgv
{
	white-space: pre-wrap;
	border-bottom: 1px solid #cfddee;
	border-right-width: 0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 6px 10px;
}

.dxgvFilterRow_Office2010Blue td.dxgv
{
	border-bottom: 1px solid #8ba0bc;
	border-right-width: 0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 2px 3px 2px 2px;
	overflow: hidden;
}
.dxgvGroupRow_Office2010Blue
{
	background-color: White;
}
.dxgvFocusedGroupRow_Office2010Blue
{
	background: #faedb6 none;
	color: Black;
}
.dxgvGroupRow_Office2010Blue td.dxgv,
.dxgvFocusedGroupRow_Office2010Blue td.dxgv
{
	border: 0 none;
	vertical-align: middle;
	white-space: nowrap;
	border-bottom: 1px solid #cfddee;
	padding: 4px 6px;
    background-color: inherit;
}
.dxgvFocusedRow_Office2010Blue td.dxgvIndentCell,
.dxgvFocusedGroupRow_Office2010Blue td.dxgvIndentCell,
.dxgvSelectedRow_Office2010Blue td.dxgvIndentCell,
.dxgvDataRowHover_Office2010Blue td.dxgvIndentCell
{
	background: White!important;
	border-right: 1px solid #cfddee;
	border-left: 1px solid #cfddee;
	border-top-width: 0px;
}
.dxgvHeaderPanel_Office2010Blue
{
	background-color: #cfddee;
	color: Black;
	padding: 8px 6px;
	border-bottom: 1px solid #8ba0bc;
}

.dxIE .dxgvMSDraggable .dxgvHeader_Office2010Blue,
.dxIE .dxgvMSDraggable.dxgvGroupPanel_Office2010Blue
{
    -ms-touch-action: pinch-zoom;
}
.dxEdge .dxgvMSDraggable .dxgvHeader_Office2010Blue,
.dxEdge .dxgvMSDraggable.dxgvGroupPanel_Office2010Blue
{
    touch-action: pinch-zoom;
}
.dxgvHeader_Office2010Blue
{
	cursor: pointer;
	white-space: nowrap;
	padding: 5px 6px;
	border: 1px solid #8ba0bc;
	background: #e4effa url('gvHeaderBack.png') repeat-x left top;
	overflow: hidden;
	font-weight: normal;
	text-align: left;
}
.dxgvHeader_Office2010Blue,
.dxgvHeader_Office2010Blue table
{
	color: #1e395b;
}
.dxgvHeader_Office2010Blue td
{
	white-space: nowrap;
}
.dxgvHeader_Office2010Blue a
{
	color: #1e395b;
	text-decoration: underline;
}
.dxgvHeader_Office2010Blue a.dxgvCommandColumnItem_Office2010Blue
{
	margin: 0px 3px 0px 0px;
	color: #337cd4;
	text-decoration: none;
}
.dxgvHeader_Office2010Blue a.dxgvCommandColumnItem_Office2010Blue:hover
{
	text-decoration: underline;
}
.dxgvCustomization_Office2010Blue,
.dxgvPopupEditForm_Office2010Blue
{
	padding: 0;
	margin: 0;
}
.dxgvPopupEditForm_Office2010Blue .dxgvEditingErrorRow_Office2010Blue .dxgv
{
	border-bottom-width: 0;
}
.dxgvAdaptiveGroupPanel_Office2010Blue,
.dxgvGroupPanel_Office2010Blue
{
	background-color: #cfddee;
	color: #1e395b;
	border-bottom: 1px solid #8ba0bc;
}
.dxgvGroupPanel_Office2010Blue
{
	padding: 7px 4px 10px 6px;
    white-space: nowrap;
}
.dxgvAdaptiveGroupPanel_Office2010Blue
{
    padding-left: 6px;
    padding-top: 7px;
}
.dxgvAdaptiveGroupPanel_Office2010Blue div.dxgvADH
{
    margin-right: 4px;
    margin-bottom: 8px;
}
.dxgvAdaptiveGroupPanel_Office2010Blue.dxgvEAHP
{
    padding-bottom: 10px;
}
.dxgvAdaptiveHeaderPanel_Office2010Blue
{
    background-color: #cfddee;
	border-bottom: 1px solid #8ba0bc;
    color: #1e395b;
    padding-top: 10px;
}
.dxgvAdaptiveHeaderPanel_Office2010Blue.dxgvEAHP
{
    padding: 10px 7px;
}
.dxgvAdaptiveFooterPanel_Office2010Blue
{
    background-color: #e2ebf6;
    padding-top: 6px;
}
.dxgvAdaptiveHeaderPanel_Office2010Blue,
.dxgvAdaptiveFooterPanel_Office2010Blue
{
    padding-left: 24px;
}
.dxgvFooter_Office2010Blue
{
	background-color: #e2ebf6;
	white-space: nowrap;
}
.dxgvFooter_Office2010Blue td.dxgv
{
	padding: 6px;
	border-bottom: 1px solid #cfddee;
	border-right-width: 0;
}
.dxgvGroupFooter_Office2010Blue
{
	background-color: #e2ebf6;
}
.dxgvGroupFooter_Office2010Blue td.dxgv
{
	padding: 6px;
	border-bottom: 1px solid #cfddee;
	border-right-width: 0;
	white-space: nowrap;
}
.dxgvDataRow_Office2010Blue td.dxgvIndentCell,
.dxgvDetailRow_Office2010Blue td.dxgvIndentCell,
.dxgvPreviewRow_Office2010Blue td.dxgvIndentCell,
.dxgvGroupRow_Office2010Blue td.dxgvIndentCell,
.dxgvGroupFooter_Office2010Blue td.dxgvIndentCell
{
	background-color: White;
	border-right: 1px solid #cfddee;
	border-left: 1px solid #cfddee;
	border-top-width: 0px;
}

.dxgvTitlePanel_Office2010Blue,
.dxgvTable_Office2010Blue caption
{
	font-weight: normal;
	padding: 3px 3px 5px;
	text-align: center;
	background: #bdd0e7 url('gvTitleBack.png') repeat-x left top;
	color: #1e395b;
	border-bottom: 1px solid #8ba0bc;
}
.dxgvStatusBar_Office2010Blue
{
	background: #cfddee none;
	border-top: 1px solid #8ba0bc;
}
.dxgvStatusBar_Office2010Blue tr.dxgv
{
	height: 20px;
}
.dxgvStatusBar_Office2010Blue tr.dxgv > td
{
	padding: 4px;
}
.dxgvStatusBar_Office2010Blue tr.dxgv span .dxbButtonSys:first-child
{
	margin-left: 2px;
}
.dxgvCommandColumn_Office2010Blue
{
	padding: 2px;
    white-space: nowrap;
}
.dxgvCommandColumn_Office2010Blue a
{
	margin: 0px 3px 0px 0px;
	color: #337cd4;
	text-decoration: none;
}
.dxgvCommandColumn_Office2010Blue a:hover
{
	text-decoration: underline;
}

.dxgvCommandColumnItem_Office2010Blue
{
}
.dxbButton_Office2010Blue[class~="dxgvCommandColumnItem_Office2010Blue"],
.dxgvEditFormTable_Office2010Blue div.dxbButton_Office2010Blue
{
	margin: 0px 2px 0px 2px;
}
.dxbButton_Office2010Blue[class~="dxgvCommandColumnItem_Office2010Blue"] .dxb
{
	padding-top: 0;
    padding-bottom: 0;
}
.dxgvEditFormTable_Office2010Blue
{
	padding: 2px 6px 6px 4px;
	color: Black;
}
.dxgvEditFormTable_Office2010Blue a
{
	color: #337cd4;
	text-decoration: none;
}
.dxgvEditFormTable_Office2010Blue a:hover
{
	text-decoration: underline;
}

.dxgvEditFormCaption_Office2010Blue
{
	padding: 4px 4px 4px 10px;
	white-space: nowrap;
}

.dxgvInlineEditCell_Office2010Blue
{
	padding: 1px;
}

.dxgvEditFormCell_Office2010Blue
{
	padding: 4px;
	border-width: 0;
}

.dxgvPagerTopPanel_Office2010Blue,
.dxgvPagerBottomPanel_Office2010Blue
{
	background: #e4effa none;
}
.dxgvDetailButton_Office2010Blue
{
}

.dxgvFilterBar_Office2010Blue
{
	border-top: 1px solid #8ba0bc;
	background: #cfddee none;
}
.dxgvFilterBar_Office2010Blue a
{
	color: #337cd4;
	text-decoration: underline;
}
.dxgvFilterBarCheckBoxCell_Office2010Blue
{
	padding: 0 7px 0 3px;
}
.dxgvFilterBarImageCell_Office2010Blue
{
	padding: 0 1px 0 3px;
	cursor: pointer;
}
.dxgvFilterBarExpressionCell_Office2010Blue
{
	padding: 5px 5px 8px 0;
	white-space: nowrap;
}
.dxgvFilterBarClearButtonCell_Office2010Blue
{
	padding: 5px 6px 8px;
}
.dxgvFilterBuilderMainArea_Office2010Blue
{
	background: white none;
	padding: 6px 2px;
} 
.dxgvFilterBuilderButtonArea_Office2010Blue
{
	background: #cfddee none;
	border-top: 1px solid #aec0d5;
	padding: 6px;
	white-space: nowrap;
}

.dxgvDataRowHover_Office2010Blue
{
	background: #fbf4d7 url('gvHoverBack.png') repeat-x left top;
	color: Black;
}

.dxgvControl_Office2010Blue .dxpLite_Office2010Blue,
.dxgvDisabled_Office2010Blue .dxpLite_Office2010Blue
{
	padding-top: 4px;
}

.dxgvControl_Office2010Blue .dxgvHFSAC
{
    padding: 7px 0 0 6px;
}
.dxgvControl_Office2010Blue .dxgvHFC
{
    padding-left: 6px;
    padding-bottom: 3px;
}
.dxgvControl_Office2010Blue .dxgvHFC .dxeCalendar_Office2010Blue
{
    margin-top: 3px;
    margin-left: 25px;
}
.dxgvControl_Office2010Blue .dxgvHFSC
{
    padding: 7px 0 5px;
}
.dxgvControl_Office2010Blue .dxgvHFSC div
{
    height: 1px;
    background: #909AA6;
}
.dxgvControl_Office2010Blue div[id$='DXEPLPC']
{
    height: 39px;
}

.dxgvControl_Office2010Blue .dxgvHFSD
{
    height: 1px;
    margin: 2px 0;
}
.dxgvControl_Office2010Blue .dxgvHFDRC
{
    margin: 15px 15px 25px;
}
.dxgvControl_Office2010Blue .dxgvHFDRP
{
    margin-left: 15px;
    margin-right: 15px;
    padding: 9px 0 6px;
}
.dxgvControl_Office2010Blue .dxgvHFDRP[id*="HFFDE"]
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.dxgvControl_Office2010Blue .dxgvHFDRP[id*="HFTDE"]
{
    margin-bottom: 25px;
}

/* Removes flicking in iOS Safari*/
.dxgvTable_Office2010Blue
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.dxgvControl_Office2010Blue td.dxgvBatchEditCell_Office2010Blue
{
    padding: 0;
}
.dxgvControl_Office2010Blue td.dxgvBatchEditModifiedCell_Office2010Blue
{
    background: #d7f9c7;
}
.dxgvControl_Office2010Blue .dxgvErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxgvControl_Office2010Blue .dxgvErrorCell img
{
    margin: -3px 0;
}
.dxgvStatusBar_Office2010Blue .dxgvCommandColumn_Office2010Blue a
{
    margin-right: 10px;
}
.dxgvControl_Office2010Blue td.dxgvBatchEditCell_Office2010Blue .dxichCellSys
{
    padding-left: 0;
}

.dxgvSearchPanel_Office2010Blue
{
    padding: 7px 4px 7px 6px;
    border-bottom: 1px solid #8ba0bc;
}
.dxgvSearchPanel_Office2010Blue > table 
{
    width: 70%;
    max-width: 450px;
}
.dxgvControl_Office2010Blue .dxgvSearchPanel_Office2010Blue .dxbButton_Office2010Blue
{
    margin-left: 7px;
    margin-right: 0;
}
*[dir="rtl"].dxgvControl_Office2010Blue .dxgvSearchPanel_Office2010Blue .dxbButton_Office2010Blue {
    margin-left: 0;
    margin-right: 7px;
}
.dxgvControl_Office2010Blue .dxgvHL
{
    background: #ffd83a;
	color: Black;
	font-weight: bold;
	font-style: normal;
}

/* TODO remove (replace to command button style) */
.dxgvControl_Office2010Blue .dxgvSearchPanel_Office2010Blue .dxbButton_Office2010Blue
{
    font-size: 0.9em;
    margin-top: -2px;
    margin-bottom: -2px;
}
.dxgvControl_Office2010Blue .dxgvSearchPanel_Office2010Blue .dxbButton_Office2010Blue .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}

.dxgvEditForm_Office2010Blue .dxflGroupBoxCaption_Office2010Blue {
    background-color: #ecf2f9;
}
