/* Common */
.TabsContainer 
{
	padding-right: 5px;
/*	float:right;*/
}
.TabsContainer td
{
	text-align: left;
}
/* Actions in Detail View */
.Layout .Item > .ACH .dxm-main
{
	padding-top: 0px !important;
	padding-right: 0px !important;
}
/* Top */
table.Top td.Logo {
	padding: 10px 20px 10px 15px;
}
table.Top td.Security {
	padding: 15px 10px 0px 20px;
	text-align: right;
	vertical-align: top;
}
table.Top td.Security td {
	text-align: left;
}
table.Top td.Security div.Security {
	display: inline;
/*	float: right;*/
}
/* Action Container Panel */
.ACPanel td td
{
	text-align: left;
}	
/* Round panel of VerticalToolsActionContainer */
.ToolsActionContainerPanel
{
	margin: 15px;
}
.ToolsActionContainerPanel .TRP {
	width: 100% !important;
}
.ToolsActionContainerPanel .dxrpcontent
{
    width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.LeftPane {
	padding-bottom: 15px;
}
/* Main round panel*/
table.MainContent tr.Header td.Header {
	padding: 3px 10px 10px 10px;
}
table.MainContent tr.Content td.Content {
	padding: 10px 15px 2px 15px;
}
table.MainContent td.ViewImage {
	width: 32px;
	padding: 0px 5px 0px 15px;
}
table.MainContent td.ViewHeader {
}
table.ViewHeader {
	margin: 10px 0px 0px 0px;
}
.EditModeActions {
	padding: 5px 15px 5px 10px;
	border-bottom: #b6bdcc 1px solid;
}
.Content .EditModeActions {
	padding: 5px 0px 5px 10px;
	border-bottom: 0px;
}
/* TopToolBar */
.ToolBar {
	margin: 0px 0px 0px 0px;
}
/* Navigation Links*/
.Links {
	padding: 35px 40px 15px 40px !important;
	line-height: 24px;
}
/* Footer */
tr.Footer td.Right {
	padding: 20px 10px 30px 0px;
}
div.Footer {
	padding: 20px 10px 30px;
}
div.Header table {
	margin: 0px 15px 0px 15px;
}
div.Header table td {
	padding: 24px 0px 0px 0px;
}
/* Dialog */
.Dialog .Layout
{
    padding-left: 0px;
}
.DialogContent .ContentCell {
	vertical-align: top;
	padding: 30px 50px 30px 50px
}
.Dialog .ViewImage img {
	margin: 0px 5px 0px 0px;
}
/* Logon */
.LogonContent {
	background-color: White;
	height: 300px;
}
.Logon {
	width: 500px;
	text-align: left;
}
.LogonContentCell {
}
.LogonContentCell .Layout .NextColumn div.Item {
	padding-left: 10px;
}
/* Error */
.ErrorDetails {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 90%;
}
.TabsContainer .TemplatedItem {
	padding: 0px 5px 0px 11px;
}
.TabsContainer .TemplatedItem .SingleChoiceActionItemLabel {
	padding-left: 0px;
}
.TemplatedItem > table 
{
	border-collapse: separate !important;
}
/* NavigationBarActionContainer */
.xafNavigationBarActionContainer
{
    margin-bottom: 3px;
}
/* Navigation Links (QuickAccessNavigationActionContainer) */
.NavigationLinks a, .NavigationLinks a:hover, .NavigationLinks a:visited {
	text-decoration: underline;
	margin: 0px 6px;
}
.NestedFrameViewSite > .Layout {
	padding: 0px;
}
.Layout > .NestedFrameControl > .NestedFrame > .ToolBarUpdatePanel + .NestedFrameViewSite > .ListViewItem,
.Layout > .Item > .Item > tbody > tr > .NestedFrameControl > .NestedFrame > .ToolBarUpdatePanel + .NestedFrameViewSite > .ListViewItem {
	padding: 0px !important;
}
.GroupContent > .NestedFrameControl > .NestedFrame > .ToolBarUpdatePanel + .NestedFrameViewSite > .ListViewItem 
{
	padding: 0px !important;
}
.LayoutTabContainer 
{
	padding: 12px !important;
}
.LayoutTabContainer > .Item > .NestedFrame > .NestedFrameViewSite > .Item {
	padding-top: 0px !important;
}
.LayoutTabContainer > .Item > .NestedFrame > .ToolBar {
	padding: 0px 5px 0px 5px !important;
}
.LayoutTabContainer > .NestedFrameControl {
	padding: 0px !important;
}
.LayoutTabContainerWithNestedFrame {
	padding: 0px !important;
}
.LayoutTabContainerWithNestedFrame > .Item > .NestedFrame > .NestedFrameViewSite > .Item {
	padding: 0px !important;
}
.LayoutTabContainerWithNestedFrame  > .Item > .NestedFrame > .ToolBar {
	padding: 0px !important;
}
.LayoutTabContainerWithNestedFrame > .Item > .NestedFrame > .NestedFrameViewSite > .Item > .GridView {
	border-bottom: 0px;
	border-right: 0px;
	border-left: 0px;
}
.LayoutTabContainerWithNestedFrame > .Item > .NestedFrame > .NestedFrameViewSite.WithoutToolbar > .Item > .GridView {
	border-top: 0px;
}
.Content > div > .Layout {
	padding-top: 15px;
}
.Content > div > .Layout > .GroupHeader:first-child {
	margin-top: 0px !important;
}
div.LeftPane > .ACV {
	padding-top: 15px;
}
.RecordsNavigationContainer {
	padding-right: 14px;
}
.DialogContent .HContainer {
	display: table;
}
/* Splitter */
.HorizontalTemplate .dxsplLCC, .VerticalTemplate .dxsplLCC {
	padding: 0px;
}
.xafChartToolBar td {
    padding: 5px;
}
.XafTemplate .NavigationPane
{
    background-color: #F7F7F7;
}
.XafTemplate .HeaderPane
{
    background-color: #416BAA;
    border: 0px none !important;
}
.XafTemplate .HeaderPane .CollapseGroup,
.XafTemplate .HeaderPane .ExpandGroup
{
    float: left;
}
.XafTemplate .HeaderPane .CollapseGroup .CollapseBtn,
.XafTemplate .HeaderPane .ExpandBtn
{
    margin: 10px 3px 0px 8px;
}
.XafTemplate .HeaderPane .CollapseGroup
{
    width: 240px;
}
.XafTemplate .HeaderPane .CollapseGroup .CaptionSplitter
{
    float: right;
    width: 1px;
    height: 34px;
    margin-top: 9px;
    background-color: #7190BF;
}
.XafTemplate .HeaderPane .ViewCaption
{
    display: block;
    text-align: center;
    vertical-align: top;
    margin-top: 7px;
}
.XafTemplate .HeaderPane .ViewCaption h1
{
    color: white;
    font-family: 'Segoe UI';
}
.XafTemplate .HeaderPane .SecurityActions
{
    float: right;
}
.XafTemplate .ExpandGroup
{
    display: none;
}
.XafTemplate .ViewPane
{
    border-style: none !important;   
}
.XafTemplate .NavigationPane
{
    border-top-style: none !important;
    border-bottom-style: none !important;
    border-left-style: none !important;
}
.XafTemplate .ViewHeader
{
    height: 50px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #CACACA;
}
.XafTemplate .ViewHeader .XafSearchPanel
{
    float: right;
}
.XafTemplate .ViewContainer
{
    position: relative;
}
.XafTemplate .ViewContainer .ViewContent
{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.XafTemplate .ViewContainer .ViewContent > *
{
	-webkit-transform: translate3d(0,0,0);
}
.XafTemplate .ViewContainer .ViewContent .Layout
{
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 200px;
}
.XafTemplate .ViewContainer .ViewContent .Layout .GroupHeader .Label
{
    font: Segoe UI Light, Tahoma, Arial, Helvetica, sans-serif;
    width: inherit;
    padding-left: 15px;
    padding-top: 32px;
    padding-bottom: 8px;
}
.XafTemplate .ViewContainer .ViewContent .Layout .Item .Caption 
{
    text-align: right;
    padding-right: 10px;
    color: #8D8D8D;
}
.XafTemplate .ViewContainer .ViewContent .Layout .Item .WebEditorCell .Caption 
{
    text-align: inherit;
}
.XafTemplate .ViewContainer .ViewContent .Layout .NestedFrameCallbackPanel .NestedFrame
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
}
.RelatedDetailItem 
{
    padding-left: 11px;
    padding-bottom: 5px;
    display: block;
    cursor: pointer;
}
.NestedFrame .HideNestedFrameBtn,
.NestedFrame .NestedFrameToolBar
{
    float: left;
}
.NestedFrame .NestedFrameViewCaption
{
    float:right;
    text-align: center;        
    vertical-align: top;
    margin-right: 50px;
}
.NestedFrame .NestedFrameContent .NestedFrameViewSite .Item
{
    padding: 0px;
}

