﻿<%@ Page Title="Security Function Setup" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="SecurityFunctionSetup.aspx.cs" Inherits="NSWEC_Barcode_Tracking.SecurityFunctionSetup" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder" runat="server">
</asp:Content>
