.dxscControl_MetropolisBlue
{
    background: #c0c0c0;
    font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
}
.dxscLoadingPanel_MetropolisBlue
{
	border: 1px solid #C3C3C3;
	background-color: white;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
}
.dxscLoadingPanel_MetropolisBlue td.dx
{
	font-size: 1.17em;
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}
.dxscLoadingPanel_MetropolisBlue .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 32px;
	width: 32px;
}

/* Headers */
.dxscDateHeader_MetropolisBlue, 
.dxscAlternateDateHeader_MetropolisBlue,
.dxscDayHeader_MetropolisBlue,
.dxscDateCellHeader_MetropolisBlue,
.dxscTodayCellHeader_MetropolisBlue,
.dxscTimelineDateHeader_MetropolisBlue,
.dxscHorizontalResourceHeader_MetropolisBlue,
.dxscVerticalResourceHeader_MetropolisBlue
{    
    background: white;
    border: solid 1px #c0c0c0;
    border-width: 0 1px 1px 0;
    padding: 4px;
    text-align: center;
    vertical-align: top;
    
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
}

.dxscAlternateTimelineDateHeader_MetropolisBlue,
.dxscAlternateDateHeader_MetropolisBlue
{
    background: #ffd554;
}
.dxscDayHeader_MetropolisBlue
{
    border-width: 1px 1px 0 0;
}
.dxscDateCellHeader_MetropolisBlue
{
    border-width: 1px;
}
.dxscTodayCellHeader_MetropolisBlue
{    
    border-top-width: 1px;
    background: #ffd554;
}
.dxscTimelineDateHeader_MetropolisBlue
{
    border-width: 1px 1px 1px 0;
}
.dxscHorizontalResourceHeader_MetropolisBlue
{
    border-width: 1px 1px 1px 0;
    background: white;
}
.dxscVerticalResourceHeader_MetropolisBlue
{
    border-width: 1px 1px 0 0;
    background: white;
    white-space: normal;
}
.dxscSelectionBar_MetropolisBlue 
{	
    border-style: solid;
    border-width: 0 1px 0 0;
    height: 30px;
}

/* Corners */
.dxscLeftTopCorner_MetropolisBlue, 
.dxscRightTopCorner_MetropolisBlue
{
    background: white;
    width: 1px;
    border-style: solid;
    border-color: #c0c0c0;	
    border-width: 0 0 1px;
}
.dxscLeftTopCorner_MetropolisBlue
{    
    border-width: 1px 1px 1px 0;
    font-size: 0.91em;
    text-align: center;
    padding: 2px;
    overflow: hidden;
}

/* Separators */
.dxscGroupSeparatorVertical_MetropolisBlue, 
.dxscGroupSeparatorHorizontal_MetropolisBlue
{
    background: white;
    border: solid 1px #c0c0c0;
}

.dxscGroupSeparatorVertical_MetropolisBlue
{
    width: 1px; 
    border-width: 0 1px;
}
.dxscGroupSeparatorHorizontal_MetropolisBlue
{
    height: 1px;
    border-width: 1px 0 0;
    font-size: 0;
}

/* Apts Area */
.dxscAllDayArea_MetropolisBlue
{
    background: white;
    border: solid 1px #c0c0c0;
    border-width: 0 1px 1px 0;
}
.dxscDateCellBody_MetropolisBlue 
{
    	height: 100px;
    	border: solid 1px;
    	border-width: 0 1px 0 0;
}
.dxscTimeCellBody_MetropolisBlue
{
	border: 1px solid;
	background-color: White;
}
.dxscTimelineCellBody_MetropolisBlue
{
    	height: 300px;
    	border-style: solid;
    	border-width: 1px 1px 0 0;
}

.dxscAppointment_MetropolisBlue
{
    font-size: 0.91em;
    padding: 0;
    margin: 0;
    cursor: default;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -moz-box-sizing: content-box; 
    box-sizing: content-box;
    border: solid 1px #c0c0c0;
}
.dxscAppointmentInnerBorders_MetropolisBlue
{	
    padding: 0px;
}
.dxscAppointmentHorizontalSeparator_MetropolisBlue 
{
    height: 1px;
    width: 100%;
    overflow: hidden;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}
.dxscMoreButton_MetropolisBlue
{
    font-size: 0.91em;
    color: #0072C6;    
    text-decoration: underline;	
    padding: 0;
}

/* Rulers */
.dxscTimeRulerHoursItem_MetropolisBlue, .dxscTimeRulerMinuteItem_MetropolisBlue
{
    color: #6f6f6f;
    background: white;
    border: solid 1px #c0c0c0;
    border-width: 0px 1px 1px 0;
    vertical-align: top;
    white-space: nowrap;
} 
.dxscTimeRulerHoursItem_MetropolisBlue
{
    border-right-width: 0;
    border-left-color: #c0c0c0;
    font-size: 1.42em;
    text-align: right;
    width: 45px;
    padding: 2px 4px 0px;
}
.dxscTimeRulerMinuteItem_MetropolisBlue
{
    border-left-width: 0px;
    text-align: center;
    width: 18px;
    font-size: 0.91em;
    padding: 4px 1px 4px 1px;
}

.dxscTimeRulerHeaderHourItem_MetropolisBlue
{
    width: 55px;
}	
.dxscTimeRulerHeaderMinuteItem_MetropolisBlue
{
    width: 16px;
}
.dxscScrollHeaderItem_MetropolisBlue
{
    width: 16px;
}


/* Control elements */
.dxscToolbarContainer_MetropolisBlue
{
	padding: 8px 0;
	border: 0px none;
	background-color: White;
}
.dxscToolbar_MetropolisBlue
{
    border: none;
    padding: 4px 7px;    
}
.dxscToolbar_MetropolisBlue .dxeCalendar_MetropolisBlue,
.dxscToolbar_MetropolisBlue .dxeCalendar_MetropolisBlue.dxeFocused_MetropolisBlue
{
    border: 1px Solid Silver;
}
.dxscResourceNavigator_MetropolisBlue 
{    
    background: white;
    padding: 7px;
    border: solid 1px #c0c0c0;
}
.dxscViewVisibleInterval_MetropolisBlue
{    
	white-space: nowrap;
	font-size: 1.5em;
	color: #0072C6;
}
.dxscInplaceEditor_MetropolisBlue
{
    background: #fdfdfd;
    border: solid 2px #303030;
    padding: 0;
    color: #303030;
}
.dxscControlAreaForm_MetropolisBlue
{
    font-size: 1.33em;
    background-color: #efefef;
    border: none;
    white-space: normal;
    padding: 9px 12px;
}
.dxscErrorInfo_MetropolisBlue
{
    background: #f1abab;
    color: #853a3a;
    padding: 10px;
}

/* Buttons */
.dxscViewNavigatorButton_MetropolisBlue,
.dxscViewNavigatorGotoDateButton_MetropolisBlue
{    
	font-size: 1.17em;
    line-height: 100%;
	padding: 0 4px;

    min-height: 1em;
    display: block!important;
}
.dxscViewNavigatorGotoDateButton_MetropolisBlue 
{
	padding: 0 0 0 4px;
}
.dxscViewNavigatorButton_MetropolisBlue.dxscViewNavigatorGotoTodayButton
{    
    padding: 3px 4px;
}
.dxscViewNavigatorButtonHover_MetropolisBlue,
.dxscViewNavigatorGotoDateButtonHover_MetropolisBlue
{
}
.dxscViewNavigatorButtonHover_MetropolisBlue.dxscViewNavigatorGotoTodayButton
{    
    text-decoration: underline;
}
.dxscViewNavigatorButtonPressed_MetropolisBlue,
.dxscViewNavigatorGotoDateButtonPressed_MetropolisBlue
{
}

.dxscResourceNavigatorButton_MetropolisBlue,
.dxscNavigationButton_MetropolisBlue,
.dxscDVTopMoreButton_MetropolisBlue,
.dxscDVBottomMoreButton_MetropolisBlue
{
	cursor: pointer;
	padding: 2px;
}

.dxscResourceNavigator_MetropolisBlue table td:nth-child(6) table  td.dxscResourceNavigatorButton_MetropolisBlue
{
	padding: 2px 8px 2px 2px;
}

.dxscSmartTagButton_MetropolisBlue 
{
    border: solid 1px black;
    background: #ffffee;
    padding: 4px 5px;
    cursor: pointer;
}

.dxscViewSelectorButton_MetropolisBlue 
{
	padding: 6px 18px;
	border: 1px solid White;
}
.dxscViewSelectorButtonHover_MetropolisBlue
{
    	background-color: #0072C6;        
    	color: White;
}
.dxscViewSelectorButtonPressed_MetropolisBlue
{
	background-color: #C0C0C0;
    	color: White;
}
.dxscViewSelectorButtonChecked_MetropolisBlue
{
    	background: #0072C6;
    	color: White;
}

.dxscNoBorderButton_MetropolisBlue
{
    border: solid 1px #FDFDFD;
    background: none;
    cursor: pointer;
}
.dxscNoBorderButtonHover_MetropolisBlue
{
    border: solid 1px #A8A8A8;
}

.dxscToolTipRoundedCornersTopBottomRow_MetropolisBlue 
{
    font-size: 0;
}
.dxscToolTipRoundedCornersTopSide_MetropolisBlue 
{
    border-top: 1px black solid; 
    vertical-align:bottom; 
    height:1px;	
    background-color:#fafad2;
}
.dxscToolTipRoundedCornersLeftSide_MetropolisBlue 
{
    border-left: 1px black solid; 
    vertical-align:bottom; 
    background-color:#fafad2;
}
.dxscToolTipRoundedCornersRightSide_MetropolisBlue 
{
    border-right: 1px black solid; 
    vertical-align:bottom; 
    background-color:#fafad2;
}
.dxscToolTipRoundedCornersBottomSide_MetropolisBlue 
{
    border-bottom: 1px black solid; 
    vertical-align:bottom; 
    height:1px;	
    background-color:#fafad2;
}
.dxscToolTipRoundedCornersContent_MetropolisBlue 
{
    background-color:#fafad2;
    padding:0;
}
.dxscToolTipSquaredCorners_MetropolisBlue 
{
    background: #f9f9cd;
    padding: 1px 1px;
    font-size: 0;
    color: #303030;
    white-space: nowrap;
    border: solid 1px black;
}
.dxscTimeMarker_MetropolisBlue 
{
    top:-4px;
}
.dxscTimeMarkerLine_MetropolisBlue 
{
    top:-2px;
    background-color:Red;
    height:3px;
    font-size: 0;
    
}
.dxscTimeMarkerLineV_MetropolisBlue 
{
    position:absolute;
    
    background-color:#4E4E4E;
    width:1px;
    font-size: 0;
    border:solid 1px #FFC029;
    border-top-width:0;
    border-bottom-width:0;
}
.dxscTimeMarkerLineH_MetropolisBlue
{
    position:absolute;
    top:-2px;
    background-color:#4E4E4E;
    height:1px;
    font-size: 0;
    border:solid 1px #FFC029;
    border-left-width:0;
    border-right-width:0;
}


