.dxgvControl_iOS, 
.dxgvDisabled_iOS
{
	font: 12px 'Helvetica Neue', Helvetica, Verdana, sans-serif;
	color: #AAABAE;
	cursor: default;	
	border-collapse:separate!Important;
	border-bottom: 1px solid #B3B5B9;
}
.dxgvDisabled_iOS
{
	color: Gray;
}
.dxgvControl_iOS a
{
	color: #006EE9;
}
.dxgvDisabled_iOS a
{
	color: Gray;
	text-shadow: 0px 0px!important;
}

.dxgvEmptyDataRow_iOS.dxgvLVR > td.dxgv,
.dxgvDataRow_iOS.dxgvLVR > td.dxgv,
.dxgvGroupRow_iOS.dxgvLVR > td.dxgv
{
    border-bottom-width: 0;
}

.dxgvRBB .dxgvEmptyDataRow_iOS.dxgvLVR > td.dxgv,
.dxgvRBB .dxgvDataRow_iOS.dxgvLVR > td.dxgv,
.dxgvRBB .dxgvGroupRow_iOS.dxgvLVR > td.dxgv
{
    border-bottom-width: 1px !important;
}

.dxgvLoadingPanel_iOS
{
	font: bold 18px 'Helvetica Neue', Helvetica, Verdana, sans-serif;
	color: Black;
	text-shadow: 0 -1px rgba(255, 255, 255, 0.5);
	border: 1px solid #A6A6A6;
	border: 1px solid rgba(0, 0, 0, 0.35);
	border-radius: 8px;
	border-collapse: separate !important;
	
	box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	
	background-clip: content-box;
	-webkit-background-clip: content-box;
	-moz-background-clip: content-box;
}
.dxgvLoadingPanel_iOS td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 32px 29px;
	background-color: #E2E5EA;
}
.dxgvLoadingPanel_iOS td.dx:first-child,
.dxgvLoadingPanel_iOS[dir="rtl"] td.dx:last-child,
*[dir="rtl"] .dxgvLoadingPanel_iOS td.dx:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.dxgvLoadingPanel_iOS td.dx:last-child,
.dxgvLoadingPanel_iOS[dir="rtl"] td.dx:first-child,
*[dir="rtl"] .dxgvLoadingPanel_iOS td.dx:first-child
{
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.dxgvLoadingPanel_iOS td.dx:first-child:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.dxgvLoadingPanel_iOS td.dx + td.dx
{
	-webkit-box-shadow: -1px 0px #E2E5EA;
}
*[dir="rtl"] .dxgvLoadingPanel_iOS td.dx + td.dx
{
	-webkit-box-shadow: 1px 0px #E2E5EA;
}
.dxgvLoadingPanel_iOS .dxlp-loadingImage,
.dxgvLoadingPanelStatusBar_iOS .dxlp-loadingImage 
{
	background-image: url('../Web/Loading.gif');
	height: 24px;
	width: 24px;
}
.dxgvLoadingPanelStatusBar_iOS
{
	background-color: Transparent;
}
.dxgvLoadingPanelStatusBar_iOS td
{
	white-space: nowrap;
	text-align: center;
	padding: 0px 2px;
}
.dxgvFilterPopupWindow_iOS
{
	color: Black;
	border: 1px solid #9f9f9f;
}
.dxgvFilterPopupItemsArea_iOS
{
	color: Black;
	background-color: White;
}
.dxgvFilterPopupButtonPanel_iOS
{
	background-color: #ededed;
	border: 1px solid #dcdcdc;
	border-left: 0px solid #dcdcdc;
	color: Black;
}
.dxgvFilterPopupItem_iOS td.dxgv,
.dxgvFilterPopupActiveItem_iOS td.dxgv,
.dxgvFilterPopupSelectedItem_iOS td.dxgv
{
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding: 3px 2px 4px 3px;
	cursor: default;
	white-space: nowrap;
}
.dxgvFilterPopupActiveItem_iOS
{
	background: #cfcfcf none;
	color: Black;
}
.dxgvFilterPopupSelectedItem_iOS
{
	background: #8D8D8D none;
	color: White;
}

table.dxgvTable_iOS 
{
    background-color: white;
    border-collapse:separate!Important;
	border: 1px solid #B3B5B9;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	font: bold 18px 'Helvetica Neue', Helvetica, Verdana, sans-serif;
	color: #385487;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
table.dxgvTable_iOS .dxgvHEC
{
    background-color: white;
	border: 0;
}
.dxgvControl_iOS .dxgvFSDC .dxgvFooter_iOS td.dxgv
{
    border-bottom: 0;
}
.dxgvControl_iOS .dxgvFGI
{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.dxgvControl_iOS .dxgvFGI
{
    right: 5px;
    left: auto;
}
*[dir="rtl"].dxgvControl_iOS .dxgvFGI
{
    right: auto;
    left: 5px;
}
.dxgvControl_iOS div[id$='DXHorzScrollDiv']
{
	border: 1px solid #B3B5B9;
	border-radius: 5px 5px 0 0;
}
.dxgvControl_iOS div[id$='DXHorzScrollDiv'] > table.dxgvTable_iOS
{
	border: none;
}
.dxgvControl_iOS > tbody > tr > td > div:nth-child(2) > table.dxgvTable_iOS[id$='DXMainTable'],
.dxgvControl_iOS > tbody > tr > td > div:nth-child(3) > table.dxgvTable_iOS[id$='DXMainTable']
{
	border-radius: 0;
	border-top: none;
	border-bottom: none;
}
.dxgvControl_iOS > tbody > tr > td > div:nth-child(1) > table.dxgvTable_iOS 
{
	border-radius: 5px 5px 0 0;
	border-bottom: none;
}
.dxgvInlineEditRow_iOS td.dxgv
{
	border-bottom: 1px Solid #E0E0E0;
	border-right: 1px Solid #E0E0E0;
}
.dxgvDataRowAlt_iOS
{
	background-color: #F8F8F8;
}
.dxgvFilterRow_iOS
{
}
.dxgvEditForm_iOS {
    background-color: white;
}
.dxgvEditForm_iOS td.dxgv 
{
	border-bottom: 1px solid #E0E0E0;
    padding: 8px 10px 10px;
}
.dxgvEditForm_iOS td.dxgvIndentCell
{
	background: white none;
	border-left: 1px Solid #CFCFCF;
}
.dxgvSelectedRow_iOS,
.dxgvFocusedRow_iOS
{
    background-color: #1879F2;
    color: #FFFFFF;
}
.dxgvFocusedRow_iOS
{
	color: White;
}
.dxgvSelectedRow_iOS .dxgvCommandColumn_iOS a, 
.dxgvSelectedRow_iOS .dxgvAIC a, 
.dxgvFocusedRow_iOS .dxgvCommandColumn_iOS a,
.dxgvFocusedRow_iOS .dxgvAIC a,
.dxgvFocusedRow_iOS a.dxeHyperlink_iOS
{
	color: White;
	border-bottom-color: white;
}
.dxgvSelectedRow_iOS .dxgvCommandColumn_iOS a:hover, 
.dxgvSelectedRow_iOS .dxgvAIC a:hover, 
.dxgvFocusedRow_iOS .dxgvCommandColumn_iOS a:hover,
.dxgvFocusedRow_iOS .dxgvAIC a:hover,
.dxgvFocusedRow_iOS a.dxeHyperlink_iOS:hover
{
	color: #F0F0F0;
}
.dxgvPreviewRow_iOS
{
	background-color: #FFFFFF;
	color: #7C7C7C;
	font-size: 14px;
	font-weight: normal;
}
.dxgvDetailRow_iOS td.dxgv,
.dxgvPreviewRow_iOS td.dxgv,
.dxgvEmptyDataRow_iOS td.dxgv
{
	padding: 20px 2px 20px 4px;
}
.dxgvPreviewRow_iOS td.dxgv
{
	padding: 10px 10px 10px 29px;
	border-bottom: 1px Solid #E0E0E0;
}
.dxgvDetailRow_iOS td.dxgvDetailCell_iOS
{
	padding: 16px 18px;
	border-bottom: 1px Solid #E0E0E0;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}
.dxgvDetailRow_iOS.dxgvADR .dxgvADT > tbody > tr > td
{
    padding: 7px 6px 6px 0;
}
.dxgvDetailRow_iOS.dxgvADR .dxgvADT > tbody > tr > td .dxeTextBoxSys,
.dxgvDetailRow_iOS.dxgvADR .dxgvADT > tbody > tr > td .dxichCellSys
{
    margin: -8px 0 -3px 0;
}
.dxgvDetailCell_iOS .dxgvADTC,
.dxgvDetailCell_iOS .dxgvADDC
{
	padding: 0 0 12px 12px;
}
.dxgvDetailRow_iOS td.dxgvIndentCell
{
	padding-right: 0px;
	border-bottom: 1px Solid #E0E0E0;
}
.dxgvDetailRow_iOS.dxgvADR .dxgvADCC
{
    color: #7F7F7F;
}
.dxgvDetailRow_iOS.dxgvADR.dxgvFocusedRow_iOS .dxgvADCC,
.dxgvDetailRow_iOS.dxgvADR.dxgvSelectedRow_iOS .dxgvADCC
{
    color: inherit;
}
.dxgvDetailRow_iOS.dxgvADR.dxgvFocusedRow_iOS .dxgvADCMDC a,
.dxgvDetailRow_iOS.dxgvADR.dxgvSelectedRow_iOS .dxgvADCMDC a
{
    color: white;
}
.dxgvEmptyDataRow_iOS
{
	color: Gray;
}
.dxgvEmptyDataRow_iOS td.dxgv
{
	text-align: center;
	border-top: 1px Solid #CFCFCF;
	border-left-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
}
.dxgvEmptyDataRow_iOS td.dxgv a
{
	border-bottom: 1px dashed #006EE9;
    text-decoration: none;
}
.dxgvEditFormDisplayRow_iOS td.dxgv,
.dxgvGroupFooter_iOS td.dxgv,
.dxgvFooter_iOS td.dxgv,
.dxgvDetailCell_iOS td.dxgv,
.dxgvDataRow_iOS td.dxgv,
.dxgvDetailRow_iOS.dxgvADR td.dxgvAIC
{
    overflow: hidden;
    padding: 3px 10px 4px;
    height: 41px;
}
.dxgvDetailRow_iOS.dxgvADR td.dxgvAIC
{
    padding: 16px 10px;
}
.dxgvEditFormDisplayRow_iOS td.dxgv,
.dxgvGroupFooter_iOS td.dxgv,
.dxgvSelectedRow_iOS td.dxgv, 
.dxgvFocusedRow_iOS td.dxgv 
{
    border-bottom: 1px solid #E0E0E0!important;
}
.dxgvFooter_iOS td.dxgv
{
	border-bottom: 1px solid #E0E0E0;
}
.dxgvDataRow_iOS td.dxgv
{
	border-bottom: 1px solid #E0E0E0;
	border-right: none;
}
.dxgvControl_iOS div[id$='DXHorzScrollDiv'] > table.dxgvTable_iOS > tbody > tr > td.dxgv:nth-last-child(2)
{
	border-right: 1px solid #E0E0E0!important;
}
.dxgvDataRow_iOS td.dxgv.dxgvIndentCell
{
	border-bottom-width:1px!important;
}
table.dxgvTable_iOS > tbody > tr:last-child > td.dxgv
{
	border-bottom-color: #B3B5B9!important;
}
.dxgvDataRow_iOS td.dxgvAIC a,
.dxgvInlineEditRow_iOS td.dxgvAIC a
{
	font-size: 18px;
	font-weight: bold;
}

.dxgvEditFormDisplayRow_iOS
{
}
.dxgvEditingErrorRow_iOS
{
	background-color: red;
	color: white;
}
.dxgvEditingErrorRow_iOS td.dxgv
{
	white-space: pre-wrap;
	border-bottom: 1px Solid #E0E0E0;
	border-right-width: 0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 6px 10px;
}
.dxgvFilterRow_iOS td.dxgv
{
	padding: 6px 10px 5px 10px;
	border-bottom: 1px solid #E0E0E0;
	background-color: #E5E7E9;
}
.dxgvFilterRow_iOS td.dxgv td.dxic
{
	padding: 2px 6px 3px 7px !important;
}
.dxgvFilterRow_iOS td.dxgv input.dxeEditAreaSys
{
	margin:0px!important;
}
.dxgvFilterRow_iOS td.dxgv .dxeTextBoxSys,
.dxgvFilterRow_iOS td.dxgv .dxeButtonEdit_iOS
{
	background: white url('gvFilter.png') no-repeat scroll 8px 7px;
	padding-left:26px;
	border-color: rgba(0, 0, 0, 0.2);
	border-top-color: rgba(0, 0, 0, 0.35);
	border-radius: 13px!important;
	box-shadow: 0 1px rgba(255, 255, 255, 0.25), 0 1px rgba(0, 0, 0, 0.1) inset;
}

.dxgvFilterRow_iOS .dxgv:nth-child(1)
{
	border-left:none;
}
.dxgvGroupRow_iOS, 
.dxgvFocusedGroupRow_iOS
{
	color:#7C7C7C;
	background-color: #F0F2F4;
	height:40px;
}
.dxgvFocusedGroupRow_iOS
{
	background-color: #1879F2;
}
.dxgvGroupRow_iOS td.dxgv, 
.dxgvFocusedGroupRow_iOS td.dxgv {
    padding-left:10px;
	padding-bottom: 1px;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 1px white;
    border: 1px solid #E0E0E0;
    border-bottom-width: 1px!important;
    border-top-width: 0px!important;
    border-style: none none solid none;
    background-color: inherit;
}
.dxgvFocusedGroupRow_iOS td.dxgv
{
	color: White;
	text-shadow: none;
}
.dxgvGroupRow_iOS td.dxgvIndentCell,
.dxgvFocusedRow_iOS td.dxgvIndentCell, 
.dxgvFocusedGroupRow_iOS td.dxgvIndentCell, 
.dxgvSelectedRow_iOS td.dxgvIndentCell 
{
    border-bottom-width: 1px!important;
    border-style: none none solid none;
}
*[dir="rtl"] .dxgvGroupRow_iOS td.dxgv, 
*[dir="rtl"] .dxgvFocusedGroupRow_iOS td.dxgv 
{
	padding-left:0px;
	padding-right:10px;
}

.dxgvHeaderPanel_iOS
{
	padding: 20px 10px 20px 10px;
	color: Black;
	background-color: #BABABA;
	border-bottom:1px solid #505153;
	white-space:nowrap;
}
.dxIE .dxgvMSDraggable .dxgvHeader_iOS,
.dxIE .dxgvMSDraggable.dxgvGroupPanel_iOS
{
    -ms-touch-action: pinch-zoom;
}
.dxEdge .dxgvMSDraggable .dxgvHeader_iOS,
.dxEdge .dxgvMSDraggable.dxgvGroupPanel_iOS
{
    touch-action: pinch-zoom;
}
.dxgvHeader_iOS
{
	height:28px;
	padding: 0 10px;
	color: #7C7C7C;
	border:1px solid #B3B5B9;
	border-radius: 5px;
	background:#C9C9C9 url('gvHeaderBack.png') repeat-x top;
	white-space:nowrap;
}
table.dxgvTable_iOS td.dxgvHeader_iOS
{
	border-width:0 1px;
	border-bottom-width: 1px;
	height: 40px;
	border-radius: 0px;
	padding-bottom: 1px;
}
table.dxgvTable_iOS .dxgvHeader_iOS:first-child
{
	border-radius:5px 0 0 0;
}
table.dxgvTable_iOS .dxgvHeader_iOS:last-child
{
	border-right:none;
	border-radius:0 5px 0 0 ;
}
.dxgvGroupPanel_iOS .dxgvHeader_iOS,
.dxgvAdaptiveGroupPanel_iOS .dxgvHeader_iOS,
.dxgvAdaptiveHeaderPanel_iOS .dxgvHeader_iOS
{
	background-image: url('gvHeaderBack.png');
	background-repeat: repeat-x;
	border:1px solid #B3B5B9;
	border-radius: 5px;
	height:39px;
}
.dxgvHeader_iOS td
{
	white-space: nowrap;
	font-weight: bold;
	font-size:18px;
	text-shadow: 0 1px 0 #E7E7E7,
				 0 0 1px #908581;
}
.dxgvHeader_iOS a
{
}
.dxgvHeader_iOS a.dxgvCommandColumnItem_iOS
{
	margin: 0 7px 0 0;
}
.dxgvCustomization_iOS, 
.dxgvPopupEditForm_iOS
{
	padding: 0;
	margin: 0;
}
.dxgvGroupPanel_iOS
{
    height:44px;
    text-align: center;
}
.dxgvAdaptiveGroupPanel_iOS,
.dxgvGroupPanel_iOS
{
	color: #AAABAE;
	font-weight: bold;
	text-shadow: 0 1px #EAECF0;	
	width: 100%;
	padding-top:10px;
}
.dxgvAdaptiveGroupPanel_iOS.dxgvEAHP
{
    text-align: center;
}
.dxgvAdaptiveGroupPanel_iOS div.dxgvADH
{
    margin-bottom: 8px;
}
.dxgvAdaptiveHeaderPanel_iOS
{
    color: #AAABAE;
    font-weight: bold;
	text-shadow: 0 1px #EAECF0;
    padding-top: 10px;
}
.dxgvAdaptiveHeaderPanel_iOS.dxgvEAHP
{
    padding: 10px 7px;
}
.dxgvAdaptiveGroupPanel_iOS .dxgvADH > table,
.dxgvAdaptiveHeaderPanel_iOS .dxgvADH > table
{
    border-collapse:separate!important;
}
.dxgvAdaptiveFooterPanel_iOS
{
    border: 1px solid #B3B5B9;
    border-bottom: none;
    border-top: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding-top: 6px;
}
.dxgvAdaptiveFooterPanel_iOS > div.dxgvADFSD
{
    margin-right: 10px;
}
.dxgvAdaptiveHeaderPanel_iOS,
.dxgvAdaptiveFooterPanel_iOS
{
    padding-left: 28px;
}
.dxgvGroupPanel_iOS > table
{
	margin-top: -5px;
	border-collapse:separate!important;
}
.dxgvGroupPanel_iOS > table > tbody > tr > td:not(.dxgvHeader_iOS)
{
	padding-left: 7px;
}

.dxgvFooter_iOS
{
	background-color: white;
	color: Black;
	white-space: nowrap;
}
.dxgvFooter_iOS td.dxgv
{
	padding: 5px 6px 6px;
	border-right-width: 0;
}
.dxgvGroupFooter_iOS
{
	background-color: #F0F2F4;
	color: Black;
}
.dxgvGroupFooter_iOS td.dxgv
{
	white-space: nowrap;
}
.dxgvGroupFooter_iOS td.dxgv
{
	padding: 5px 4px 6px 6px;
	border-right-width: 0;
}
.dxgvEditFormDisplayRow_iOS td.dxgvIndentCell,
.dxgvPreviewRow_iOS td.dxgvIndentCell,
.dxgvGroupFooter_iOS td.dxgvIndentCell
{
}
.dxgvGroupRow_iOS td.dxgvIndentCell,
.dxgvFocusedRow_iOS td.dxgvIndentCell
{
	border-right: none;
}
.dxgvGroupRow_iOS td.dxgvIndentCell
{
	background-color: #F0F2F4;
}

.dxgvDataRow_iOS td.dxgvIndentCell
{
}

.dxgvTitlePanel_iOS, 
table.dxgvTable_iOS caption
{
	font: bold 18px 'Helvetica Neue', Helvetica, Verdana, sans-serif;
	padding: 3px 3px 5px;
	text-align: center;
	color: #4C566C;
    text-shadow: 0 1px #F1F2F5
}
.dxgvTitlePanel_iOS
{
}
.dxgvStatusBar_iOS
{
	font-size: 14px;
	font-weight: bold;
	color: #7D7E7E;
	text-shadow: 0 1px #F1F2F5;
	border-right: 1px Solid #B3B5B9;
	border-left: 1px Solid #B3B5B9;
	border-top: 1px solid ##B3B5B9;
}
.dxgvStatusBar_iOS tr.dxgv
{
	height: 26px;
}
.dxgvStatusBar_iOS tr.dxgv > td
{
	padding: 6px;
}
.dxgvCommandColumn_iOS
{
	padding: 2px;
    white-space: nowrap;
}
.dxgvCommandColumn_iOS a
{
	margin: 0 7px 0 0;
}
.dxgvCommandColumnItem_iOS:not(img)
{
	text-decoration: none;
	border-bottom: 1px dashed #006EE9;
}
.dxbButton_iOS[class~="dxgvCommandColumnItem_iOS"],
.dxgvEditFormTable_iOS div.dxbButton_iOS
{
	font-size: 1.0em;
	margin: -2px 2px;
}
.dxbButton_iOS[class~="dxgvCommandColumnItem_iOS"] .dxb
{
	padding-top: 0;
    padding-bottom: 0;
}
.dxgvEditFormTable_iOS
{
	padding: 2px 6px 6px 4px;
	color: Black;
}
.dxgvEditFormTable_iOS a
{
}
.dxgvEditFormTable_iOS a:hover
{
}
.dxgvEditFormTable_iOS .dxgvCommandColumn_iOS a
{
	color: #006EE9;
	border-bottom: 1px dashed #006EE9;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.dxgvEditFormTable_iOS .dxgvCommandColumn_iOS
{
	padding-top: 15px;
	padding-bottom: 10px;
}

.dxgvEditFormCaption_iOS {
    padding: 4px 4px 4px 10px;
    white-space: nowrap;
}

.dxgvInlineEditCell_iOS
{
	padding: 1px;
}

.dxgvEditFormCell_iOS {
    border-width: 0;
    padding: 4px;
}

.dxgvPagerTopPanel_iOS,
.dxgvPagerBottomPanel_iOS {
    padding-bottom: 1px;
    background-color: #F0F2F4;
    border: 1px solid #B3B5B9;
}
.dxgvPagerBottomPanel_iOS 
{
	border-top: none;
	border-bottom: none;
}

.dxgvFilterBar_iOS
{
	background: #C9C9C9 url('gvFilterBarBack.png') repeat-x top;
	height: 50px;
	border-collapse: separate!important;
	border-top: 1px solid #B3B5B9;
	border-left: 1px solid #B3B5B9;
	border-right: 1px solid #B3B5B9;
}
.dxgvFilterBar_iOS a
{
	
}
.dxgvFilterBarCheckBoxCell_iOS
{
	padding: 0 7px 0 3px;
}
.dxgvFilterBarImageCell_iOS
{
	padding: 0 1px 0 3px;
	cursor: pointer;
}
.dxgvFilterBarExpressionCell_iOS
{
	padding: 5px 5px 8px 0;
	white-space: nowrap;
}
.dxgvFilterBarExpressionCell_iOS a
{
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px dashed #006EE9;
}
.dxgvFilterBarClearButtonCell_iOS
{
	padding: 6px 6px 7px;
}
.dxgvFilterBarClearButtonCell_iOS a
{
	margin: 0 5px 0 0;
	padding: 5px 12px 5px 15px;
    color: #7C7C7C;
    text-decoration:none;
	border-radius: 5px;
	border: solid 1px #B3B5B9;
	background-image: url('gvButtonBack.png');
	background-position: bottom;
	background-repeat:repeat-x;
	background-color: #FBFBFB;
	font-size: 13px;
    font-weight: bold;
    text-shadow: 0 1px #ECECEC;
}
.dxgvFilterBarClearButtonCell_iOS a:active
{
	background-image: url('gvButtonPressedBack.png');
	background-position: bottom;
	background-repeat:repeat-x;
	background-color: #FBFBFB;
}
.dxgvFilterBuilderMainArea_iOS
{
	background: white none;
	padding: 6px 2px;
} 
.dxgvFilterBuilderButtonArea_iOS
{
	background: #ededed none;
	border-top: 1px solid #cfcfcf;
	padding: 6px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4F5F7', endColorstr='#A8ACB9');
	background: -webkit-gradient(linear, left top, left bottom, from(#F4F5F7), to(#A8ACB9));
	background: -moz-linear-gradient(top,  #F4F5F7,  #A8ACB9); 
	white-space: nowrap;
}

.dxgvDataRowHover_iOS
{
}
.dxgvDataRowHover_iOS .dxgvCommandColumn_iOS a
{
}

.dxgvControl_iOS .dxpLite_iOS,
.dxgvDisabled_iOS .dxpLite_iOS
{
	padding-top: 4px;
}

.dxgvDataRow_iOS .dxgvCommandColumn_iOS,
.dxgvFocusedRow_iOS .dxgvCommandColumn_iOS, 
.dxgvSelectedRow_iOS .dxgvCommandColumn_iOS 
{
}

.dxgvControl_iOS .dxgvHFSAC
{
    padding: 5px 0 0 8px;
}
.dxgvControl_iOS .dxgvHFC
{
    padding-left: 8px;
    padding-bottom: 5px;
}
.dxgvControl_iOS .dxgvHFC .dxeCalendar_iOS
{
    margin-left: 28px;
}
.dxgvControl_iOS .dxgvHFSC
{
    padding: 4px 0 0;
}
.dxgvControl_iOS .dxgvHFSC div
{
    height: 1px;
    background: #e0e0e0;
}
.dxgvControl_iOS .dxgvHFLC .dxlbd 
{
    margin: 0;
}
.dxgvControl_iOS div[id$='DXEPLPC']
{
    height: 88px;
}

.dxgvControl_iOS .dxgvHFSD
{
    height: 1px;
    margin: 2px 0;
}
.dxgvControl_iOS .dxgvHFDRC
{
    margin: 15px 15px 25px;
}
.dxgvControl_iOS .dxgvHFDRP
{
    margin-left: 15px;
    margin-right: 15px;
    padding: 9px 0 6px;
}
.dxgvControl_iOS .dxgvHFDRP[id*="HFFDE"]
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.dxgvControl_iOS .dxgvHFDRP[id*="HFTDE"]
{
    margin-bottom: 25px;
}

.dxgvControl_iOS td.dxgvBatchEditCell_iOS
{
    padding: 0;
}
.dxgvControl_iOS td.dxgvBatchEditModifiedCell_iOS
{
    background: #d7f9c7;
}
.dxgvControl_iOS .dxgvErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxgvControl_iOS .dxgvErrorCell img
{
    margin: -2px 0;
}
.dxgvStatusBar_iOS .dxgvCommandColumn_iOS a
{
    margin-right: 10px;
}
.dxgvControl_iOS td.dxgvBatchEditCell_iOS .dxichCellSys
{
    padding-left: 0;
}

.dxgvSearchPanel_iOS
{
    padding: 7px;
    border-bottom: 1px solid #9F9F9F;
}
.dxgvSearchPanel_iOS > table 
{
    width: 70%;
    max-width: 650px;
}
.dxgvControl_iOS .dxgvSearchPanel_iOS .dxbButton_iOS
{
    margin-left: 7px;
    margin-right: 0;
}
*[dir="rtl"].dxgvControl_iOS .dxgvSearchPanel_iOS .dxbButton_iOS {
    margin-left: 0;
    margin-right: 7px;
}
.dxgvControl_iOS .dxgvHL
{
    background: #ffd83a;
	color: #FFFFFF;
	font-weight: bold;
	font-style: normal;
}

/* TODO remove (replace to command button style) */
.dxgvControl_iOS .dxgvSearchPanel_iOS .dxbButton_iOS
{
    font-size: 0.9em;
    margin-top: -2px;
    margin-bottom: -2px;
}
.dxgvControl_iOS .dxgvSearchPanel_iOS .dxbButton_iOS .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}
